.avatars {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.avatars > li {
    display: inline-block;
}

.avatars > li + li {
    margin-left: -0.75rem;
}

.avatar {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    border: 2px solid #f8f9fa;
    background: #f8f9fa;
    color: #fff;
}