asgiref==3.11.0
crispy-bootstrap4==2025.6
Django==5.2.10
django-browser-reload==1.21.0
django-colorfield==0.14.0
django-crispy-forms==2.5
django-debug-toolbar==6.1.0
djangorestframework==3.16.1
Faker==40.1.2
pillow==12.1.0
python-decouple==3.8
sqlparse==0.5.5
tqdm==4.67.1
tzdata==2025.3
