{% extends "accounts/base.html" %}
{% load static %}
{% block content %}

    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/baseNavigationBar.css' %}"/>

    <style>
        .panel {
            box-shadow: none;
        }

        .panel-body *:first-child {
            margin-top: 0;
        }

        .profile-avatar {
            width: 200px;
            position: relative;
            margin: 0px auto;
            margin-top: 196px;
        }
    </style>

    <div id="wrapper" class="wrapper-content">

    </div>

    <script type="text/babel">

        function getCookie(name) {
            let cookieValue = null;

            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');

                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();

                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function getParameterByName(name, url = window.location.href) {
            name = name.replace(/[\[\]]/g, '\\$&');
            let regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }


        class ErrorMessage {
            constructor(internalKey, severity) {
                this.internalKey = internalKey;
                this.severity = severity;
            }
        }

        class NavigationBar {
            constructor(internalKey, code, isActive, component) {
                this.internalKey = internalKey;
                this.code = code;
                this.isActive = isActive;
                this.component = component;
            }
        }

        class ProfileAndVisibilityComponent extends React.Component {
            constructor(props) {
                super(props);

                this.state = {
                    id: null,
                    email: null,
                    firstName: null,
                    lastName: null,
                    publicName: null,
                    jobTitle: null,
                    department: null,
                    canEdit: {
                        firstName: false,
                        lastName: false,
                        publicName: false,
                        jobTitle: false,
                        department: false,
                    },
                    profilePicture: "https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png",
                }
            }

            resetChanges = () => {
                this.refs.email.value = this.state.email
                this.refs.firstName.value = this.state.firstName
                this.refs.lastName.value = this.state.lastName
                this.refs.publicName.value = this.state.publicName
                this.refs.jobTitle.value = this.state.jobTitle
                this.refs.department.value = this.state.department
            }

            updateDetails = () => {

                let firstName = this.refs.firstName.value.trim();
                let lastName = this.refs.lastName.value.trim();
                let publicName = this.refs.publicName.value.trim();
                let jobTitle = this.refs.jobTitle.value.trim();
                let department = this.refs.department.value.trim();
                let errors = [];

                if (!firstName)
                    errors.push(new ErrorMessage("Firstname cannot be empty.", "danger"));

                if (!lastName)
                    errors.push(new ErrorMessage("Lastname cannot be empty.", "danger"));

                if (!publicName)
                    errors.push(new ErrorMessage("Public name cannot be empty.", "danger"));

                if (errors.length !== 0) {
                    this.props.addErrorMessagesBulk(errors);
                    return;
                }

                fetch('{% url 'accounts:userDetailsApiEventVersion1Component' %}', {
                    method: 'PUT',
                    headers: {
                        'Content-type': 'application/json',
                        "X-CSRFToken": getCookie("csrftoken")
                    },
                    body: JSON.stringify({
                        firstName: firstName,
                        lastName: lastName,
                        publicName: publicName,
                        jobTitle: jobTitle,
                        department: department,
                    })
                }).then((response) => response.json())
                    .then((json) => {
                        if (json.success) {
                            this.props.addErrorMessagesBulk([
                                new ErrorMessage("Your details has been updated successfully!", "success")
                            ]);
                        }
                    })
            }

            componentDidMount = () => {
                this.getUserDetails();
                this.getUserProfilePicture();
            }

            updateFieldEditMode = (event) => {
                let canEditState = this.state.canEdit;
                canEditState[event] = !canEditState[event]
                this.setState({
                    canEdit: canEditState
                })
            }

            getUserDetails = () => {

                fetch('{% url 'accounts:userDetailsApiEventVersion1Component' %}', {
                    method: 'GET',
                }).then((response) => response.json())
                    .then((json) => {
                        this.setState(json.data)
                    })
            }

            getUserProfilePicture = () => {
                fetch('{% url 'accounts:userProfilePictureApiEventVersion1Component' %}', {
                    method: 'GET',
                }).then((response) => response.json())
                    .then((json) => {
                        if (json.success) {
                            if (json.data.picture !== null) {
                                this.setState({
                                    profilePicture: json.data.picture
                                })
                            }

                        }
                    })
            }

            generateRandomProfilePicture = () => {

                fetch('{% url 'accounts:userProfilePictureApiEventVersion1Component' %}', {
                    method: 'PUT',
                    headers: {
                        'Content-type': 'application/json',
                        "X-CSRFToken": getCookie("csrftoken")
                    },
                }).then((response) => response.json())
                    .then((json) => {
                        if (json.success) {
                            this.getUserProfilePicture();
                        }
                    })
            }

            openFileDialog = () => {
                $('#profilePicture').click();
            }

            uploadProfilePicture = () => {

                $('<input>').attr({
                    type: 'hidden',
                    name: 'csrfmiddlewaretoken',
                    value: getCookie("csrftoken"),
                }).appendTo('#profilePictureForm');

                $( "#profilePictureForm" ).submit();
            }

            render() {

                const style2 = {
                    marginLeft: "10px",
                }
                return (
                    <div className="container-fluid">
                        <div className="row">
                            <div className="col-lg-12">
                                <h4>Profile and visibility</h4>
                                <hr></hr>
                                <br></br>
                                <div className="form-group">
                                    <p>Manage your personal information and control which information other people
                                        see.</p>
                                    <div className="card">
                                        <div className="card-body">
                                            <div className="form-group row justify-content-center align-items-center">
                                                <div className="panel panel-default">
                                                    <div className="panel-body text-center">
                                                        <img src={this.state.profilePicture}
                                                             className="img-circle profile-avatar"
                                                             alt="User avatar"></img>
                                                    </div>
                                                </div>
                                            </div>
                                            <div className="form-group row justify-content-center align-items-center">
                                                <form method="POST" encType="multipart/form-data"
                                                      id="profilePictureForm">
                                                    <input type="file" name="profilePicture" id="profilePicture"
                                                           onChange={this.uploadProfilePicture} hidden></input>
                                                    <button type="button" className="btn btn-secondary btn-sm"
                                                            onClick={this.openFileDialog}>Upload
                                                    </button>
                                                </form>
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                                <button type="button" className="btn btn-danger btn-sm"
                                                        onClick={this.generateRandomProfilePicture}>Generate
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <br></br>

                                    <h5>About you</h5>

                                    <div className="card">
                                        <div className="card-body">
                                            <div className="form-group row">
                                                <label htmlFor="email"
                                                       className="col-sm-2 col-form-label">Email</label>
                                                <div className="col-sm-10">
                                                    <input type="text" readOnly className="form-control-plaintext"
                                                           id="email" defaultValue={this.state.email}
                                                           ref="email"></input>
                                                </div>
                                            </div>
                                            <div className="form-group row">
                                                <label htmlFor="firstName"
                                                       className="col-sm-2 col-form-label">Firstname</label>
                                                <div className="col-sm-10">
                                                    <input type="text" className="form-control" id="firstName"
                                                           defaultValue={this.state.firstName}
                                                           placeholder="Firstname" ref="firstName"
                                                           onFocus={() => { this.updateFieldEditMode("firstName") }}
                                                           onBlur={() => { this.updateFieldEditMode("firstName") }}
                                                           readOnly={!this.state.canEdit.firstName} required></input>
                                                </div>
                                            </div>
                                            <div className="form-group row">
                                                <label htmlFor="lastName"
                                                       className="col-sm-2 col-form-label">Lastname</label>
                                                <div className="col-sm-10">
                                                    <input type="text" className="form-control" id="lastName"
                                                           defaultValue={this.state.lastName}
                                                           placeholder="Lastname" ref="lastName"
                                                           onClick={() => { this.updateFieldEditMode("lastName") }}
                                                           onBlur={() => { this.updateFieldEditMode("lastName") }}
                                                           readOnly={!this.state.canEdit.lastName} required></input>
                                                </div>
                                            </div>
                                            <div className="form-group row">
                                                <label htmlFor="publicName"
                                                       className="col-sm-2 col-form-label">Public name</label>
                                                <div className="col-sm-10">
                                                    <input type="text" className="form-control" id="publicName"
                                                           onClick={() => { this.updateFieldEditMode("publicName") }}
                                                           onBlur={() => { this.updateFieldEditMode("publicName") }}
                                                           defaultValue={this.state.publicName}
                                                           placeholder="Public name" ref="publicName"
                                                           readOnly={!this.state.canEdit.publicName} required></input>
                                                </div>
                                            </div>
                                            <div className="form-group row">
                                                <label htmlFor="jobTitle"
                                                       className="col-sm-2 col-form-label">Job title</label>
                                                <div className="col-sm-10">
                                                    <input type="text" className="form-control" id="jobTitle"
                                                           onClick={() => { this.updateFieldEditMode("jobTitle") }}
                                                           onBlur={() => { this.updateFieldEditMode("jobTitle") }}
                                                           defaultValue={this.state.jobTitle}
                                                           placeholder="Job title" ref="jobTitle"
                                                           readOnly={!this.state.canEdit.jobTitle}></input>
                                                </div>
                                            </div>
                                            <div className="form-group row">
                                                <label htmlFor="department"
                                                       className="col-sm-2 col-form-label">Department</label>
                                                <div className="col-sm-10">
                                                    <input type="text" className="form-control" id="department"
                                                           onClick={() => { this.updateFieldEditMode("department") }}
                                                           onBlur={() => { this.updateFieldEditMode("department") }}
                                                           defaultValue={this.state.department}
                                                           placeholder="Department" ref="department"
                                                           readOnly={!this.state.canEdit.department}></input>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                </div>
                                <button type="submit" className="btn btn-primary btn-sm"
                                        onClick={this.updateDetails}>Update Details
                                </button>
                                <button type="reset" className="btn btn-light btn-sm" style={style2}
                                        onClick={this.resetChanges}>Reset Changes
                                </button>
                            </div>
                        </div>
                    </div>
                )
            }
        }

        class AccountSecurityComponent extends React.Component {
            constructor(props) {
                super(props);
            }

            resetChanges = () => {
                this.refs.currentPassword.value = "";
                this.refs.newPassword.value = "";
                this.refs.confirmNewPassword.value = "";
            }

            savePassword = () => {
                const currentPassword = this.refs.currentPassword.value;
                const newPassword = this.refs.newPassword.value;
                const confirmNewPassword = this.refs.confirmNewPassword.value;

                fetch('{% url 'accounts:accountSettingsSecurityPasswordUpdateApiEventVersion1Component' %}', {
                    method: 'PUT',
                    headers: {
                        'Content-type': 'application/json',
                        "X-CSRFToken": getCookie("csrftoken")
                    },
                    body: JSON.stringify({
                        currentPassword: currentPassword,
                        newPassword: newPassword,
                        confirmNewPassword: confirmNewPassword,
                    })
                }).then((response) => response.json())
                    .then((json) => {
                        if (json.success) {
                            this.props.addErrorMessagesBulk([
                                new ErrorMessage("Your password has been updated successfully.!", "success")
                            ]);
                        } else {
                            const errors = [];
                            for (const error of json.data.errors) {
                                errors.push(
                                    new ErrorMessage(error, "danger")
                                )
                            }
                            this.props.addErrorMessagesBulk(errors);
                        }
                    })
            }

            render() {
                const style1 = {
                    position: "relative !important",
                    height: "0px !important",
                    width: "0px !important",
                    float: "left !important"
                }

                const style2 = {
                    marginLeft: "10px",
                }
                return (
                    <div className="container-fluid">
                        <div className="row">
                            <div className="col-lg-12">
                                <h4>Security</h4>
                                <hr></hr>
                                <br></br>
                                <div className="form-group">
                                    <h5>Change your password</h5>
                                    <div id="div_id_currentPassword" className="form-group">
                                        <div>
                                            <input type="password" name="currentPassword"
                                                   placeholder="Current password"
                                                   className="textinput textInput form-control"
                                                   required=""
                                                   ref="currentPassword"
                                                   id="id_currentPassword"></input>
                                            <div data-lastpass-icon-root="true"
                                                 style={style1}></div>
                                        </div>
                                    </div>
                                    <div id="div_id_newPassword" className="form-group">
                                        <div><input type="password" name="newPassword"
                                                    placeholder="New password"
                                                    className="textinput textInput form-control"
                                                    required=""
                                                    ref="newPassword"
                                                    id="id_newPassword"></input>
                                            <div data-lastpass-icon-root="true"
                                                 style={style1}></div>
                                        </div>
                                    </div>
                                    <div id="div_id_confirmNewPassword" className="form-group">
                                        <div>
                                            <input type="password" name="confirmNewPassword"
                                                   placeholder="Confirm new password"
                                                   className="textinput textInput form-control"
                                                   required=""
                                                   ref="confirmNewPassword"
                                                   id="id_confirmNewPassword"></input>
                                            <div data-lastpass-icon-root="true"
                                                 style={style1}></div>
                                        </div>
                                    </div>

                                </div>
                                <button type="submit" className="btn btn-primary btn-sm"
                                        onClick={this.savePassword}>Save Password
                                </button>
                                <button type="reset" className="btn btn-light btn-sm" style={style2}
                                        onClick={this.resetChanges}>Reset Changes
                                </button>
                                <hr></hr>
                                <form>
                                    <div className="form-group">
                                        <h5>Two-step verification</h5>
                                        <button className="btn btn-info" type="button">Enable two-factor
                                            authentication
                                        </button>
                                        <p className="small text-muted mt-2">Two-factor authentication adds
                                            an
                                            additional layer of security to your account by requiring more
                                            than just a password to log in.</p>
                                    </div>
                                </form>
                                <hr></hr>
                                <div className="form-group">
                                    <h5>Delete your account</h5>
                                    <div className="alert alert-info" role="alert">
                                        <b>Your account is managed</b>
                                        <br></br>
                                        <small>You can't deactivate or delete your Taskmaster account because it's owned
                                            and managed by an organisation. Contact your organisation's admin for
                                            assistance.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                )
            }
        }

        class AccountNotificationComponent extends React.Component {
            constructor(props) {
                super(props);
            }

            render() {
                return (
                    <div>AccountNotificationComponent</div>
                )
            }
        }

        class BaseSettingsComponent extends React.Component {
            constructor(props) {
                super(props);

                this.state = {
                    navigationItems: [],
                    errorMessages: [],
                }

                this.addErrorMessagesBulk = this.addErrorMessagesBulk.bind(this);
            }

            addErrorMessagesBulk = (errors) => {
                this.setState({
                    errorMessages: errors
                })
            }

            componentDidMount = () => {
                let tab = getParameterByName("tab");

                if (tab == null) {
                    let currentPath = "{% url 'accounts:account-settings' %}";
                    window.history.pushState("", "", currentPath + "?tab=profileAndVisibility");
                }
                let profileAndVisibilityComponentObject = <ProfileAndVisibilityComponent addErrorMessagesBulk={this.addErrorMessagesBulk}/>;
                let accountSecurityComponentObject = <AccountSecurityComponent addErrorMessagesBulk={this.addErrorMessagesBulk}/>;
                let accountNotificationComponent = <AccountNotificationComponent/>;

                const navigationItems = [
                    new NavigationBar("Profile and Visibility", "profileAndVisibility", tab === "profileAndVisibility" || tab == null, profileAndVisibilityComponentObject),
                    new NavigationBar("Security", "security", tab === "security", accountSecurityComponentObject),
                    new NavigationBar("Notifications", "notifications", tab === "notifications", accountNotificationComponent),
                ];

                this.setState({
                    navigationItems: navigationItems
                })
            }

            updateActivePanel = (panelCode) => {
                let tempNavigationItems = this.state.navigationItems;
                this.addErrorMessagesBulk([]);

                for (const item of tempNavigationItems) {
                    item.isActive = item.code === panelCode;
                }

                this.setState({
                    navigationItems: tempNavigationItems
                })

                let currentPath = "{% url 'accounts:account-settings' %}";
                window.history.pushState("", "", currentPath+"?tab="+panelCode);
            }

            render() {
                const style1 = {
                    background: "#f4f3ef",
                }

                const style2 = {
                    backgroundColor: "#929292"
                }

                return (
                    <div>
                        <div id="sidebar-wrapper" style={style1}>
                            <ul className="sidebar-nav">
                                <li className="sidebar-brand">
                                    <a href="#">
                                        Jira Account
                                    </a>
                                </li>
                                <br></br>
                                {this.state.navigationItems.map((item) => <li className={item.code}
                                                                              onClick={() => {
                                                                                  this.updateActivePanel(item.code)
                                                                              }}
                                                                              style={item.isActive ? style2 : null}
                                                                              key={item.code}>{item.internalKey}</li>)}
                            </ul>
                        </div>

                        <div id="page-content-wrapper">
                            {this.state.errorMessages.map((item) => <div className={"alert alert-" + item.severity}
                                                                         role="alert"
                                                                         key={item.internalKey}> {item.internalKey}</div>)}
                            <br></br>
                            {this.state.navigationItems.map((item) => <span
                                key={item.code}> {item.isActive ? item.component : null}</span>)}
                        </div>
                    </div>
                )
            }
        }
        ReactDOM.render(<BaseSettingsComponent/>, document.getElementById('wrapper'));
    </script>

{% endblock %}