{% extends "accounts/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/baseForm.css' %}"/>
<div class="container">
	<br><br><br><br><br>
	<div class="form-container">
		<div class="form-box bg-white" style="-webkit-box-shadow:0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)">
			<div class="form-box-title">Error</div>
			<div class="form-box-social">
				<div class="social-title ">Something went wrong, please re-request the link.</div>
			</div>
			<div class="form-box-or">
				<div class="or-line"></div>
			</div>
			<div class="form-box-submit">
				<!-- TODO: Update href -->
				<a href="#"><button type="submit" class="btn btn-primary btn-block">Home</button></a>
			</div>
		</div>
	</div>
</div>
{% endblock %}