{% extends "accounts/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/baseNavigationBar.css' %}"/>
<div id="wrapper" class="wrapper-content">
    <div id="sidebar-wrapper" style="background:#f4f3ef;">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Jira Account
                </a>
            </li>
            <br>
            <li class="profileAndVisibility">
                <a href="{% url 'accounts:profile-and-visibility' %}">Profile and Visibility</a>
            </li>
            <li class="accountEmail">
                <a href="#">Email</a>
            </li>
            <li class="accountSecurity">
                <a href="{% url 'accounts:account-security' %}">Security</a>
            </li>
            <li class="accountPreferences">
                <a href="#">Account Preferences</a>
            </li>
            <li class="notifications">
                <a href="#">Notifications</a>
            </li>
        </ul>
    </div>

    <div id="page-content-wrapper">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button class="btn-menu btn btn-success btn-toggle-menu" type="button">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
            </div>
        </nav>
        <br>
        {% block profileContent %}
        {% endblock %}
    </div>
</div>
<script type="text/javascript">

    window.onload = function (e) {
        $(".btn-toggle-menu").click(function () {
            $("#wrapper").toggleClass("toggled");
        });

        $(".{{activeTab}}").addClass("active");
    }

</script>
{% endblock %}