{% extends "accounts/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/baseForm.css' %}"/>
<div class="container">
	<br>
	<div class="form-container">
		<div class="form-box bg-white" style="-webkit-box-shadow:0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)">
			<form method="post">
				{% csrf_token %}
				{% if messages %}
					{% for message in messages %}
						{% if message.tags == "error" %}
							<div style="color: black; text-align: center;" class="alert alert-danger"
								 role="alert">{{ message }}</div>
						{% else %}
							<div style="color: black; text-align: center;" class="alert alert-{{ message.tags }}"
								 role="alert">{{ message }}</div>
						{% endif %}
					{% endfor %}
				{% endif %}
				<div class="form-box-title">Login</div>
				<div class="form-box-or">
					<div class="or-line"></div>
				</div>
				<div class="form-box-textbox">
					{{ form | crispy }}
				</div>
				<div class="form-box-submit">
					<input type="submit" class="btn btn-primary btn-block" value="Login">
				</div>
				<div class="form-box-social">
					<div class="social-title ">Forgot your password? <a href="#">Reset Here</a></div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}