{% extends "accounts/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/baseForm.css' %}"/>
<div class="container">
   <br>
   {% if messages %}
	   {% for message in messages %}
	      {% if message.tags == "error" %}
	      	<div style="color: black; text-align: center;" class="alert alert-danger" role="alert">{{message}}</div>
	      {% else %}
	      	<div style="color: black; text-align: center;" class="alert alert-{{ message.tags }}" role="alert">{{message}}</div>
	      {% endif %}
	   {% endfor %}
	{% endif %}
   <div class="form-container">
      <div class="form-box bg-white" style="-webkit-box-shadow:0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)">
         <form method="post">
            {% csrf_token %}
            <div class="form-box-title">Change Password</div>
            <br>
            <div class="form-box-textbox" id="id-form-box-textbox">
               {{form | crispy}}
               <div style="height:10px;"></div>
               <div id="div_id_rememberMe" class="form-check checkbox-inline">
                  <span id="span-id-password-visibility" class="pull-right" onclick="showHidePassword();" style="color: #007bff;cursor: pointer;margin-bottom: 20px;margin-top: -20px;">
                  	Show Password
                  </span>
               </div>
            </div>
            <div class="form-box-submit">
               <input type="submit" class="btn btn-primary btn-block" value="Reset Password">
            </div>
         </form>
      </div>
   </div>
</div>
<script type="text/javascript">

	window.onload = function(e)
	{
		$('#span-id-password-visibility').mousedown(function(e)
			{
				e.preventDefault();
			}
		);
	}

	function showHidePassword()
	{
		var password = $("[name='password']");
		var repeatPassword = $("[name='repeatPassword']");

		if(password.attr("type") == "password")
		{
			password.attr("type","text");
			repeatPassword.attr("type","text");
			$('#span-id-password-visibility').text('Hide Password');
		}
		else
		{
			password.attr("type","password");
			repeatPassword.attr("type","password");
			$('#span-id-password-visibility').text('Show Password');
		}
	}

</script>
{% endblock %}