body,
div,
h1,
h4,
html,
img,
p {
	margin: 0;
	padding: 0
}

dl,
ol,
ul {
	margin: 0
}

img {
	border: 0
}

button {
	-webkit-appearance: button;
	font-family: inherit
}

button::-moz-focus-inner {
	border: 0
}

:focus {
	outline-width: 2px;
	outline-style: solid;
	outline-color: var(--aui-focus);
	outline-offset: 1px;
	-moz-outline-radius: 3px;
	outline-radius: 3px
}

html:not(.aui-no-focusvisible) :focus:not(:focus-visible) {
	outline: unset;
	outline-offset: unset
}

html:not(.aui-no-focusvisible) :focus-visible {
	outline-style: none;
	box-shadow: 0 0 0 2px var(--aui-focus)
}

@media (min--moz-device-pixel-ratio:0) {
	img {
		font-size: 0
	}

	img:-moz-broken {
		font-size: inherit
	}
}

/* module-key = 'com.atlassian.auiplugin:split_aui.splitchunk.056561461c', location = 'aui.splitchunk.056561461c.css' */
html {
	color: var(--aui-body-text);
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	letter-spacing: 0
}

.aui-group,
.aui-tabs,
dl,
ol,
p,
ul {
	margin: 10px 0 0
}

.aui-group:first-child,
.aui-tabs:first-child,
dl:first-child,
ol:first-child,
p:first-child,
ul:first-child {
	margin-top: 0
}

h1 {
	font-size: 24px;
	line-height: 1.25;
	letter-spacing: -.01em
}

h1 {
	font-weight: 500;
	text-transform: none;
	margin: 30px 0 0
}

h4 {
	font-size: 14px;
	line-height: 1.42857143;
	letter-spacing: -.003em
}

h4 {
	font-weight: 600;
	text-transform: none;
	margin: 20px 0 0
}

h1,
h4 {
	color: var(--aui-body-text)
}

/* module-key = 'com.atlassian.auiplugin:split_aui.splitchunk.949297951c', location = 'aui.splitchunk.949297951c.css' */
a {
	color: var(--aui-link-color);
	-webkit-text-decoration: var(--aui-link-decoration);
	text-decoration: var(--aui-link-decoration)
}

a:hover {
	color: var(--aui-link-hover-color);
	-webkit-text-decoration: var(--aui-link-hover-decoration);
	text-decoration: var(--aui-link-hover-decoration)
}

a:active,
a:focus {
	-webkit-text-decoration: var(--aui-link-decoration);
	text-decoration: var(--aui-link-decoration)
}

a:active {
	color: var(--aui-link-active-color)
}

@supports (-ms-accelerator:true) or (-ms-ime-align:auto) {
}

/* module-key = 'com.atlassian.auiplugin:split_aui.splitchunk.7da3927366', location = 'aui.splitchunk.7da3927366.css' */

body {
	background: var(--aui-body-background);
	color: var(--aui-body-text)
}

/*! AUI Page Panel */

/* module-key = 'com.atlassian.auiplugin:split_aui.splitchunk.d7c46c2734', location = 'aui.splitchunk.d7c46c2734.css' */
.aui-icon {
	--aui-icon-size: 16px;
	--aui-icon-font: "Adgs Icons";
	background-repeat: no-repeat;
	background-position: 0 0;
	border: none;
	display: inline-flex;
	font-size: 0;
	height: var(--aui-icon-size);
	line-height: 0;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: left;
	vertical-align: text-bottom;
	width: var(--aui-icon-size)
}

.aui-icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0;
	font-family: var(--aui-icon-font);
	font-weight: 400;
	font-style: normal;
	speak: none;
	color: inherit;
	content: var(--aui-ig, unset);
	font-size: var(--aui-icon-size);
	line-height: 1;
	margin: auto;
	text-indent: 0
}

.aui-icon-small {
	--aui-icon-size: 16px
}

/* module-key = 'com.atlassian.auiplugin:split_aui.splitchunk.fb15cffa72', location = 'aui.splitchunk.fb15cffa72.css' */

/* module-key = 'com.atlassian.auiplugin:split_aui.splitchunk.56dfb54d0c', location = 'aui.splitchunk.56dfb54d0c.css' */

/* module-key = 'com.atlassian.auiplugin:split_aui.splitchunk.908fe798b4', location = 'aui.splitchunk.908fe798b4.css' */

.aui-iconfont-collapsed {
	--aui-ig: "\f11c"
}

.aui-iconfont-expanded {
	--aui-ig: "\f15b"
}

.aui-iconfont-up {
	--aui-ig: "\f1ac"
}

.aui-iconfont-more {
	--aui-ig: "\f17f"
}

/* module-key = 'com.atlassian.auiplugin:split_aui.splitchunk.462ee5f9ef', location = 'aui.splitchunk.462ee5f9ef.css' */

/* module-key = 'com.atlassian.auiplugin:split_aui.splitchunk.50dca3e042', location = 'aui.splitchunk.50dca3e042.css' */

form.aui.aui-legacy-forms .aui-select2-container.select2-container-active .select2-choices:focus-visible {
	box-shadow: unset
}

form.aui:not(.aui-legacy-forms) .aui-select2-container .select2-choices:focus:focus-visible,
form.aui:not(.aui-legacy-forms) .multi-select:focus:focus-visible,
form.aui:not(.aui-legacy-forms) .password:focus:focus-visible,
form.aui:not(.aui-legacy-forms) .select:focus:focus-visible,
form.aui:not(.aui-legacy-forms) .text:focus:focus-visible,
form.aui:not(.aui-legacy-forms) .textarea:focus:focus-visible {
	box-shadow: unset
}

form.aui:not(.aui-legacy-forms) .aui-select2-container.select2-container-active .select2-choices:focus-visible {
	box-shadow: unset
}

form.aui:not(.aui-legacy-forms) .radio input:checked:active:not(:disabled)+.aui-form-glyph:before {
	height: 14px;
	width: 14px;
	background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbC1ydWxlPSJldmVub2RkIj48Y2lyY2xlIGZpbGw9IiNERUVCRkYiIGN4PSIxMiIgY3k9IjEyIiByPSI3Ii8+PGNpcmNsZSBmaWxsPSIjMDA1MkNDIiBjeD0iMTIiIGN5PSIxMiIgcj0iMi4zMzUiLz48L2c+PC9zdmc+") no-repeat -5px -5px;
	line-height: 1;
	position: absolute;
	top: 3px;
	left: 0;
	content: " "
}

form.aui:not(.aui-legacy-forms) .radio input:not(:checked)+.aui-form-glyph:before {
	display: inline-block;
	width: 10px;
	height: 10px;
	position: absolute;
	left: 0;
	top: 3px;
	content: "";
	border: 2px solid var(--aui-form-radio-unchecked-border-color);
	background-color: var(--aui-form-radio-unchecked-bg-color);
	border-radius: 10px
}

form.aui:not(.aui-legacy-forms) .radio input:not(:checked):active:not(:disabled)+.aui-form-glyph:before {
	height: 14px;
	width: 14px;
	background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGNpcmNsZSBmaWxsPSIjREVFQkZGIiBjeD0iMTIiIGN5PSIxMiIgcj0iNyIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+") no-repeat -5px -5px;
	line-height: 1;
	position: absolute;
	top: 3px;
	left: 0;
	content: " ";
	border: none
}

form.aui:not(.aui-legacy-forms) .radio input:not(:checked):disabled~label {
	color: var(--aui-form-disabled-field-label-color)
}

form.aui:not(.aui-legacy-forms) .radio input:not(:checked):disabled+.aui-form-glyph:before {
	color: var(--aui-form-glyph-disabled-icon-color);
	border-color: var(--aui-form-glyph-disabled-fill-color);
	background: var(--aui-form-glyph-disabled-fill-color)
}

form.aui:not(.aui-legacy-forms) .checkbox input:not(:checked)+.aui-form-glyph:before {
	display: inline-block;
	width: 10px;
	height: 10px;
	position: absolute;
	left: 0;
	top: 3px;
	content: "";
	border: 2px solid var(--aui-form-radio-unchecked-border-color);
	background-color: var(--aui-form-radio-unchecked-bg-color);
	border-radius: 4px
}

form.aui:not(.aui-legacy-forms) .checkbox input:not(:checked):active+.aui-form-glyph:before {
	background-color: var(--aui-form-checkbox-active-bg-color);
	border-color: var(--aui-form-checkbox-active-bg-color)
}

form.aui:not(.aui-legacy-forms) .checkbox input:not(:checked):disabled~label {
	color: var(--aui-form-disabled-field-label-color)
}

form.aui:not(.aui-legacy-forms) .checkbox input:not(:checked):disabled+.aui-form-glyph:before {
	color: var(--aui-form-glyph-disabled-icon-color);
	border-color: var(--aui-form-glyph-disabled-fill-color);
	background: var(--aui-form-glyph-disabled-fill-color)
}

/* module-key = 'com.atlassian.auiplugin:split_aui.splitchunk.862f26d10a', location = 'aui.splitchunk.862f26d10a.css' */
/*! AUI Button */
.aui-button {
	box-sizing: border-box;
	transition: background-color .1s ease-out;
	border-radius: 3.01px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	font-family: inherit;
	font-size: 14px;
	font-variant: normal;
	font-weight: 400;
	background-image: none;
	background-color: var(--aui-btn-bg);
	border: 1px solid var(--aui-btn-border);
	color: var(--aui-btn-text);
	display: inline-block;
	height: 2.14285714em;
	line-height: 1.42857143em;
	margin: 0;
	padding: 4px 10px;
	vertical-align: initial;
	white-space: nowrap
}

html:not(.aui-no-focusvisible) .aui-button:focus:not(:focus-visible) {
	outline-style: none;
	outline-offset: unset
}

html:not(.aui-no-focusvisible) .aui-button:focus-visible {
	outline-style: none;
	box-shadow: 0 0 0 2px var(--aui-focus)
}

.aui-button {
	--aui-btn-bg: var(--aui-button-default-bg-color);
	--aui-btn-border: var(--aui-button-default-border-color, transparent);
	--aui-btn-text: var(--aui-button-default-text-color);
	text-decoration: none
}

.aui-button:link,
.aui-button:visited {
	background-image: none;
	background-color: var(--aui-btn-bg);
	border: 1px solid var(--aui-btn-border);
	color: var(--aui-btn-text);
	text-decoration: none
}

.aui-button-subtle {
	--aui-btn-bg: var(--aui-button-subtle-bg-color, transparent);
	--aui-btn-border: var(--aui-button-subtle-border-color, transparent);
	--aui-btn-text: var(--aui-button-subtle-text-color, currentColor)
}

.aui-button:focus,
.aui-button:hover {
	--aui-btn-bg: var(--aui-button-default-hover-bg-color);
	--aui-btn-text: var(--aui-button-default-text-color)
}

.aui-button:active {
	--aui-btn-bg: var(--aui-button-default-active-bg-color);
	--aui-btn-text: var(--aui-button-default-active-text-color)
}

.aui-button.aui-button-compact {
	font-size: 12px;
	height: 2.16666667em;
	padding: 2px 8px;
	line-height: 1.66666667
}

.aui-button.aui-button-compact .aui-icon {
	margin-top: -1px;
	vertical-align: middle
}

.aui-button .aui-icon {
	color: inherit
}

/* module-key = 'com.atlassian.auiplugin:split_aui.splitchunk.b2ecdd4179', location = 'aui.splitchunk.b2ecdd4179.css' */
.aui-avatar {
	--aui-avatar-size: 32px;
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	vertical-align: text-bottom
}

.aui-avatar-inner {
	display: flex;
	justify-content: center;
	align-content: center;
	height: var(--aui-avatar-size);
	max-width: var(--aui-avatar-size);
	max-height: var(--aui-avatar-size);
	width: var(--aui-avatar-size);
	border-radius: 100%;
	overflow: hidden
}

.aui-avatar img {
	display: block;
	height: 100%;
	margin: auto;
	width: 100%
}

.aui-avatar.aui-avatar-xsmall {
	--aui-avatar-size: 16px
}

.aui-avatar.aui-avatar-small {
	--aui-avatar-size: 24px
}

.aui-avatar.aui-avatar-large {
	--aui-avatar-size: 48px
}

.aui-avatar-project {
	--aui-avatar-radius: 3px
}

.aui-avatar-project,
.aui-avatar-project .aui-avatar-inner {
	border-radius: var(--aui-avatar-radius)
}

.aui-avatar-project.aui-avatar-large {
	--aui-avatar-radius: 3px
}

/* module-key = 'com.atlassian.auiplugin:split_aui.splitchunk.141abf7fb1', location = 'aui.splitchunk.141abf7fb1.css' */
.aui-page-header-inner {
	box-sizing: border-box;
	display: flex;
	align-items: center
}

.aui-page-header-actions,
.aui-page-header-image,
.aui-page-header-main {
	margin: 0;
	padding: 0;
	text-align: left
}

.aui-page-header-image {
	flex-grow: 0;
	white-space: nowrap;
	align-self: flex-start
}

.aui-page-header-main {
	flex-grow: 1
}

.aui-page-header-image+.aui-page-header-main {
	padding-left: 10px
}

.aui-page-header-main>h1 {
	margin: 0
}

.aui-page-header-actions {
	padding-left: 20px;
	text-align: right
}

/* module-key = 'com.atlassian.auiplugin:split_aui.splitchunk.4a667cc1ee', location = 'aui.splitchunk.4a667cc1ee.css' */
.aui-group {
	display: table;
	box-sizing: border-box;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%
}

.aui-group>.aui-item {
	box-sizing: border-box;
	display: table-cell;
	margin: 0;
	vertical-align: top
}

.aui-group>.aui-item+.aui-item {
	padding-left: 20px
}

/* module-key = 'com.atlassian.auiplugin:split_aui.splitchunk.3db8886820', location = 'aui.splitchunk.3db8886820.css' */

/* module-key = 'com.atlassian.auiplugin:split_aui.splitchunk.5b8c290363', location = 'aui.splitchunk.5b8c290363.css' */

html:not(.aui-no-focusvisible) .aui-layer:focus:not(:focus-visible) {
	outline-style: none;
	outline-offset: unset
}

html:not(.aui-no-focusvisible) .aui-layer:focus-visible {
	outline-style: none;
	box-shadow: 0 0 0 2px var(--aui-focus)
}

/* module-key = 'com.atlassian.auiplugin:split_aui.splitchunk.b652d2668a', location = 'aui.splitchunk.b652d2668a.css' */
/*! AUI Navigation */
.aui-nav,
.aui-nav>li {
	list-style: none;
	margin: 0;
	padding: 0
}

.aui-nav-breadcrumbs:after {
	clear: both;
	content: " ";
	display: table
}

.aui-nav-breadcrumbs>li {
	float: left
}

.aui-nav-breadcrumbs>li>a:focus {
	outline-style: none;
	box-shadow: 0 0 0 2px var(--aui-focus);
	border-radius: 2px
}

.aui-nav-breadcrumbs>li {
	padding: 0 10px 0 0
}

.aui-nav-breadcrumbs>li+li:before {
	color: var(--aui-border-strong);
	content: "/";
	padding-right: 10px
}

/* module-key = 'com.atlassian.auiplugin:split_aui.splitchunk.b548966f06', location = 'aui.splitchunk.b548966f06.css' */

@supports (-ms-accelerator:true) or (-ms-ime-align:auto) {
}

/* module-key = 'com.atlassian.auiplugin:split_aui.splitchunk.f5244b0828', location = 'aui.splitchunk.f5244b0828.css' */

.aui-header .aui-quicksearch input:focus:focus-visible {
	box-shadow: unset
}


@supports (-ms-accelerator:true) or (-ms-ime-align:auto) {
}

@supports (-ms-accelerator:true) or (-ms-ime-align:auto) {
}

/* module-key = 'com.atlassian.auiplugin:split_aui.deprecated.component.dropdown1', location = 'aui.deprecated.component.dropdown1.css' */
.aui-dd-parent {
	position: relative
}

@supports (-ms-accelerator:true) or (-ms-ime-align:auto) {
}

/* module-key = 'com.atlassian.auiplugin:split_aui.deprecated.component.dialog1', location = 'aui.deprecated.component.dialog1.css' */

@supports (-ms-accelerator:true) or (-ms-ime-align:auto) {
}

/* module-key = 'com.atlassian.auiplugin:split_aui.component.tabs', location = 'aui.component.tabs.css' */

.aui-tabs {
	display: flex
}

.aui-tabs>.tabs-pane {
	display: none
}

.aui-tabs>.tabs-pane.active-pane {
	display: block
}

.aui-tabs>.tabs-menu>.menu-item>a {
	background: transparent;
	cursor: pointer;
	display: block;
	font-weight: 500;
	text-overflow: ellipsis;
	white-space: nowrap
}

.aui-tabs>.tabs-menu .menu-item {
	position: relative
}

.aui-tabs>.tabs-menu .menu-item a,
.aui-tabs>.tabs-menu .menu-item a:link,
.aui-tabs>.tabs-menu .menu-item a:visited {
	color: var(--aui-tabs-tab-text-color)
}

.aui-tabs>.tabs-menu .menu-item a:focus,
.aui-tabs>.tabs-menu .menu-item a:hover {
	color: var(--aui-tabs-tab-hover-text-color)
}

.aui-tabs>.tabs-menu .menu-item a:focus {
	outline-style: none;
	box-shadow: 0 0 0 2px var(--aui-focus);
	border-radius: 2px
}

.aui-tabs>.tabs-menu .menu-item.active-tab a,
.aui-tabs>.tabs-menu .menu-item.active-tab a:active,
.aui-tabs>.tabs-menu .menu-item.active-tab a:focus,
.aui-tabs>.tabs-menu .menu-item.active-tab a:hover,
.aui-tabs>.tabs-menu .menu-item.active-tab a:link,
.aui-tabs>.tabs-menu .menu-item.active-tab a:visited {
	color: var(--aui-tabs-tab-active-text-color)
}

.aui-tabs.horizontal-tabs {
	flex-direction: column
}

.aui-tabs.horizontal-tabs>.tabs-menu {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	list-style: none;
	margin: 0;
	padding: 0
}

.aui-tabs.horizontal-tabs>.tabs-menu:before {
	background: var(--aui-tabs-tab-border-color);
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 10px;
	position: absolute;
	right: 10px;
	width: auto;
	z-index: auto
}

.aui-tabs.horizontal-tabs>.tabs-menu>.menu-item.active-tab a {
	position: relative
}

.aui-tabs.horizontal-tabs>.tabs-menu>.menu-item.active-tab a:before {
	background: var(--aui-tabs-tab-active-border-color);
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 10px;
	position: absolute;
	right: 10px;
	width: auto;
	z-index: 1
}

.aui-tabs.horizontal-tabs>.tabs-pane {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px
}

.aui-tabs.horizontal-tabs>.tabs-menu>.menu-item {
	margin: 0
}

.aui-tabs.horizontal-tabs>.tabs-menu>.menu-item a,
.aui-tabs.horizontal-tabs>.tabs-menu>.menu-item a:active,
.aui-tabs.horizontal-tabs>.tabs-menu>.menu-item a:focus,
.aui-tabs.horizontal-tabs>.tabs-menu>.menu-item a:hover {
	display: block;
	padding: 5px 10px;
	text-decoration: none
}

.aui-tabs.horizontal-tabs>.tabs-menu>.menu-item.active-tab a,
.aui-tabs.horizontal-tabs>.tabs-menu>.menu-item.active-tab a:active,
.aui-tabs.horizontal-tabs>.tabs-menu>.menu-item.active-tab a:focus,
.aui-tabs.horizontal-tabs>.tabs-menu>.menu-item.active-tab a:hover,
.aui-tabs.horizontal-tabs>.tabs-menu>.menu-item.active-tab a:link,
.aui-tabs.horizontal-tabs>.tabs-menu>.menu-item.active-tab a:visited {
	color: var(--aui-tabs-tab-active-text-color)
}

aui-badge {
	background: var(--aui-badge-bg-color);
	border-radius: 2em;
	color: var(--aui-badge-text-color);
	font-size: 12px;
	font-weight: 400;
	line-height: 1;
	margin: 0;
	min-height: 1em;
	min-width: 1em;
	padding: 2px 6px;
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	justify-items: center;
	align-content: center;
	text-decoration: none;
	text-shadow: none;
	text-transform: uppercase
}

.aui-lozenge {
	background: var(--aui-lozenge-bg-color);
	border: 0;
	border-radius: 3px;
	color: var(--aui-lozenge-text-color);
	display: inline-block;
	font-size: 11px;
	font-weight: 700;
	line-height: 1;
	margin: 0;
	padding: 2px 5px 3px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase
}

.aui-lozenge.aui-lozenge-subtle {
	background-color: var(--aui-lozenge-subtle-bg-color);
	color: var(--aui-lozenge-subtle-text-color)
}


@supports (-ms-accelerator:true) or (-ms-ime-align:auto) {
}

/* module-key = 'jira.webresources:icons', location = '/ui/aui-layout/icons.less' */

.icon-default {
	color: #344563
}

/* module-key = 'jira.webresources:list-styles', location = '/includes/ajs/list/list.less' */
.aui-list ul {
	list-style: none;
	margin: 0;
	padding: 2px 0
}

.aui-list .aui-list-item-link {
	display: block;
	margin: 0;
	padding: 3px 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.aui-list a:link,
.aui-list a:visited {
	color: #172b4d;
	text-decoration: none
}

.aui-list a:hover,
.aui-list a:focus {
	text-decoration: none
}

.aui-list .aui-list-checked {
	padding-left: 20px
}

.aui-list .aui-list-checked.aui-checked {
	background: url("data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///////wAAACH5BAEAAAIALAAAAAALAAsAAAIQlI+pywK/nlQSpgqibbynAgA7") no-repeat 4px 7px
}

.aui-list .aui-list-section+.aui-list-section {
	border-top: 1px solid #c1c7d0
}

.aui-dropdown-content {
	display: none
}

.jira-issue-status-lozenge {
	vertical-align: text-bottom;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 12em;
	word-wrap: normal;
	word-break: normal
}

.aui-lozenge.jira-issue-status-lozenge-blue-gray {
	background-color: #42526e;
	border-color: #42526e;
	color: #fff
}

.aui-lozenge.jira-issue-status-lozenge-green {
	background-color: #00875a;
	border-color: #00875a;
	color: #fff
}

.aui-lozenge.jira-issue-status-lozenge-yellow {
	background-color: #0052cc;
	border-color: #0052cc;
	color: #fff
}

.aui-lozenge.aui-lozenge-subtle.jira-issue-status-lozenge-green {
	background-color: #e3fcef;
	border-color: #e3fcef;
	color: #064
}

.aui-lozenge.aui-lozenge-subtle.jira-issue-status-lozenge-yellow {
	background-color: #deebff;
	border-color: #deebff;
	color: #0747a6
}

.jira-issue-status-lozenge-max-width-short {
	max-width: 8em
}

.jira-issue-status-lozenge-max-width-medium {
	max-width: 12em
}


.jira-multi-select>textarea.text:not(:focus) {
	background: #ebecf0;
	border-color: transparent
}

.jira-multi-select>textarea.text:not(:focus):hover {
	background-color: #dfe1e5
}

.jira-multi-select:hover textarea:not(:focus) {
	background-color: #dfe1e5
}

.jira-multi-select:hover textarea:not(:focus)~.representation button {
	background-color: #fff
}