{% extends "accounts/base.html" %}
{% load jiraTags %}
{% load static %}
{% block content %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/kanbanBoardCSS1.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/kanbanBoardCSS2.css' %}">

    <link type="text/css" rel="stylesheet" href="{% static 'css/boardSettingsCSS1.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/boardSettingsCSS2.css' %}">

    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    {% boardPanelItems board.url as boardPanelItems %}

    <style>
        #ghx-mapping {
            max-width: 98%
        }
    </style>

    <body class=" ghx-agile ghx-rapid-views aui-page-sidebar aui-sidebar-collapsed ghx-scroll-columns ">
    <div id="page">
        <div id="announcement-banner" class="alertHeader">
        </div>
        <div id="content">
            <section class="aui-sidebar projects-sidebar fade-in" resolved="" aria-expanded="false" id="sidebar"
                     aria-label="Sidebar">
                <div class="aui-sidebar-wrapper" style="height: 583px;">
                    <div class="col" style="margin-top: 10px">
                        <ul class="navbar-nav mr-auto">
                            {% for panel in boardPanelItems %}
                                {% if not panel.subLinks %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ panel.url }}"
                                           data-toggle="tooltip"
                                           data-placement="right" title="{{ panel.name }}">{{ panel.icon|safe }}</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                           title="{{ panel.name }}">
                                            {{ panel.icon|safe }}
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            {% for subLink in panel.subLinks %}
                                                <a class="dropdown-item" href="{{ subLink.url }}">{{ subLink.name }}</a>
                                            {% endfor %}
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </section>
            <main role="main" id="main" class="ghx-gh  aui-page-panel">
                <div id="gh" class="ghx-no-touch">
                    <div id="ghx-header">
                        <div id="ghx-view-selector">
                            <h1>
                                <span class="subnav-container">
                                    <span id="subnav-title">
                                      <span class="subnavigator-title"
                                            title="Kanban board">{{ board.internalKey }} board columns</span>
                                    </span>
                                  </span>
                            </h1>
                        </div>
                    </div>
                    <div id="ghx-content-main" class="ghx-content-main">
                        <div id="ghx-rabid" style="">
                            <div id="ghx-report" class="ghx-chart" style="display: none;"></div>
                            <div id="ghx-work" class="ghx-work">
                                <div id="ghx-pool-column">
                                </div>
                                <div id="ghx-detail-view" class="ghx-detail-view gh-editable-detail-view"
                                     style="width: 400px; display: none;"></div>
                            </div>
                            <div id="ghx-team"></div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    </body>

    <script type="text/babel">

        function getCookie(name) {
            let cookieValue = null;

            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');

                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();

                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        class ColumnStatusInstanceComponent extends React.Component {
            constructor(props) {
                super(props);

                let lozenge = null;

                if (this.props.status.category === "TODO") {
                    lozenge = "jira-issue-status-lozenge aui-lozenge jira-issue-status-lozenge-blue-gray jira-issue-status-lozenge-new aui-lozenge-subtle jira-issue-status-lozenge-max-width-long";
                } else if (this.props.status.category === "IN_PROGRESS" || this.props.status.category === null) {
                    lozenge = "jira-issue-status-lozenge aui-lozenge jira-issue-status-lozenge-yellow jira-issue-status-lozenge-indeterminate aui-lozenge-subtle jira-issue-status-lozenge-max-width-long";
                } else if (this.props.status.category === "DONE") {
                    lozenge = "jira-issue-status-lozenge aui-lozenge jira-issue-status-lozenge-green jira-issue-status-lozenge-done aui-lozenge-subtle jira-issue-status-lozenge-max-width-long";
                }

                this.state = {
                    lozenge: lozenge
                }
            }

            render() {
                return (
                    <li id={this.props.status.id}>
                        <div className="ghx-status" data-statusid={this.props.status.id}>
                            <div className="ghx-name">
                                {#<div className="ghx-lozenge-wrap">#}
                                <div>
                                    <span className={this.state.lozenge}
                                          aria-describedby="aui-tooltip">{this.props.status.internalKey}
                                    </span>
                                </div>
                            </div>
                            <br></br>
                            <div className="row">
                                <div className="ghx-qty col">{this.props.status.issues} issues</div>
                                <div className="ghx-done col-auto">
                                    <input id={"resolution-update-" + this.props.status.id}
                                           className="js-resolution-update"
                                           title="Tick to set the resolution to 'Done' when an issue is transitioned to this status"
                                           type="checkbox" defaultChecked={this.props.status.setResolution}>
                                    </input>
                                    <label>
                                        <span className="ghx-resolution-update-disabled">Set resolution</span>
                                    </label>
                                </div>
                            </div>
                            <div className="ghx-actions"></div>
                        </div>
                    </li>
                )
            }
        }

        class ColumnInstanceComponent extends React.Component {
            constructor(props) {
                super(props);
            }

            componentDidMount = () => {
                $(".connectedSortable").sortable({
                    connectWith: ".connectedSortable",
                    dropOnEmpty: true
                }).disableSelection();
            }

            deleteColumn = () => {
                Swal.fire({
                    title: 'Are you sure you want to delete this column?',
                    text: "You won't be able to revert this! Statuses in this column will be unmapped. Tickets using these statues may not appear in your board unless a column is assigned.",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes!'
                }).then((result) => {
                    if (result.isConfirmed) {

                        fetch('{% url 'jira:agileBoardColumnOperationApiEventVersion1Component' boardId=board.id%}', {
                            method: 'DELETE',
                            headers: {
                                'Content-type': 'application/json',
                                'X-CSRFToken': getCookie("csrftoken")
                            },
                            body: JSON.stringify({
                                'function': 'DELETE_COLUMN',
                                'columnId': this.props.column.id,

                            })
                        }).then((response) => response.json())
                            .then((json) => {
                                this.props.fetchAgileBoardColumn();
                            })


                    }
                })

            }

            render() {

                const style1 = {
                    backgroundColor: this.props.column.colour
                }

                const style2 = {
                    minHeight: "10px"
                }

                const style3 = {
                    minHeight: "32px"
                }
                return (
                    <ul className="ghx-column-wrapper ghx-config-status ghx-mapped card"
                        data-column-id={this.props.column.id} id={this.props.column.id}>
                        <li className="ghx-header">
                            <div className="ghx-config-operator" style={style3}>
                                <div className="ghx-action ghx-config-move"></div>
                                {
                                    this.props.column.canDelete ?
                                        <button type="button" className="btn aui-button float-right"
                                                onClick={this.deleteColumn}>
                                            <i className='fas fa-ellipsis-h'></i>
                                        </button>
                                        :
                                        <div></div>
                                }

                            </div>
                            <h3 className="ghx-header-name" data-arialabel="Column name"
                                data-fieldname="name"
                                data-fieldvalue={this.props.column.internalKey}
                                title={this.props.column.internalKey}>{this.props.column.internalKey}</h3>
                            <div className="ghx-border-bottom" style={style1}></div>
                        </li>
                        <div className="connectedSortable" style={style2}
                             id={"listOfColumnStatusInstanceComponent-" + this.props.column.id}>
                            {this.props.column.columnStatusGroups.map((status) => <ColumnStatusInstanceComponent
                                key={status.id} status={status}/>)}
                        </div>
                    </ul>
                )
            }
        }

        class ColumnGroupComponent extends React.Component {

            constructor(props) {
                super(props);

                this.state = {
                    columnGroups: [],
                    unMappedStatusColumn: null,
                    canEdit: "{{ isAdmin }}" === "True" ? "" : "none"
                }

                this.fetchAgileBoardColumn = this.fetchAgileBoardColumn.bind(this)
            }

            fetchAgileBoardColumn() {
                fetch('{% url 'jira:agileBoardColumnOperationApiEventVersion1Component' boardId=board.id%}', {
                    method: 'GET',
                }).then((response) => response.json())
                    .then((json) => {
                        this.setState({
                            columnGroups: json.data.columnGroups,
                            unMappedStatusColumn: json.data.unMappedStatusColumn
                        })
                    })
            }

            componentDidMount = () => {
                this.fetchAgileBoardColumn();

                $("#ghx-mapping-columns").sortable({
                    revert: true
                });
            }

            createColumnInstance = () => {

                let name = this.refs.columnNameInput.value;
                let category = this.refs.columnCategoryInput.value;

                fetch('{% url 'jira:agileBoardColumnOperationApiEventVersion1Component' boardId=board.id%}', {
                    method: 'POST',
                    headers: {
                        'Content-type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken'),
                    },
                    body: JSON.stringify({
                        'function': 'CREATE_BOARD_COLUMN',
                        'name': name,
                        'category': category,
                    })
                }).then((response) => response.json())
                    .then((json) => {
                        this.fetchAgileBoardColumn();
                    })

                this.resetAddColumnModal();

            }

            createStatusInstance = () => {
                let name = this.refs.statusNameInput.value;
                let category = this.refs.statusCategoryInput.value;

                fetch('{% url 'jira:agileBoardColumnOperationApiEventVersion1Component' boardId=board.id%}', {
                    method: 'POST',
                    headers: {
                        'Content-type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken'),
                    },
                    body: JSON.stringify({
                        'function': 'CREATE_COLUMN_STATUS',
                        'name': name,
                        'category': category,
                    })
                }).then((response) => response.json())
                    .then((json) => {
                        this.fetchAgileBoardColumn();
                    })

                this.resetAddStatusModal();
            }

            resetAddColumnModal = () => {
                this.refs.columnNameInput.value = "";
            }

            resetAddStatusModal = () => {
                this.refs.statusNameInput.value = "";
            }

            saveBoard = () => {
                // get all the columns and status for each column.
                let boardUpdate = [];
                const boardColumnsInOrder = $.map($('#ghx-mapping-columns > ul'), ul => ul.id);
                let checkedBoxes = [];

                for (const item of boardColumnsInOrder) {

                    // list of column status that belong to this column.
                    // BUG
                    let statusIds = $.map($(`#listOfColumnStatusInstanceComponent-${item} > li`), li => li.id);


                    for (let i = 0; i < statusIds.length; i++) {
                        // all the column status which are true to set resolution
                        let checkBoxId = `#resolution-update-${statusIds[i]}`;
                        if ($(checkBoxId).is(":checked"))
                            checkedBoxes.push(statusIds[i]);
                    }

                    boardUpdate.push({
                        columnId: item,
                        statusIds: statusIds
                    });
                }

                $.ajax({
                    url: "{% url 'jira:agileBoardColumnOperationApiEventVersion1Component' boardId=board.id%}",
                    data: {
                        columnAndStatus: JSON.stringify(boardUpdate),
                        checkedBoxes: checkedBoxes,
                    },
                    headers: {
                        "X-CSRFToken": getCookie("csrftoken")
                    },
                    type: 'PUT',
                    dataType: 'json',
                    success: function (response) {
                        if (response.success) {
                            //window.location.reload();
                        }
                    }
                });
            }

            render() {

                const style1 = {
                    minHeight: "45px",
                }

                const style2 = {
                    minHeight: "10px",
                }
                const style3 = {
                    marginRight: "40px",
                }

                const style5 = {
                    pointerEvents: this.state.canEdit
                }

                const style6 = {
                    backgroundColor: "#0052cc",
                    color: "white",
                }
                const style7 = {
                    backgroundColor: "#ebecf0",
                }
                return (
                    <div style={style5}>
                        <div className="modal fade" id="addColumnModal" tabIndex="-1" role="dialog"
                             aria-labelledby="addColumnModalLabel" aria-hidden="true">
                            <div className="modal-dialog" role="document">
                                <div className="modal-content">
                                    <div className="modal-header">
                                        <h3 className="modal-title">Add column</h3>
                                        <button type="button" className="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div className="modal-body">
                                        <div className="form-group">
                                            <label htmlFor="columnName">Name</label>
                                            <input type="text" className="form-control" id="columnName"
                                                   ref="columnNameInput"></input>
                                        </div>
                                        <div className="form-group">
                                            <label htmlFor="columnCategory">Category</label>
                                            <select className="form-control" id="columnCategory"
                                                    defaultValue="IN_PROGRESS" ref="columnCategoryInput">
                                                <option value="TODO">To Do</option>
                                                <option value="IN_PROGRESS">In progress</option>
                                                <option value="DONE">Done</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div className="modal-footer">
                                        <button type="button" className="btn" data-dismiss="modal"
                                                onClick={this.createColumnInstance} style={style6}>Add
                                        </button>
                                        <button type="button" className="btn" data-dismiss="modal"
                                                onClick={this.resetAddColumnModal} style={style7}>Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style={style2}></div>

                        <div className="modal fade" id="addStatusModal" tabIndex="-1" role="dialog"
                             aria-labelledby="addStatusModalLabel" aria-hidden="true">
                            <div className="modal-dialog" role="document">
                                <div className="modal-content">
                                    <div className="modal-header">
                                        <h3 className="modal-title">Add status</h3>
                                        <button type="button" className="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div className="modal-body">
                                        <div className="form-group">
                                            <label htmlFor="statusName">Name</label>
                                            <input type="text" className="form-control" id="statusName"
                                                   ref="statusNameInput"></input>
                                        </div>
                                        <div className="form-group">
                                            <label htmlFor="statusCategory">Category</label>
                                            <select className="form-control" id="statusCategory"
                                                    defaultValue="IN_PROGRESS" ref="statusCategoryInput">
                                                <option value="TODO">To Do</option>
                                                <option value="IN_PROGRESS">In progress</option>
                                                <option value="DONE">Done</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div className="modal-footer">
                                        <button type="button" className="btn" data-dismiss="modal"
                                                onClick={this.createStatusInstance} style={style6}>Add
                                        </button>
                                        <button type="button" className="btn" data-dismiss="modal"
                                                onClick={this.resetAddStatusModal} style={style7}>Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" className="btn aui-button float-right" hidden></button>
                        <button type="button" className="btn aui-button float-right" style={style3}
                                disabled={this.state.canEdit}
                                onClick={this.saveBoard}>Save Board
                        </button>
                        <button type="button" className="btn aui-button float-right" data-toggle="modal"
                                data-target="#addStatusModal">Add Status
                        </button>
                        <button type="button" className="btn aui-button float-right" data-toggle="modal"
                                data-target="#addColumnModal">Add Column
                        </button>
                        <div style={style1}></div>
                        <div id="ghx-mapping" data-last-updated="1661583240833" className="container-fluid">

                            <div id="ghx-mapping-columns-wrapper">

                                <div id="ghx-mapping-columns">
                                    {this.state.columnGroups.map((column) => <ColumnInstanceComponent key={column.id}
                                                                                                      fetchAgileBoardColumn={this.fetchAgileBoardColumn}
                                                                                                      column={column}/>)}
                                    {
                                        this.state.unMappedStatusColumn != null ?
                                            <ColumnInstanceComponent column={this.state.unMappedStatusColumn}/> :
                                            <span></span>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>

                )
            }

        }

        ReactDOM.render(<ColumnGroupComponent/>, document.getElementById('ghx-pool-column'));
    </script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% endblock %}