{% extends "accounts/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/avatarsIcon.css' %}"/>
<style type="text/css">
    body {
        color: black;
    }
</style>

<div class="modal fade bd-example-modal-lg" id="newBoardModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="color: black;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create board</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="tab-content">
                        <dl class="row">
                            <dd class="col-md-12">
                                <label style="font-size: 85%; color: #6c757d;">Name</label>
                                <input class="form-control col" type="text" placeholder="Board name" name="board-name" required>
                            </dd>
                            <dd class="col-md-12">
                                <label style="font-size: 85%; color: #6c757d;">Admins</label>
                                <div class="form-group">
                                    <select class="form-control select2bs4" multiple="multiple" name="board-admins" data-placeholder="Select board admins." style="width: 100%" required>
                                        {% for p in profiles %}
                                            <option value="{{ p.user.id }}">{{ p.user.get_full_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </dd>
                            <dd class="col-md-12">
                                <label style="font-size: 85%; color: #6c757d;">Members</label>
                                <div class="form-group">
                                    <select class="form-control select2bs4" multiple="multiple" name="board-members" data-placeholder="Select board members." style="width: 100%" required>
                                        {% for p in profiles %}
                                            <option value="{{ p.user.id }}">{{ p.user.get_full_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </dd>
                            <dd class="col-md-12">
                                <label style="font-size: 85%; color: #6c757d;">Projects</label>
                                <div class="form-group">
                                    <select class="form-control select2bs4" multiple="multiple" name="board-projects" data-placeholder="Select project(s) this board will be used for." style="width: 100%" required>
                                        {% for p in projects %}
                                            <option value="{{ p.id }}">{{ p.internalKey }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </dd>
                        </dl>
                        <hr>
                        <h6>Visibility</h6>
                        <div class="row">
                            <div class="col">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="visibility-everyone" name="board-visibility" value="visibility-everyone" class="custom-control-input" checked="">
                                    <label class="custom-control-label" for="visibility-everyone">Everyone</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="visibility-members" name="board-visibility" value="visibility-members" class="custom-control-input">
                                    <label class="custom-control-label" for="visibility-members">Members</label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            You can these details at any time.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-primary" type="submit" value="Create board">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin: auto;overflow-x: hipen; color: black; max-width: 1800px;">
    <br>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col">
                    <h3>Boards</h3>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#newBoardModal">New board</button>
                </div>
            </div>
            <br>
            {% if boards.count > 0 %}
                <table id="boardTable" class="table table-sm table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Admin</th>
                            <th>Project</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for b in boards %}
                        <tr>
                            <td>
                                <a href="{{ b.getUrl }}">{{ b.internalKey }}</a>
                            </td>
                            {% if b.admins.count == 1 %}
                                <td>
                                    {% for admin in b.admins.all %}
                                        <span class="row">
                                             <span class="col">
                                                 <span class="d-flex align-items-center">
                                                     {% if debug %}
                                                         <img alt="{{ admin.get_full_name }}" class="avatar filter-by-alt"
                                                              src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png"
                                                              data-filter-by="alt">
                                                     {% elif admin.profile.profilePicture %}
                                                         <img alt="{{ admin.get_full_name }}" class="avatar filter-by-alt"
                                                              src="{{ admin.profile.profilePicture.url }}"
                                                              data-filter-by="alt">
                                                     {% endif %}
                                                     &nbsp;&nbsp;
                                                     <a href="#">{{ admin.get_full_name }}</a>
                                                </span>
                                            </span>
                                        </span>
                                    {% endfor %}
                                </td>
                            {% else %}
                                <td>
                                    <ul class="avatars">
                                        {% for admin in b.admins.all %}
                                            <li>
                                                <a href="#" data-toggle="tooltip"
                                                   data-original-title="{{ admin.get_full_name }}"
                                                   title="{{ admin.get_full_name }}">
                                                    {% if debug %}
                                                        <img alt="{{ admin.get_full_name }}"
                                                             class="avatar filter-by-alt"
                                                             src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png"
                                                             data-filter-by="alt">
                                                    {% elif admin.developerProfile.profilePicture %}
                                                        <img alt="{{ admin.get_full_name }}"
                                                             class="avatar filter-by-alt"
                                                             src="{{ admin.developerProfile.profilePicture.url }}"
                                                             data-filter-by="alt">
                                                    {% endif %}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            {% endif %}
                            {% if b.projects.count == 1 %}
                                <td>
                                    {% for project in b.projects.all %}
                                        <span>
                                             <span class="row">
                                                <span class="col">
                                                    <span class="d-flex align-items-center">
                                                    {% if debug %}
                                                        <img alt="{{ project.internalKey }}" class="avatar filter-by-alt"
                                                              src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png"
                                                              data-filter-by="alt">
                                                     {% elif project.icon %}
                                                         <img alt="{{ project.internalKey }}" class="avatar filter-by-alt"
                                                              src="{{ project.icon.url }}" data-filter-by="alt">
                                                     {% endif %}
                                                         &nbsp;&nbsp;
                                                     <a href="{{ project.getProjectUrl }}">{{ project.internalKey }}</a>
                                                     </span>
                                                </span>
                                             </span>
                                        </span>
                                    {% endfor %}
                                </td>
                            {% else %}
                                <td>
                                    <ul class="avatars">
                                        {% for project in b.projects.all %}
                                            <li>
                                                <a href="#" data-toggle="tooltip"
                                                   data-original-title="{{ project.internalKey }}"
                                                   title="{{ project.internalKey }}">
                                                    {% if debug %}
                                                        <img alt="{{ project.internalKey }}"
                                                             class="avatar filter-by-alt"
                                                             src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png"
                                                             data-filter-by="alt">
                                                    {% elif project.icon %}
                                                        <img alt="{{ project.internalKey }}"
                                                             class="avatar filter-by-alt"
                                                             src="{{ project.icon.url }}" data-filter-by="alt">
                                                    {% else %}
                                                        <img alt="{{ project.internalKey }}"
                                                             class="avatar filter-by-alt"
                                                             src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png"
                                                             data-filter-by="alt">
                                                    {% endif %}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-primary text-center" role="alert">
                    Looks like there's no board to see. Create one.
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('.select2bs4').select2();
    });

    // $( function ()
    //     {
    //         $("#boardTable").DataTable(
    //             {
    //                 "responsive": true,
    //                 "autoWidth": false,
    //                 "paging": true,
    //                 "searching": true,
    //                 "ordering": true,
    //                 "info": false,
    //                 "pageLength": 10,
    //             }
    //         );

    //         $('#boardTable_length').remove();
    //     }
    // );
</script>
{% endblock %}