{% extends "accounts/base.html" %}
{% load jiraTags %}
{% load static %}
{% block content %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/kanbanBoardCSS1.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/kanbanBoardCSS2.css' %}">

    <link type="text/css" rel="stylesheet" href="{% static 'css/boardSettingsCSS1.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/boardSettingsCSS2.css' %}">

    {% boardPanelItems board.url as boardPanelItems %}

    <body class=" ghx-agile ghx-rapid-views aui-page-sidebar aui-sidebar-collapsed ghx-scroll-columns ">
    <div id="page">
        <div id="announcement-banner" class="alertHeader">
        </div>
        <div id="content">
            <section class="aui-sidebar projects-sidebar fade-in" aria-expanded="false" id="sidebar"
                     aria-label="Sidebar">
                <div class="aui-sidebar-wrapper" style="height: 583px;">
                    <div class="col" style="margin-top: 10px">
                        <ul class="navbar-nav mr-auto">
                            {% for panel in boardPanelItems %}
                                {% if not panel.subLinks %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ panel.url }}"
                                           data-toggle="tooltip"
                                           data-placement="right" title="{{ panel.name }}">{{ panel.icon|safe }}</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                           title="{{ panel.name }}">
                                            {{ panel.icon|safe }}
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            {% for subLink in panel.subLinks %}
                                                <a class="dropdown-item" href="{{ subLink.url }}">{{ subLink.name }}</a>
                                            {% endfor %}
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </section>
            <main role="main" id="main" class="ghx-gh  aui-page-panel">
                <div id="gh" class="ghx-no-touch">
                    <div id="ghx-header">
                        <div id="ghx-view-selector">
                            <h1>
                                <span class="subnav-container">
                                    <span id="subnav-title">
                                      <span class="subnavigator-title">General details</span>
                                    </span>
                                  </span>
                            </h1>
                        </div>
                    </div>
                    <div id="ghx-content-main" class="ghx-content-main">
                        <div id="ghx-rabid" style="">
                            <div id="ghx-report" class="ghx-chart" style="display: none;"></div>
                            <div id="ghx-work" class="ghx-work">
                                <div id="ghx-pool-column">

                                    <div class="col" style="max-width: 80%; padding-top: 10px">

                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label"></label>
                                            <div class="col-sm-10">
                                                <button type="button" class="btn aui-button float-right"
                                                        onclick="updateBoardGeneralDetails();">
                                                    Save Board
                                                </button>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="board-name" class="col-sm-2 col-form-label">Board Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="board-name"
                                                       name="board-name" value="{{ board.internalKey }}">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="board-projects" class="col-sm-2 col-form-label">
                                                Projects in board
                                            </label>
                                            <div class="col-sm-10">
                                                <select class="form-control select2bs4" multiple="multiple"
                                                        name="board-projects"
                                                        id="board-projects"
                                                        data-placeholder="Select project(s) this board will be used for."
                                                        required>
                                                    {% for project in projects %}
                                                        <option value="{{ project.id }}">{{ project.internalKey }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="board-admins" class="col-sm-2 col-form-label">
                                                Board admins
                                            </label>
                                            <div class="col-sm-10">
                                                <select class="form-control select2bs4" multiple="multiple"
                                                        name="board-admins"
                                                        id="board-admins"
                                                        required>
                                                    {% for profile in profiles %}
                                                        <option value="{{ profile.user.id }}">{{ profile.user.get_full_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="board-members" class="col-sm-2 col-form-label">
                                                Board members
                                            </label>
                                            <div class="col-sm-10">
                                                <select class="form-control select2bs4" multiple="multiple"
                                                        name="board-members"
                                                        id="board-members"
                                                        required>
                                                    {% for profile in profiles %}
                                                        <option value="{{ profile.user.id }}">{{ profile.user.get_full_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="board-visibility" class="col-sm-2 col-form-label">Board
                                                Name</label>
                                            <div class="col-sm-10">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" id="visibility-everyone"
                                                                   name="board-visibility"
                                                                   value="visibility-everyone"
                                                                   class="custom-control-input"
                                                                    {% if not board.isPrivate %} checked {% endif %}>
                                                            <label class="custom-control-label"
                                                                   for="visibility-everyone">Everyone</label>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" id="visibility-members"
                                                                   name="board-visibility"
                                                                   value="visibility-members"
                                                                   class="custom-control-input"
                                                                    {% if board.isPrivate %}
                                                                   checked {% endif %}>
                                                            <label class="custom-control-label"
                                                                   for="visibility-members">Members</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    </body>

    <script type="text/javascript">

        window.onload = function () {
            $('.select2bs4').select2({
                theme: 'bootstrap4',
            });

            renderSelectComponents();
        }

        function getCookie(name) {
            let cookieValue = null;

            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');

                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();

                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        let boardProjectIdsList = [];
        let boardAdminsIdsList = [];
        let boardMembersIdsList = [];

        {% for project in board.projects.all %}
            boardProjectIdsList.push('{{project.id}}');
        {% endfor %}

        {% for admin in board.admins.all %}
            boardAdminsIdsList.push('{{admin.id}}');
        {% endfor %}

        {% for member in board.members.all %}
            boardMembersIdsList.push('{{member.id}}');
        {% endfor %}

        function renderSelectComponents() {
            $('#board-projects').select2().val(boardProjectIdsList).trigger("change");
            $('#board-admins').select2().val(boardAdminsIdsList).trigger("change");
            $('#board-members').select2().val(boardMembersIdsList).trigger("change");
        }

        function resetBoardGeneralDetails() {
            $("#board-name").val("{{ board.internalKey }}");
            renderSelectComponents();

            {% if board.isPrivate %}
                $("#visibility-members").prop("checked", true);
            {% else %}
                $("#visibility-everyone").prop("checked", true);
            {% endif %}
        }

        function updateBoardGeneralDetails() {
            let boardName = $('#board-name').val();
            let boardProjects = $('#board-projects').val();
            let boardAdminIds = $('#board-admins').val();
            let boardMemberIds = $('#board-members').val();
            let boardVisibility = $('input[name="board-visibility"]:checked').val();

            let isValid = true;
            let errorMessage = null;

            if (boardName && !boardName.trim() || boardName.length === 0) {
                // $('#board-name').val('{{ board.internalKey }}');
                isValid = false;
                errorMessage = "Board name is empty.";
            }

            if (boardProjects.length === 0) {
                isValid = false;
                errorMessage = "You must add at least one project in this board.";
            }

            if (boardAdminIds.length === 0) {
                isValid = false;
                errorMessage = "You must add at least one admin in this board.";
            }

            if (!isValid) {
                Swal.fire(
                    {
                        icon: "error",
                        title: "Can't do that!",
                        text: errorMessage
                    }
                );
                return;
            }

            $.ajax(
                {
                    url: "{% url 'jira:boardSettingsViewGeneralDetailsApiEventVersion1Component' url=board.url %}",
                    type: 'PUT',
                    data: {
                        'board-name': boardName,
                        'board-projects': boardProjects,
                        'board-admins': boardAdminIds,
                        'board-members': boardMemberIds,
                        'board-visibility': boardVisibility,
                    },
                    headers: {
                        "X-CSRFToken": getCookie("csrftoken")
                    },
                    dataType: 'json',
                }
            );
        }
    </script>

{% endblock %}