{% extends "accounts/base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid" style="margin: auto;overflow-x: hipen; color: black; max-width: 1800px;">
        <br>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col">
                        <h3>System Dashboard</h3>
                    </div>
                </div>
                <br>
                {% if componentListByIssueType|length > 0 %}
                    <table id="componentsTableByIssueType" class="table table-sm table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Components</th>
                            {% for component in ticketIssueType %}
                                <th class="gadget_image">
                                    <img src={{ component.icon }} height="16" width="16"
                                         alt="{{ component.internalKey }}"
                                         title="{{ component.internalKey }}">
                                    &nbsp;
                                    {{ component.internalKey }}
                                </th>
                            {% endfor %}
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for d in componentListByIssueType %}
                            <tr>
                                <td>
                                    {{ d.internalKey }}
                                </td>
                                {% for key, values in d.issueCounter.items %}
                                    <td>
                                        {{ values.count }}
                                    </td>
                                {% endfor %}
                                <td>
                                    {{ d.total }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-primary text-center" role="alert">
                        Looks like there's no component to see. Create one.
                    </div>
                {% endif %}

                <br>
                <br>

                {% if componentListByPriority|length > 0 %}
                    <table id="componentsTableByPriority" class="table table-sm table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Components</th>
                            {% for component in ticketPriority %}
                                <th class="gadget_image">
                                    <img src={{ component.icon }} height="16" width="16"
                                         alt="{{ component.internalKey }}"
                                         title="{{ component.internalKey }}">
                                    &nbsp;
                                    {{ component.internalKey }}
                                </th>
                            {% endfor %}
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for d in componentListByPriority %}
                            <tr>
                                <td>
                                    {{ d.internalKey }}
                                </td>
                                {% for key, values in d.issueCounter.items %}
                                    <td>
                                        {{ values.count }}
                                    </td>
                                {% endfor %}
                                <td>
                                    {{ d.total }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-primary text-center" role="alert">
                        Looks like there's no component to see. Create one.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            $('.select2bs4').select2();
        });

        $(function () {
                $("#componentsTableByIssueType, #componentsTableByPriority").DataTable(
                    {
                        "responsive": true,
                        "autoWidth": false,
                        "paging": true,
                        "searching": true,
                        "ordering": true,
                        "info": false,
                        "pageLength": 10,
                    }
                );

                $('#componentsTableByIssueType_length').remove();
                $('#componentsTableByPriority_length').remove();
            }
        );
    </script>
{% endblock %}