{% extends "accounts/base.html" %}
{% load static %}
{% block content %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

    <style type="text/css">
        body {
            color: black;
            font-family: "Roboto", sans-serif;
        }

        .checkbox-menu li label {
            display: block;
            padding: 3px 10px;
            clear: both;
            font-weight: normal;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
            margin: 0;
            transition: background-color .4s ease;
        }

        .checkbox-menu li input {
            margin: 0px 5px;
            top: 2px;
            position: relative;
        }

        .checkbox-menu li.active label {
            background-color: #cbcbff;
            font-weight: bold;
        }

        .checkbox-menu li label:hover,
        .checkbox-menu li label:focus {
            background-color: #f5f5f5;
        }

        .checkbox-menu li.active label:hover,
        .checkbox-menu li.active label:focus {
            background-color: #b8b8ff;
        }
    </style>

    <div class="container-fluid" style="margin: auto; color: black; max-width: 1800px;">
        <br>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col">
                        <h3>Issues</h3>
                    </div>
                </div>
                <br>
                <div class="row" id="filterDropdowns"></div>
                <br>
                {% if tickets|length > 0 %}
                    <table id="ticketsTable" class="table table-sm table-borderless table-hover">
                        <thead>
                        <tr>
                            <th>T</th>
                            <th>Key</th>
                            <th>Summary</th>
                            <th>Assignee</th>
                            <th>Reporter</th>
                            <th>P</th>
                            <th>Status</th>
                            <th>Resolution</th>
                            <th>Created</th>
                            <th>Modified</th>
                        </tr>
                        </thead>
                        <tbody id="id-table-tbody">
                        {% for t in tickets %}
                            <tr>
                                <td style="text-align: center;">
                                    <img alt="{{ t.issueType.internalKey }}" src="{{ t.issueType.icon }}"
                                         title="{{ t.issueType.internalKey }}" loading="lazy"
                                         width="17" height="17">
                                </td>
                                <td><a href="{{ t.link }}" style="color: #505f79">{{ t.internalKey }}</a></td>
                                <td><a href="{{ t.link }}">{{ t.summary }}</a></td>
                                <td>
                                    {% if t.assignee %}
                                        <img alt="{{ t.assignee.firstName }} {{ t.assignee.lastName }}"
                                             src="{{ t.assignee.icon }}"
                                             title="{{ t.assignee.firstName }} {{ t.assignee.lastName }}"
                                             loading="lazy"
                                             width="25" height="25"> {{ t.assignee.firstName }}
                                        {{ t.assignee.lastName }}
                                    {% else %}
                                        <img alt="Unassigned"
                                             src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png"
                                             title="Unassigned"
                                             loading="lazy"
                                             width="25" height="25"> Unassigned
                                    {% endif %}
                                </td>
                                <td>
                                    {% if t.reporter %}
                                        <img alt="{{ t.reporter.firstName }} {{ t.reporter.lastName }}"
                                             src="{{ t.reporter.icon }}"
                                             title="{{ t.reporter.firstName }} {{ t.reporter.lastName }}"
                                             loading="lazy"
                                             width="25" height="25"> {{ t.reporter.firstName }}
                                        {{ t.reporter.lastName }}
                                    {% else %}
                                        <img alt="Unassigned"
                                             src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png"
                                             title="Unassigned"
                                             loading="lazy"
                                             width="25" height="25"> Unassigned
                                    {% endif %}
                                </td>
                                <td style="text-align: center;">
                                    <img alt="{{ t.priority.internalKey }}"
                                         src="{{ t.priority.icon }}"
                                         title="{{ t.priority.internalKey }}"
                                         loading="lazy"
                                         width="25" height="25">
                                </td>
                                <td><span class="badge"
                                          style="background-color: {{ t.status.colour }}; color: white;text-transform: uppercase;">{{ t.status.internalKey }}</span>
                                </td>
                                <td><i>{{ t.resolution.internalKey }}</i></td>
                                <td>{{ t.created }}</td>
                                <td>{{ t.modified }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-primary text-center" role="alert">
                        No issues were found to match your search. Try to broaden your filters.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <script type="text/javascript">

        const dropdownMapping = [
            {
                id: "project",
                internalKey: "Project:",
                isMultiple: true,
                enabled: true,
                url: "{% url 'jira:projectObjectApiEventVersion1Component' projectId=0 %}",
                replyKey: "projects",
                cssType: "IMAGE",
            },
            {
                id: "issueType",
                internalKey: "Type:",
                isMultiple: true,
                enabled: true,
                url: "{% url 'accounts:componentByComponentGroupObjectApiEventVersion1Component' attribute='TICKET_ISSUE_TYPE' %}",
                replyKey: "components",
                cssType: "IMAGE",
            },
            {
                id: "resolution",
                internalKey: "Resolution:",
                isMultiple: true,
                enabled: true,
                url: "{% url 'accounts:componentByComponentGroupObjectApiEventVersion1Component' attribute='TICKET_RESOLUTIONS' %}",
                replyKey: "components",
                cssType: "TEXT",
            },
            {
                id: "priority",
                internalKey: "Priority:",
                isMultiple: true,
                enabled: true,
                url: "{% url 'accounts:componentByComponentGroupObjectApiEventVersion1Component' attribute='TICKET_PRIORITY' %}",
                replyKey: "components",
                cssType: "IMAGE",
            },
            {
                id: "label",
                internalKey: "Label:",
                isMultiple: true,
                enabled: true,
                url: "{% url 'jira:labelObjectApiEventVersion1Component' %}",
                replyKey: "labels",
                cssType: "TEXT",
            },
            {
                id: "componentList",
                internalKey: "Component:",
                isMultiple: true,
                enabled: false,
                url: null,
                replyKey: "components",
                cssType: "TEXT",
            },
            {
                id: "columnStatus",
                internalKey: "Status:",
                isMultiple: true,
                enabled: true,
                url: "{% url 'jira:columnStatusObjectApiEventVersion1Component' %}",
                replyKey: "status",
                cssType: "BADGE",
            },
        ]

        window.onload = function (e) {
            let filterDropdownsContainer = $('#filterDropdowns');

            for(const mapping of dropdownMapping) {
                if (!mapping.enabled)
                    continue;

                filterDropdownsContainer.append(
                    `<div class="col-auto">
                        <select id=${mapping.id} data-live-search="true" multiple></select>
                    </div>`
                )

                let dropdownSelectPicker = $("#"+mapping.id);

                dropdownSelectPicker.selectpicker({
                    actionsBox: true,
                    liveSearch: true,
                    liveSearchNormalize: true,
                    width: 'fit',
                    title: mapping.internalKey,
                    showContent: false,
                });

                fetch(mapping.url, {
                    method: 'GET',
                }).then((response) => response.json())
                    .then((response) => {
                        if (response.success) {
                            let optionList = response.data[mapping.replyKey];

                            for (const option of optionList) {
                                let optionElement = null;

                                if (mapping.cssType === "IMAGE") {
                                    optionElement = `<option value="${option.internalKey}" data-content="<img src='${option.icon}' width='20' height='20'>&nbsp; ${option.internalKey}">${option.internalKey}</option>`;
                                } else if (mapping.cssType === "TEXT") {
                                    optionElement = `<option value="${option.internalKey}">${option.internalKey}</option>`;
                                } else if (mapping.cssType === "BADGE") {
                                    optionElement = `<option value="${option.internalKey}" data-content="<span class='badge' style='background-color: ${option.colour}; color: white;text-transform: uppercase;'>${option.internalKey}</span>">${option.internalKey}</option>`;
                                } else {

                                }
                                dropdownSelectPicker.append(
                                    optionElement
                                )
                            }

                            dropdownSelectPicker.selectpicker('refresh');

                            // set the dropdown default values using the search query parameters.
                            let parameterValues = getParameterByName(mapping.id);
                            let parameterValuesList = parameterValues ? parameterValues.split(',') : [];
                            dropdownSelectPicker.selectpicker('val', parameterValuesList);
                        }
                    })
            }

            filterDropdownsContainer.append(
                `<div class="dropdown">
                    <input class="btn btn-sm" type="button" style="background-color: #f5f6f8; color: black" value="Submit" onclick="updateQuery()">
                    &nbsp;
                    <input class="btn btn-sm" type="button" style="background-color: #0052cc; color: white;" value="Clear all" onclick="clearAllQuery();">
                </div>`
            )
        }

        function getNewUrl() {
            // generate new path based on the dropdown selected values.
            let currentPath = "{% url 'jira:issuesListView' %}";
            let urlParameters = [];

            for (const mapping of dropdownMapping) {
                if (!mapping.enabled)
                    continue;

                let selectedOptions = $("#" + mapping.id).val();

                if (selectedOptions.length > 0)
                    urlParameters.push(mapping.id + "=" + selectedOptions.join(","))
            }

            if (urlParameters.length > 0)
                currentPath = currentPath + "?" + urlParameters.join("&");

            return currentPath;
        }

        function getCurrentUrl() {
            let currentPath = "{% url 'jira:issuesListView' %}";
            let urlParameters = [];

            for (const mapping of dropdownMapping) {
                if (!mapping.enabled)
                    continue;

                let parameterValues = getParameterByName(mapping.id);

                if (!parameterValues)
                    continue;

                urlParameters.push(mapping.id + "=" + parameterValues)
            }

            if (urlParameters.length > 0)
                currentPath += "?";

            return currentPath + urlParameters.join("&");
        }

        function updateQuery() {
            let newPath = getNewUrl();
            let currentPath = "{% url 'jira:issuesListView' %}" + window.location.search;

            if (newPath === currentPath)
                return;

            window.history.pushState("", "", newPath);
            location.reload();
        }

        function clearAllQuery() {
            let currentPath = "{% url 'jira:issuesListView' %}";
            window.history.pushState("", "", currentPath);
            location.reload();
        }

        function getParameterByName(name, url = window.location.href) {
            name = name.replace(/[\[\]]/g, '\\$&');
            let regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }

        $(function () {
            $("#ticketsTable").DataTable({
                "responsive": true,
                "autoWidth": false,
                "paging": true,
                "searching": true,
                "ordering": true,
                "info": false,
                "pageLength": 18,
            });

            $('#ticketsTable_length').remove();
        });
    </script>
{% endblock %}