{% extends "accounts/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/avatarsIcon.css' %}"/>

<style type="text/css">
    body {
        color: black;
    }
</style>

<div class="container-fluid" style="margin: auto;overflow-x: hipen; color: black; max-width: 1800px;">
    <br>
    <div class="col-lg-6 col-md-12">
        <div>
            <h4>
                <bold>Details</bold>
            </h4>
            <br>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <dl class="row">

                    <dd class="col-sm-3">
                        <label style="color: #6c757d;">{{ form.name.label_tag }}</label>
                    </dd>
                    <dd class="col-sm-9">
                        {{ form.name }}
                    </dd>
                    {% for error in form.name.errors %}
                        <span style="color: red">{{ error }}</span>
                    {% endfor %}

                    <!--  -->

                    <dd class="col-sm-3">
                        <label style="color: #6c757d;">{{ form.key.label_tag }}</label>
                    </dd>
                    <dd class="col-sm-9">
                        {{ form.key }}
                    </dd>

                    <!--  -->

                    <dd class="col-sm-3">
                        <label style="color: #6c757d;">{{ form.lead.label_tag }}</label>
                    </dd>
                    <dd class="col-sm-9">
                        <div class="form-group">
                            {{ form.lead }}
                        </div>
                    </dd>

                    <!--  -->

                    <dd class="col-sm-3">
                        <label style="color: #6c757d;">{{ form.status.label_tag }}</label>
                    </dd>
                    <dd class="col-sm-9">
                        <div class="form-group">
                        {{ form.status }}
                        </div>
                    </dd>

                    <!--  -->

                    <dd class="col-sm-3">
                        <label style="color: #6c757d;">{{ form.startDate.label_tag }}</label>
                    </dd>
                    <dd class="col-sm-9">
                        {{ form.startDate }}
                    </dd>

                    <!--  -->

                    <dd class="col-sm-3">
                        <label style="color: #6c757d;">{{ form.endDate.label_tag }}</label>
                    </dd>
                    <dd class="col-sm-9">
                        {{ form.endDate }}
                    </dd>

                    <!--  -->

                    <dd class="col-sm-3">
                        <label style="color: #6c757d;">{{ form.description.label_tag }}</label>
                    </dd>
                    <dd class="col-sm-9">
                        {{ form.description }}
                    </dd>

                    <!--  -->

                    <dd class="col-sm-3">
                        <label style="color: #6c757d;">Avatar</label>
                    </dd>
                    <dd class="col-sm-9">
                        <div class="card-body media align-items-center">
                            {% if project.icon %}
                                <img src="{{ project.icon.url }}" width="50px" class="rounded-0">
                            {% else %}
                                <img src="https://icon-library.com/images/default-user-icon/default-user-icon-13.jpg"
                                     alt="" class="d-block ui-w-80 rounded-circle">
                            {% endif %}
                            <div class="media-body ml-4">
                                <label class="btn btn-danger" for="project-icon">
                                    <i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;&nbsp;
                                    <input id="project-icon" name="project-icon" type="file" style="display:none"
                                           onchange="$('#upload-file-info').html(this.files[0].name)"> Choose a File
                            </div>
                        </div>
                    </dd>

                    <!--  -->

                    <dd class="col-sm-3">
                        <label style="color: #6c757d;">{{ form.members.label_tag }}</label>
                    </dd>
                    <dd class="col-sm-9">
                        <div class="form-group">
                        {{ form.members }}
                        </div>
                    </dd>

                    <!--  -->

                    <dd class="col-sm-3">
                        <label style="color: #6c757d;">{{ form.components.label_tag }}</label>
                    </dd>
                    <dd class="col-sm-9">
                        <div class="form-group">
                        {{ form.components }}
                        </div>
                    </dd>

                    <!--  -->

                    <dd class="col-sm-3">
                        <label style="color: #6c757d;">{{ form.visibility.label_tag }}</label>
                    </dd>
                    <dd class="col-sm-9">
                        <div class="row">

                            {% for radio in form.visibility %}
                                <div class="col">
                                    <div class="custom-control custom-radio">
                                        {{ radio }}
                                    </div>
                                </div>
                            {% endfor %}

{#                        <div class="col">#}
{#                                <div class="custom-control custom-radio">#}
{#                                    <input type="radio" id="visibility-everyone" name="project-visibility"#}
{#                                           value="visibility-everyone" class="custom-control-input"#}
{#                                            {% if not project.isPrivate %} checked {% endif %}>#}
{#                                    <label class="custom-control-label" for="visibility-everyone">Everyone</label>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col">#}
{#                                <div class="custom-control custom-radio">#}
{#                                    <input type="radio" id="visibility-members" name="project-visibility"#}
{#                                           value="visibility-members" class="custom-control-input"#}
{#                                            {% if project.isPrivate %} checked {% endif %}>#}
{#                                    <label class="custom-control-label" for="visibility-members">Members</label>#}
{#                                </div>#}
{#                            </div>#}

                        </div>
                    </dd>
                </dl>

                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-primary btn-sm pull-right">Save details
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <hr>
    <div class="col-lg-12 col-md-12">
        <div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <h4>
                            <bold>Boards</bold>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- TODO: Display all the boards which has this project. -->
                <div class="col" id="project-boards-container">
                    {% if project.boardProjects.count == 0 %}
                        <div class="alert alert-primary text-center" role="alert">
                            Looks like there's no board to see. Create one.
                        </div>
                    {% else %}
                        <table id="boardTable" class="table table-sm table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Admins</th>
                                <th>Members</th>
                                <th>Type</th>
                                <th>Project</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for b in project.boardProjects.all %}

                                <tr>
                                    <td>
                                        <a href="{{ b.getUrl }}">{{ b.internalKey }}</a>
                                    </td>
                                    {% if b.admins.count == 1 %}
                                        <td>
                                            {% for admin in b.admins.all %}
                                                <span class="row">
                                             <span class="col">
                                                 <span class="d-flex align-items-center">
                                                     {% if debug %}
                                                         <img alt="{{ admin.get_full_name }}"
                                                              class="avatar filter-by-alt"
                                                              src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png"
                                                              data-filter-by="alt">
                                                     {% elif admin.profile.profilePicture %}
                                                         <img alt="{{ admin.get_full_name }}"
                                                              class="avatar filter-by-alt"
                                                              src="{{ admin.profile.profilePicture.url }}"
                                                              data-filter-by="alt">
                                                     {% endif %}
                                                     &nbsp;&nbsp;
                                                     <a href="#">{{ admin.get_full_name }}</a>
                                                </span>
                                            </span>
                                        </span>
                                            {% endfor %}
                                        </td>
                                    {% else %}
                                        <td>
                                            <ul class="avatars">
                                                {% for admin in b.admins.all %}
                                                    <li>
                                                        <a href="#" data-toggle="tooltip"
                                                           data-original-title="{{ admin.get_full_name }}"
                                                           title="{{ admin.get_full_name }}">
                                                            {% if debug %}
                                                                <img alt="{{ admin.get_full_name }}"
                                                                     class="avatar filter-by-alt"
                                                                     src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png"
                                                                     data-filter-by="alt">
                                                            {% elif admin.developerProfile.profilePicture %}
                                                                <img alt="{{ admin.get_full_name }}"
                                                                     class="avatar filter-by-alt"
                                                                     src="{{ admin.developerProfile.profilePicture.url }}"
                                                                     data-filter-by="alt">
                                                            {% endif %}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    {% endif %}
                                    {% if b.members.count == 1 %}
                                        <td>
                                            {% for member in b.members.all %}
                                                <span class="row">
                                             <span class="col">
                                                 <span class="d-flex align-items-center">
                                                     {% if debug %}
                                                         <img alt="{{ member.get_full_name }}"
                                                              class="avatar filter-by-alt"
                                                              src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png"
                                                              data-filter-by="alt">
                                                     {% elif member.profile.profilePicture %}
                                                         <img alt="{{ member.get_full_name }}"
                                                              class="avatar filter-by-alt"
                                                              src="{{ member.profile.profilePicture.url }}"
                                                              data-filter-by="alt">
                                                     {% endif %}
                                                     &nbsp;&nbsp;
                                                     <a href="#">{{ member.get_full_name }}</a>
                                                </span>
                                            </span>
                                        </span>
                                            {% endfor %}
                                        </td>
                                    {% else %}
                                        <td>
                                            <ul class="avatars">
                                                {% for member in b.members.all %}
                                                    <li>
                                                        <a href="#" data-toggle="tooltip"
                                                           data-original-title="{{ member.get_full_name }}"
                                                           title="{{ member.get_full_name }}">
                                                            {% if debug %}
                                                                <img alt="{{ member.get_full_name }}"
                                                                     class="avatar filter-by-alt"
                                                                     src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png"
                                                                     data-filter-by="alt">
                                                            {% elif member.developerProfile.profilePicture %}
                                                                <img alt="{{ member.get_full_name }}"
                                                                     class="avatar filter-by-alt"
                                                                     src="{{ member.developerProfile.profilePicture.url }}"
                                                                     data-filter-by="alt">
                                                            {% endif %}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    {% endif %}
                                        <td>
                                        {% if b.type == 'KANBAN' %}
                                            <span class="badge badge-primary" style="background-color: #7f45dd">{{ b.type }}</span>
                                        {% else %}
                                            <span class="badge badge-primary" style="background-color: #00761b">{{ b.type }}</span>
                                        {% endif %}
                                        </td>
                                    {% if b.projects.count == 1 %}
                                        <td>
                                            {% for project in b.projects.all %}
                                                <span>
                                             <span class="row">
                                                <span class="col">
                                                    <span class="d-flex align-items-center">
                                                    {% if debug %}
                                                        <img alt="{{ project.internalKey }}"
                                                             class="avatar filter-by-alt"
                                                             src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png"
                                                             data-filter-by="alt">
                                                    {% elif project.icon %}
                                                        <img alt="{{ project.internalKey }}"
                                                             class="avatar filter-by-alt"
                                                             src="{{ project.icon.url }}" data-filter-by="alt">
                                                    {% endif %}
                                                        &nbsp;&nbsp;
                                                     <a href="{{ project.getProjectUrl }}">{{ project.internalKey }}</a>
                                                     </span>
                                                </span>
                                             </span>
                                        </span>
                                            {% endfor %}
                                        </td>
                                    {% else %}
                                        <td>
                                            <ul class="avatars">
                                                {% for project in b.projects.all %}
                                                    <li>
                                                        <a href="#" data-toggle="tooltip"
                                                           data-original-title="{{ project.internalKey }}"
                                                           title="{{ project.internalKey }}">
                                                            {% if debug %}
                                                                <img alt="{{ project.internalKey }}"
                                                                     class="avatar filter-by-alt"
                                                                     src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png"
                                                                     data-filter-by="alt">
                                                            {% elif project.icon %}
                                                                <img alt="{{ project.internalKey }}"
                                                                     class="avatar filter-by-alt"
                                                                     src="{{ project.icon.url }}"
                                                                     data-filter-by="alt">
                                                            {% else %}
                                                                <img alt="{{ project.internalKey }}"
                                                                     class="avatar filter-by-alt"
                                                                     src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png"
                                                                     data-filter-by="alt">
                                                            {% endif %}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('.select2bs4').select2();
        $('.select2bs4Tags').select2({
            tags: true
        });
    });

    $(function () {
            $("#boardTable").DataTable(
                {
                    "responsive": true,
                    "autoWidth": false,
                    "paging": true,
                    "searching": true,
                    "ordering": true,
                    "info": false,
                    "pageLength": 10,
                }
            );

            $('#boardTable_length').remove();
        }
    );

    flatpickr('.flatpickr', {
        "altFormat": "d-m-Y",
    });

    let projectMembers = [];

    {% for member in project.members.all %}
        projectMembers.push({{member.id}});
    {% endfor %}

    $('.project-members').select2().val(projectMembers).trigger("change")

</script>
{% endblock %}