{% extends "accounts/base.html" %}
{% load static %}
{% block content %}

    <style type="text/css">
        body {
            color: black;
        }

        h1 {
            text-align: center;
        }

        input {
            padding: 10px;
            width: 100%;
            font-size: 17px;
            border: 1px solid #aaaaaa;
        }

        /* Mark input boxes that gets an error on validation: */
        input.invalid {
            background-color: #ffdddd;
        }

        /* Hide all steps by default: */
        .tab {
            display: none;
        }

        button:hover {
            opacity: 0.8;
        }

        /* Make circles that indicate the steps of the form: */
        .step {
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbbbbb;
            border: none;
            border-radius: 50%;
            display: inline-block;
            opacity: 0.5;
        }

        .step.active {
            opacity: 1;
        }

        /* Mark the steps that are finished and valid: */
        .step.finish {
            background-color: #04AA6D;
        }
    </style>

    <div class="modal fade bd-example-modal-lg" id="newProjectModal" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true" style="color: black;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" enctype="multipart/form-data" id="projectForm">
                    {% csrf_token %}
                    <div class="modal-body">

                        <!-- One "tab" for each step in the form: -->
                        <div class="tab">
                            <dl class="row">
                                <dd class="col-sm-12">
                                    <label style="font-size: 85%; color: #6c757d;">Name</label>
                                    <input class="form-control col" type="text" placeholder="Project name"
                                           name="projectName" required>
                                </dd>
                                <dd class="col-sm-12">
                                    <label style="font-size: 85%; color: #6c757d;">Code</label>
                                    <input class="form-control col" type="text" placeholder="Project code"
                                           name="projectCode" required>
                                </dd>
                                <dd class="col-sm-12">
                                    <label style="font-size: 85%; color: #6c757d;">Description</label>
                                    <textarea class="form-control col" rows="3" placeholder="Project description"
                                              name="projectDescription" required></textarea>
                                </dd>
                            </dl>
                        </div>

                        <div class="tab">
                            <dl class="row">
                                <dd class="col-sm-12">
                                    <label style="font-size: 85%; color: #6c757d;">Start Date</label>
                                    <input class="form-control col flatpickr-input" type="hidden" name="projectStart"
                                           placeholder="Select a date" data-flatpickr="" data-alt-input="true">
                                </dd>
                                <dd class="col-sm-12">
                                    <label style="font-size: 85%; color: #6c757d;">Due Date</label>
                                    <input class="form-control col flatpickr-input" type="hidden" name="projectDue"
                                           placeholder="Select a date" data-flatpickr="" data-alt-input="true">
                                </dd>
                                <dd class="col-sm-12">
                                    <label style="font-size: 85%; color: #6c757d;">Visibility</label>
                                    <div class="row">
                                        <div class="col">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="visibility-everyone" name="projectVisibility"
                                                       value="visibility-everyone" class="custom-control-input"
                                                       checked="">
                                                <label class="custom-control-label"
                                                       for="visibility-everyone">Everyone</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="visibility-members" name="projectVisibility"
                                                       value="visibility-members" class="custom-control-input">
                                                <label class="custom-control-label"
                                                       for="visibility-members">Members</label>
                                            </div>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div class="tab">
                            <dl class="row">
                                <dd class="col-sm-12">
                                    <label style="font-size: 85%; color: #6c757d;">Logo</label>
                                    <div class="media-body ml-4">
                                        <label class="btn btn-danger btn-sm" for="projectIcon">
                                            <i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;&nbsp;
                                            <input id="projectIcon" name="projectIcon" type="file"
                                                   style="display:none"
                                                   onchange="$('#upload-file-info').html(this.files[0].name)">
                                            Choose a File
                                        </label> &nbsp;
                                        <div class="small mt-1">Allowed JPG, GIF or PNG. Max size of 800K</div>
                                        <div class="small mt-1" id="upload-file-info"></div>
                                    </div>
                                </dd>
                                <dd class="col-sm-12">
                                    <label style="font-size: 85%; color: #6c757d;">Members</label>
                                    <div class="form-group">
                                        <select class="form-control select2bs4" multiple="multiple"
                                                name="projectMembers"
                                                id="projectMembers"
                                                data-placeholder="Select board members." style="width: 100%">
                                        </select>
                                    </div>
                                </dd>
                            </dl>
                        </div>

                        <div style="overflow:auto;">
                            <div style="float:right;">
                                <button type="button" id="prevBtn" class="btn btn-outline-secondary"
                                        onclick="nextPrev(-1)">Previous
                                </button>
                                <button type="button" id="nextBtn" class="btn btn-outline-success"
                                        onclick="nextPrev(1)">Next
                                </button>
                            </div>
                        </div>
                        <!-- Circles which indicates the steps of the form: -->
                        <div style="text-align:center;margin-top:40px;">
                            <span class="step"></span>
                            <span class="step"></span>
                            <span class="step"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="margin: auto;overflow-x: hipen; color: black; max-width: 1800px;">
        <br>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col">
                        <h3>Projects</h3>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary float-right" data-toggle="modal"
                                data-target="#newProjectModal" onclick="updateModal()">New Project
                        </button>
                    </div>
                </div>
                <br>
                {% if projects.count > 0 %}
                    <table id="projectTable" class="table table-sm table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Key</th>
                            <th>Lead</th>
                            <th>Status</th>
                            <th>Links</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for p in projects %}
                            <tr>
                                <td>
                                    {% if debug %}
                                        <img src='https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png'
                                             width="30px" class="rounded-0">
                                    {% elif p.icon %}
                                        <img src="{{ p.icon.url }}" width="30px" class="rounded-0">
                                    {% else %}
                                        <img src='https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png'
                                             width="30px" class="rounded-0">
                                    {% endif %}
                                    &nbsp;&nbsp;
                                    <a href="{{ p.getUrl }}">{{ p.internalKey }}</a>
                                </td>
                                <td>{{ p.code }}</td>
                                <td>
                                    {% if debug %}
                                        <img src='https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png'
                                             width="30px" class="rounded-0">
                                    {% elif p.lead.developerProfile.profilePicture %}
                                        <img src="{{ p.lead.developerProfile.profilePicture.url }}" width="30px"
                                             class="rounded-0">
                                    {% else %}
                                        <img src='{% static "img/default-user-icon.jpg" %}' width="30px"
                                             class="rounded-0">
                                    {% endif %}
                                    &nbsp;&nbsp;
                                    <a href="#">{{ p.lead.get_full_name }}</a>
                                </td>
                                <td><span class="{{ p.status.icon }}"
                                          style="text-transform:uppercase">{{ p.status.internalKey }}</span></td>
                                <td>
                                    <a role="button" href="{% url 'jira:project-settings' p.url %}"
                                       class="btn btn-outline-secondary" data-toggle="tooltip"
                                       data-placement="top" title="Settings"><i class="fa">&#xf085;</i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-primary text-center" role="alert">
                        Looks like there's no project to see. Create one.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            $('.select2bs4').select2();
        });

        flatpickr('.flatpickr-input', {
            "minDate": "today",
            "altFormat": "d-m-Y",
        });

        $(function () {
                $("#projectTable").DataTable(
                    {
                        "responsive": true,
                        "autoWidth": false,
                        "paging": true,
                        "searching": true,
                        "ordering": true,
                        "info": false,
                        "pageLength": 10,
                    }
                );

                $('#projectTable_length').remove();
            }
        );

        let currentTab = 0; // Current tab is set to be the first tab (0)
        showTab(currentTab); // Display the current tab

        function showTab(n) {
            // This function will display the specified tab of the form...
            let x = document.getElementsByClassName("tab");
            x[n].style.display = "block";
            //... and fix the Previous/Next buttons:
            if (n === 0) {
                document.getElementById("prevBtn").style.display = "none";
            } else {
                document.getElementById("prevBtn").style.display = "inline";
            }
            if (n === (x.length - 1)) {
                document.getElementById("nextBtn").innerHTML = "Submit";
            } else {
                document.getElementById("nextBtn").innerHTML = "Next";
            }
            //... and run a function that will display the correct step indicator:
            fixStepIndicator(n)
        }

        function nextPrev(n) {
            // This function will figure out which tab to display
            let x = document.getElementsByClassName("tab");
            // Exit the function if any field in the current tab is invalid:
            if (n === 1 && !validateForm()) return false;
            // Hide the current tab:
            x[currentTab].style.display = "none";
            // Increase or decrease the current tab by 1:
            currentTab = currentTab + n;
            // if you have reached the end of the form...
            if (currentTab >= x.length) {
                // ... the form gets submitted:
                document.getElementById("projectForm").submit();
                return false;
            }
            // Otherwise, display the correct tab:
            showTab(currentTab);
        }

        function validateForm() {
            // This function deals with validation of the form fields
            let x, y, i, valid = true;
            x = document.getElementsByClassName("tab");
            y = x[currentTab].getElementsByTagName("input");
            // A loop that checks every input field in the current tab:
            for (i = 0; i < y.length; i++) {
                // If a field is empty...
                // An exception is made if the input type is a select tag and is of select2
                if (y[i].value === "" && y[i].className !== 'select2-search__field') {
                    // add an "invalid" class to the field:
                    y[i].className += " invalid";
                    // and set the current valid status to false
                    valid = false;
                }
            }
            // If the valid status is true, mark the step as finished and valid:
            if (valid) {
                document.getElementsByClassName("step")[currentTab].className += " finish";
            }
            return valid; // return the valid status
        }

        function fixStepIndicator(n) {
            // This function removes the "active" class of all steps...
            let i, x = document.getElementsByClassName("step");
            for (i = 0; i < x.length; i++) {
                x[i].className = x[i].className.replace(" active", "");
            }
            //... and adds the "active" class on the current step:
            x[n].className += " active";
        }

        function updateModal() {
            const isMembersOptionsEmtpy = $('#projectMembers').has('option').length === 0;

            if (isMembersOptionsEmtpy) {
                $.ajax(
                    {
                        url: "{% url 'jira:profileObjectApiEventVersion2Component'%}",
                        type: 'get',
                        dataType: 'json',
                        success: function (response) {
                            if (response.success) {
                                let options = []

                                for (const profile of response.data.profiles) {
                                    options.push(`<option value="${profile.id}">${profile.firstName + " " + profile.lastName}</option>`)
                                }

                                if (isMembersOptionsEmtpy)
                                    $('#projectMembers').append(options);

                            }
                        }
                    }
                );
            }
        }
    </script>
{% endblock %}