{% extends "accounts/base.html" %}
{% load jiraTags %}
{% load static %}
{% block content %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/kanbanBoardCSS1.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/kanbanBoardCSS2.css' %}">

    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <body class=" ghx-agile ghx-rapid-views aui-page-sidebar aui-sidebar-collapsed ghx-scroll-columns ">
    <div id="page">
        <div id="announcement-banner" class="alertHeader">
        </div>
        <div id="content">
            <section class="aui-sidebar projects-sidebar fade-in" resolved="" aria-expanded="false" id="sidebar"
                     aria-label="Sidebar">
                <div class="aui-sidebar-wrapper" style="height: 583px;">
                    <div class="col" style="margin-top: 10px">
                    </div>
                </div>
            </section>
            <main role="main" id="main" class="ghx-gh aui-page-panel"></main>
        </div>
    </div>
    </body>

    <script type="text/babel">

        function getCookie(name) {
            let cookieValue = null;

            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');

                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();

                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function getParameterByName(name, url = window.location.href) {
            name = name.replace(/[\[\]]/g, '\\$&');
            let regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }

        class StatusComponent extends React.Component {
            constructor(props) {
                super(props);
            }

            render() {

                const style1 = {
                    color: this.props.status.fontColour,
                    background: this.props.status.badgeColour
                }
                return (
                    <span className="badge" style={style1}>{this.props.status.internalKey}</span>
                )
            }
        }

        class ActionDropdown extends React.Component {
            constructor(props) {
                super(props);
            }

            render() {

                const style1 = {
                    fontSize: '15px',
                }
                return (
                    <div className="dropdown">
                        <button className="btn btn-sm btn-light" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                            style={style1} className='fas'>&#xf141;</i></button>
                        <div className="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a className="dropdown-item" href="#" onClick={this.props.updateEditMode}>Edit</a>
                            <a className="dropdown-item" href="#" onClick={this.props.deleteComponent}>Delete</a>
                        </div>
                    </div>
                )
            }
        }

        class TableRowComponent extends React.Component {
            constructor(props) {
                super(props);

                this.state = {
                    inEditMode : false,
                    internalKey: this.props.component.internalKey,
                    description: this.props.component.description,
                }

                this.updateEditMode = this.updateEditMode.bind(this);
                this.deleteComponent = this.deleteComponent.bind(this);
            }

            updateEditMode = () => {
                this.setState({
                    inEditMode: !this.state.inEditMode
                })
            }

            cancelChanges = () => {
                this.updateEditMode();
            }

            deleteComponent = () => {
                fetch('{% url 'jira:projectComponentObjectApiEventVersion1Component' %}', {
                    method: 'DELETE',
                    headers: {
                        'Content-type': 'application/json',
                        "X-CSRFToken": getCookie("csrftoken")
                    },
                    body: JSON.stringify({
                        filter: {
                            id: this.props.component.id,
                            project_id: '{{ project.id }}'
                        }
                    })
                }).then((response) => response.json())
                    .then((json) => {
                        if (json.success) {
                            this.props.fetchProjectComponents();
                        }
                    })
            }

            updateChanges = () => {
                let internalKey = this.refs.internalKey.value.trim();
                let description = this.refs.description.value.trim();
                let status = this.refs.statusInput.value;

                if (!internalKey) {
                    this.updateEditMode();
                    return;
                }

                fetch('{% url 'jira:projectComponentObjectApiEventVersion1Component' %}', {
                    method: 'PUT',
                    headers: {
                        'Content-type': 'application/json',
                        "X-CSRFToken": getCookie("csrftoken")
                    },
                    body: JSON.stringify({
                        filter: {
                            id: this.props.component.id,
                            project_id: '{{ project.id }}'
                        },
                        update: {
                            internalKey: internalKey,
                            description: description,
                            status: status,
                        }
                    })
                }).then((response) => response.json())
                    .then((json) => {
                        if (json.success) {
                            this.props.fetchProjectComponents();
                        }
                    })

                this.setState({
                    internalKey: internalKey,
                    description: description,
                })

                this.updateEditMode();
            }

            render() {

                return (
                    <tr>
                        <td>
                            {this.state.inEditMode ?
                                <input type="text" className="form-control form-control-sm" defaultValue={this.state.internalKey} ref="internalKey"></input> :
                                <a href="#">{this.state.internalKey}</a>}
                        </td>
                        <td>
                            {this.state.inEditMode ?
                                <select className="custom-select custom-select-sm"
                                        defaultValue={this.props.component.status.internalKey} ref="statusInput">
                                    <option value="ACTIVE">Active</option>
                                    <option value="ARCHIVED">Archived</option>
                                    <option value="DRAFT">Draft</option>
                                    <option value="IN_ACTIVE">In Active</option>
                                </select>
                                : <StatusComponent status={this.props.component.status}/>
                            }
                        </td>
                        <td>
                            <a href="#">{this.props.component.issues} issues</a>
                        </td>
                        <td>
                            <img src={this.props.component.lead.icon} className="rounded-0"
                                 width="25px"></img>&nbsp;&nbsp;{this.props.component.lead.fullName}
                        </td>
                        <td>
                            {this.state.inEditMode ?
                                <input type="text" className="form-control form-control-sm" defaultValue={this.state.description} ref="description"></input> :
                                <a href="#">{this.state.description}</a>}
                        </td>
                        <td>
                            {this.state.inEditMode ? <div>
                                    <button type="button" className="btn btn-primary btn-sm" onClick={this.updateChanges}><i className="fa fa-check"></i></button>
                                &nbsp;
                                    <button type="button" className="btn btn-danger btn-sm" onClick={this.cancelChanges}><i className='fas fa-times'></i></button>
                                </div> : <ActionDropdown updateEditMode={this.updateEditMode} deleteComponent={this.deleteComponent}/>
                            }
                        </td>
                    </tr>
                )
            }
        }

        class TemplateMainComponent extends React.Component {
            constructor(props) {
                super(props);

                this.state = {
                    components: [],
                }

                this.fetchProjectComponents = this.fetchProjectComponents.bind(this);
            }

            fetchProjectComponents = () => {
                let searchQuery = getParameterByName('internalKey');
                let url = '{% url 'jira:projectComponentObjectApiEventVersion1Component' %}?project__id={{ project.id }}';
                if (searchQuery !== null)
                    url += '&internalKey__icontains='+searchQuery;

                fetch(url, {
                    method: 'GET',
                }).then((response) => response.json())
                    .then((json) => {
                        this.setState({
                            components: json.data.components
                        })
                    })
            }

            componentDidMount = () => {
                this.refs.searchInput.value = getParameterByName('internalKey');
                this.fetchProjectComponents();
            }

            resetModalFields = () => {
                this.refs.internalKeyInput.value = "";
                this.refs.descriptionInput.value = "";
            }

            addComponent = () => {
                let internalKey = this.refs.internalKeyInput.value;
                let description = this.refs.descriptionInput.value;

                if (!internalKey)
                    return;

                this.resetModalFields();

                fetch('{% url 'jira:projectComponentObjectApiEventVersion1Component' %}', {
                    method: 'POST',
                    headers: {
                        'Content-type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken'),
                    },
                    body: JSON.stringify({
                        'internalKey': internalKey,
                        'project_id': '{{ project.id }}',
                        'lead_id': '{{ request.user.id }}',
                        'description': description,
                    })
                }).then((response) => response.json())
                    .then((json) => {
                        if (json.success)
                            this.fetchProjectComponents();
                    })
            }

            renderEmptyComponent = () => {
                return (
                    <div className="alert alert-primary text-center" role="alert"> Looks like there's no project
                        components yet. Create one. </div>
                )
            }

            renderNormalComponents = () => {
                return (
                    <table className="table table-sm table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Component</th>
                                <th>Status</th>
                                <th>Issues</th>
                                <th>lead</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {this.state.components.map((component) => <TableRowComponent key={component.id} component={component} fetchProjectComponents={this.fetchProjectComponents}/>)}
                        </tbody>
                    </table>
                )
            }

            updateSearchQuery = () => {
                let search = this.refs.searchInput.value.trim();
                let basePath = "{% url 'jira:project-components' url=project.url %}";

                if (search)
                    basePath += "?internalKey=" + search;

                window.history.pushState("", "", basePath);
                this.fetchProjectComponents();
            }

            render() {

                const style1 = {
                    backgroundColor: '#0052cc',
                    color: 'white'
                }

                const style2 = {
                    display: 'block',
                }

                const style6 = {
                    backgroundColor: "#0052cc",
                    color: "white",
                }
                const style7 = {
                    backgroundColor: "#ebecf0",
                }

                return (
                    <div id="gh" className="ghx-no-touch">

                        <div className="modal fade" id="addComponentModal" tabIndex="-1" role="dialog" aria-labelledby="addComponentModalLabel" aria-hidden="true">
                          <div className="modal-dialog" role="document">
                            <div className="modal-content">
                              <div className="modal-header">
                                <h3 className="modal-title">Add component</h3>
                                <button type="button" className="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div className="modal-body">
                                <div className="form-group">
                                  <label htmlFor="internalKey">Name</label>
                                  <input type="text" className="form-control" id="internalKey" placeholder="Name" ref="internalKeyInput" required></input>
                                </div>
                                <div className="form-group">
                                  <label htmlFor="description">Description</label>
                                    <input type="text" className="form-control" id="description" placeholder="Description" ref="descriptionInput"></input>
                                </div>
                              </div>
                              <div className="modal-footer">
                                <button type="button" className="btn" data-dismiss="modal" style={style6} onClick={this.addComponent}>Add </button>
                                <button type="button" className="btn" data-dismiss="modal" style={style7} onClick={this.resetModalFields}>Cancel </button>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div id="ghx-header">
                          <div id="ghx-modes-tools">
                            <div id="ghx-view-modes"></div>
                            <span id="ghx-view-pluggable">
                              <div className="btn-group ghx-view-section">
                                <button type="button" className="btn" data-toggle="modal" data-target="#addComponentModal" style={style1}>Create Component</button>
                              </div>
                            </span>
                          </div>
                          <div id="ghx-view-selector">
                            <h1>
                              <span className="subnav-container">
                                <span id="subnav-title">
                                  <span className="subnavigator-title" title="components">Components</span>
                                </span>
                              </span>
                            </h1>
                          </div>
                            <br></br>
                            <div className="row">
                                <div className="col-2">
                                    <input className="form-control" type="text" placeholder="Search" ref="searchInput"></input>
                                </div>
                                <div className="col-10">
                                    <button type="button" className="btn btn-primary" onClick={this.updateSearchQuery}><i className="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>

                        <div id="ghx-content-main" className="ghx-content-main">
                          <div id="ghx-rabid">
                            <div id="ghx-operations"></div>
                            <div id="ghx-work" className="ghx-work">
                              <div id="ghx-pool-column">
                                <div id="ghx-pool-wrapper">
                                  <div id="ghx-column-header-group" className="ghx-column-header-group ghx-has-stats">
                                    <ul id="ghx-column-headers" className="ghx-column-headers"></ul>
                                  </div>

                                    <div id="ghx-pool" data-skate-ignore="" className="ghx-has-swimlanes ghx-band-2" style={style2}>
                                        {this.state.components.length === 0 ? this.renderEmptyComponent() : this.renderNormalComponents()}
                                    </div>

                                </div>
                              </div>
                            </div>
                            <div id="ghx-team"></div>
                          </div>
                        </div>

                    </div>
                )
            }
        }


        ReactDOM.render(<TemplateMainComponent/>, document.getElementById('main'));

    </script>

{% endblock %}