{% extends "accounts/base.html" %}
{% load static %}
{% block content %}


<link type="text/css" rel="stylesheet" href="{% static 'css/ticketPageCss1.css' %}" media="all">
<link type="text/css" rel="stylesheet" href="{% static 'css/ticketPageCss2.css' %}" media="all">

<script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>


<div className="issue-container">
   <div id="issue-content" className="issue-edit-form">
   </div>
</div>



<script type="text/babel">


class IssueHeaderComponent extends React.Component {
    constructor(props) {
        // TODO: Update the summary to db
        super(props);

        this.state = {
            summary: '{{ ticket.summary }}',
            isInEditMode: false,
        }
    }

    changeEditMode = () => {
        this.setState({
            isInEditMode: !this.state.isInEditMode
        })
    }

    updateSummary = (e) => {
        this.setState({
            isInEditMode: false,
            summary: this.refs.theTextInput.value
        })
    }


    renderEditView = () => {

        const btnStyle = {
            background: "#f5f6f8",
            color: "black"
        }
        return <div>
            <div className="input-group mb-3">
                <input type="text" className="form-control" defaultValue={this.state.summary}
                       ref="theTextInput"></input>
                <div className="input-group-append">
                    <button className="btn btn-secondary" type="button" style={btnStyle}
                            onClick={this.changeEditMode}>X
                    </button>
                    <button className="btn btn-secondary" type="button" style={btnStyle}
                            onClick={this.updateSummary}>OK
                    </button>
                </div>
            </div>
        </div>
    }

    renderDefaultView = () => {
        return <h1 id="summary-val" onClick={this.changeEditMode}>{this.state.summary}</h1>
    }

    render() {
        return (
            <header id="stalker" className="issue-header js-stalker">
                <div className="issue-header-content">
                    <div className="aui-page-header">
                        <div className="aui-page-header-inner">
                            <div className="aui-page-header-image">
                    <span id="10172" className="aui-avatar aui-avatar-large aui-avatar-project">
                    <span className="aui-avatar-inner">
                    <img id="project-avatar" alt="Uploaded image for project: 'Jenkins'"
                         src="{{ ticket.project.icon.url }}"></img>
                    </span>
                    </span>
                            </div>
                            <div className="aui-page-header-main">
                                <ol className="aui-nav aui-nav-breadcrumbs" resolved="">
                                    <li><a id="project-name-val"
                                           href="{% url 'jira:project-issues' url=ticket.project.code %}"
                                           className="">{{ ticket.project.internalKey }}</a></li>
                                    <li><a className="issue-link" data-issue-key="JENKINS-54683"
                                           href="{{ ticket.getUrl }}" id="key-val"
                                           rel="195475">{{ ticket.internalKey }}</a></li>
                                </ol>

                                {this.state.isInEditMode ? this.renderEditView() : this.renderDefaultView()}

                            </div>
                            <div className="aui-page-header-actions">
                                <div id="issue-header-pager"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        );
    }
}


class TicketDatesComponent extends React.Component {
    constructor(props) {
        super(props);
    }

    render() {
        return (
            <div id="datesmodule" className="module toggle-wrap">
                <div id="datesmodule_heading" className="mod-header">
                    <button className="aui-button toggle-title" aria-label="Dates" aria-controls="datesmodule"
                            aria-expanded="true" resolved="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14">
                            <g fill="none" fillRule="evenodd">
                                <path
                                    d="M3.29175 4.793c-.389.392-.389 1.027 0 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955c.388-.392.388-1.027 0-1.419-.389-.392-1.018-.392-1.406 0l-2.298 2.317-2.307-2.327c-.194-.195-.449-.293-.703-.293-.255 0-.51.098-.703.293z"
                                    fill="#344563"></path>
                            </g>
                        </svg>
                    </button>
                    <h4 className="toggle-title" id="datesmodule-label">Dates</h4>
                    <ul className="ops"></ul>
                </div>
                <div className="mod-content">
                    <div className="item-details">
                        <dl className="dates">
                            <dt>
                                Created:
                            </dt>
                            <dd className="date user-tz" title="{{ ticket.createdDttm }}">
                        <span data-name="Created" id="created-val" data-fieldtype="dateTime">
                        <time className="livestamp" dateTime="{{ ticket.createdDttm }}">{{ ticket.createdDttm }}</time>
                        </span>
                            </dd>
                        </dl>
                        <dl className="dates">
                            <dt>
                                Updated:
                            </dt>
                            <dd className="date user-tz" title="{{ ticket.modifiedDttm }}">
                        <span data-name="Updated" id="updated-val" data-fieldtype="dateTime">
                        <time className="livestamp"
                              dateTime="{{ ticket.modifiedDttm }}">{{ ticket.modifiedDttm }}</time>
                        </span>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        );
    }
}

class PeopleModuleComponent extends React.Component {

    constructor(props) {
        super(props);
    }

    render() {
        return (
            <div id="peoplemodule" className="module toggle-wrap">
                <div id="peoplemodule_heading" className="mod-header">
                    <button className="aui-button toggle-title" aria-label="People" aria-controls="peoplemodule"
                            aria-expanded="true" resolved="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14">
                            <g fill="none" fillRule="evenodd">
                                <path
                                    d="M3.29175 4.793c-.389.392-.389 1.027 0 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955c.388-.392.388-1.027 0-1.419-.389-.392-1.018-.392-1.406 0l-2.298 2.317-2.307-2.327c-.194-.195-.449-.293-.703-.293-.255 0-.51.098-.703.293z"
                                    fill="#344563"></path>
                            </g>
                        </svg>
                    </button>
                    <h4 className="toggle-title" id="peoplemodule-label">People</h4>
                    <ul className="ops"></ul>
                </div>
                <div className="mod-content">
                    <div className="item-details people-details" id="peopledetails">
                        <dl>
                            <dt title="Assignee">
                                <label htmlFor="assignee-field">Assignee:</label>
                            </dt>
                            <dd>
                        <span id="assignee-val" className="view-issue-field">
                        <span className="aui-avatar aui-avatar-small"><span className="aui-avatar-inner"><img
                            src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png"
                            alt="Unassigned"></img></span></span>
                             {{ ticket.assignee.get_full_name }}
                        </span>
                            </dd>
                        </dl>
                        <dl>
                            <dt title="Reporter">
                                <label htmlFor="reporter-field">Reporter:</label>
                            </dt>
                            <dd>
                        <span id="reporter-val" className="view-issue-field">
                        <span className="user-hover" id="issue_summary_reporter_rakeyshkande" rel="rakeyshkande">
                        <span className="aui-avatar aui-avatar-small"><span className="aui-avatar-inner"><img
                            src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png"
                            alt="rakeyshkande"></img></span></span>
                             {{ ticket.reporter.get_full_name }}
                        </span>
                        </span>
                            </dd>
                        </dl>
                    </div>
                    <div className="item-details">
                        <dl>
                            <dt title="Votes">Votes:</dt>
                            <dd>
                                <aui-badge id="vote-data" className="">{{ ticket.watchers.count }}</aui-badge>
                                <span id="vote-label" title="You have to be logged in to vote for an issue.">Vote for this issue</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt title="Watchers">Watchers:</dt>
                            <dd>
                                <aui-badge id="watcher-data" className="">{{ ticket.watchers.count }}</aui-badge>
                                <span id="watch-label" title="You have to be logged in to watch an issue.">Start watching this issue</span>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        );
    }
}

class TicketDetailLabels extends React.Component {
    constructor(props) {
        super(props);
    }

    render() {
        return (
            <li className="item">
                <div className="wrap" id="wrap-labels">
                    <strong className="name" title="Labels">
                        <label htmlFor="labels-textarea">Labels:</label>
                    </strong>
                    <div className="labels-wrap value">
                        <span className="labels" id="labels-195475-value">None</span>
                    </div>
                </div>
            </li>
        )
    }
}

class TicketDetailPriority extends React.Component {
    constructor(props) {
        super(props);
    }

    render() {
        return (
            <li className="item new">
                <div className="wrap">
                    <strong className="name" title="Priority">
                        <label htmlFor="priority-field">Priority:</label>
                    </strong>
                    <span id="priority-val" className="value">
                        <img alt="" src="{% static ticket.priority.icon %}" data-toggle="tooltip"
                             title="{{ et.priority.internalKey }}" width="16" height="16"></img> {{ ticket.priority }}
                        </span>
                </div>
            </li>
        )
    }
}

class TicketDetailComponents extends React.Component {
    constructor(props) {
        // TODO: Update the component to db
        // TODO: Fix the redirect on click.
        super(props);

        this.state = {
            component: '{{ ticket.component }}',
            isInEditMode: false,
        }
    }

    changeEditMode = () => {
        this.setState({
            isInEditMode: !this.state.isInEditMode
        })
    }

    updateComponent = (e) => {
        this.setState({
            isInEditMode: false,
            component: this.refs.theTextInput.value
        })
    }

    renderEditView = () => {

        const btnStyle = {
            background: "#f5f6f8",
            color: "black"
        }
        return <div>
            <div className="input-group mb-3">
                <input type="text" className="form-control" defaultValue={this.state.component}
                       ref="theTextInput"></input>
                <div className="input-group-append">
                    <button className="btn btn-secondary" type="button" style={btnStyle}
                            onClick={this.changeEditMode}>X
                    </button>
                    <button className="btn btn-secondary" type="button" style={btnStyle}
                            onClick={this.updateComponent}>OK
                    </button>
                </div>
            </div>
        </div>
    }

    renderDefaultView = () => {
        return <span id="components-val" className="value" onClick={this.changeEditMode}>
                        <span className="shorten" id="components-field" resolved="">
                        <a href="#"
                           title="kubernetes-plugin kubernetes plugin">{this.state.component}</a></span>
                        </span>
    }

    render() {
        return (
            <li className="item">
                <div className="wrap">
                    <strong className="name" title="Component/s">
                        <label htmlFor="components">Component/s:</label>
                    </strong>
                    {this.state.isInEditMode ? this.renderEditView() : this.renderDefaultView()}
                </div>
            </li>
        )
    }
}

class TicketDetailStatus extends React.Component {
    constructor(props) {
        // TODO: Implement onClick edit.
        // TODO: Update value to db.
        super(props);

        this.state = {
            isInEditMode: false,
            colour: "{{ ticket.column.colour }}",
            internalKey: "{{ ticket.column.internalKey }}"
        }
    }

    render() {
        const style1 = {
            backgroundColor: this.state.colour,
        }
        return (
            <li className="item item-right">
                <div className="wrap">
                    <strong className="name" title="Status">Status:</strong>
                    <span id="status-val" className="value">
                        <span className="badge badge-primary" style={style1}>{this.state.internalKey}</span>
                    </span>
                </div>
            </li>
        )
    }
}

class TicketDetailsType extends React.Component {
    constructor(props) {
        super(props);

        this.state = {
            isInEditMode: false,
            icon: "{% static ticket.issueType.icon %}",
            internalKey: "{{ ticket.issueType }}",
            issueTypes: eval("{{ issueTypeList|safe }}"),
        }
    }

    changeEditMode = () => {
        this.setState({
            isInEditMode: !this.state.isInEditMode
        })
    }

    renderEditView = () => {
        // TODO
        return <div className="row">
            <select id="priority" data-show-content="true" className="form-control">

                <option
                    dataContent="<img src='https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png' width='20' height='20'>&nbsp; A"
                    selected="selected" value="A">A
                </option>
                <option
                    dataContent="<img src='https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png' width='20' height='20'>&nbsp; B"
                    value="B">B
                </option>
                <option
                    dataContent="<img src='https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png' width='20' height='20'>&nbsp; C"
                    value="C">C
                </option>
                <option
                    dataContent="<img src='https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png' width='20' height='20'>&nbsp; D"
                    value="D">D
                </option>
            </select>
        </div>
    }

    renderDefaultView = () => {
        return <span id="type-val" className="value"> <img alt="" src={this.state.icon} data-toggle="tooltip"
                                                           title={this.state.internalKey} width="16"
                                                           height="16"></img> {this.state.internalKey} </span>
    }

    render() {
        return (
            <li className="item">
                <div className="wrap">
                    <strong className="name" title="Type">
                        <label htmlFor="issuetype">Type:</label>
                    </strong>
                    {this.renderDefaultView()}
                </div>
            </li>
        );
    }
}

class TicketDetailsStoryPoint extends React.Component {
    constructor(props) {
        // TODO: Update the point to db
        super(props);

        this.state = {
            point: '{{ ticket.storyPoints }}',
            isInEditMode: false,
        }
    }

    changeEditMode = () => {
        this.setState({
            isInEditMode: !this.state.isInEditMode
        })
    }

    updateSummary = (e) => {
        this.setState({
            isInEditMode: false,
            point: this.refs.theTextInput.value
        })
    }

    renderEditView = () => {

        const btnStyle = {
            background: "#f5f6f8",
            color: "black"
        }
        return <div>
            <div className="input-group mb-3">
                <input type="text" className="form-control" defaultValue={this.state.point}
                       ref="theTextInput"></input>
                <div className="input-group-append">
                    <button className="btn btn-secondary" type="button" style={btnStyle}
                            onClick={this.changeEditMode}>X
                    </button>
                    <button className="btn btn-secondary" type="button" style={btnStyle}
                            onClick={this.updateSummary}>OK
                    </button>
                </div>
            </div>
        </div>
    }

    renderDefaultView = () => {
        return <span id="story-points-val" className="value unresolved" onClick={this.changeEditMode}>
                        <aui-badge id="vote-data" className="">{this.state.point}</aui-badge>
                        </span>
    }

    render() {
        return (
            <li className="item item-right">
                <div className="wrap">
                    <strong className="name" title="Story Points">Story points:</strong>
                   {this.state.isInEditMode ? this.renderEditView() : this.renderDefaultView()}
                </div>
            </li>
        );
    }
}

class TicketDetailsComponent extends React.Component {
    constructor(props) {
        super(props);
    }

    render() {
        return (
            <div id="details-module" className="module toggle-wrap">
                <div id="details-module_heading" className="mod-header">
                    <button className="aui-button toggle-title" aria-label="Dates" aria-controls="datesmodule"
                            aria-expanded="true" resolved="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14">
                            <g fill="none" fillRule="evenodd">
                                <path
                                    d="M3.29175 4.793c-.389.392-.389 1.027 0 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955c.388-.392.388-1.027 0-1.419-.389-.392-1.018-.392-1.406 0l-2.298 2.317-2.307-2.327c-.194-.195-.449-.293-.703-.293-.255 0-.51.098-.703.293z"
                                    fill="#344563"></path>
                            </g>
                        </svg>
                    </button>
                    <h4 className="toggle-title" id="details-module-label">Details</h4>
                    <ul className="ops"></ul>
                </div>
                <div className="mod-content">
                    <ul id="issuedetails" className="property-list two-cols">
                        <TicketDetailsType/>
                        <TicketDetailStatus/>
                        <TicketDetailPriority/>
                        <li className="item item-right">
                            <div className="wrap">
                                <strong className="name" title="Resolution">Resolution:</strong>
                                <span id="resolution-val" className="value unresolved">
                        Unresolved
                        </span>
                            </div>
                        </li>
                        <TicketDetailComponents/>
                        <li className="item item-right">
                            <div className="wrap">
                                <strong className="name" title="Resolution">Fix version:</strong>
                                <span htmlFor="fixVersion-val" className="value unresolved">
                        Unresolved
                        </span>
                            </div>
                        </li>
                        <TicketDetailLabels/>
                        <TicketDetailsStoryPoint/>
                    </ul>
                </div>
            </div>
        );
    }
}

class TicketDescriptionComponent extends React.Component {
    constructor(props) {
        super(props);

        this.state = {
            description: '{{ ticket.description }}',
            isInEditMode: false,
        }
    }

    changeEditMode = () => {
        this.setState({
            isInEditMode: !this.state.isInEditMode
        })
    }

    updateDescription = () => {
        this.setState({
            isInEditMode: false,
            description: this.refs.theTextInput.value
        })
    }

    renderEditView = () => {

        const btnStyle = {
            background: "#f5f6f8",
            color: "black"
        }
        return <div>
            <textarea className="form-control col" rows="5" defaultValue={this.state.description}
                      ref="theTextInput"></textarea>
            <br></br>
            <button className="btn btn-secondary" type="button" style={btnStyle}
                    onClick={this.changeEditMode}>Cancel
            </button>
            <button className="btn btn-secondary" type="button" style={btnStyle}
                    onClick={this.updateDescription}>OK
            </button>

        </div>
    }

    renderDefaultView = () => {

        const breakLineStyle = {
            whiteSpace: "pre-line",
        }
        return <div onClick={this.changeEditMode} style={breakLineStyle}>{this.state.description}</div>
    }

    render() {
        return (
            <div id="descriptionmodule" className="module toggle-wrap">
                <div id="descriptionmodule_heading" className="mod-header">
                    <button className="aui-button toggle-title" aria-label="Description"
                            aria-controls="descriptionmodule" aria-expanded="true" resolved="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14">
                            <g fill="none" fillRule="evenodd">
                                <path
                                    d="M3.29175 4.793c-.389.392-.389 1.027 0 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955c.388-.392.388-1.027 0-1.419-.389-.392-1.018-.392-1.406 0l-2.298 2.317-2.307-2.327c-.194-.195-.449-.293-.703-.293-.255 0-.51.098-.703.293z"
                                    fill="#344563"></path>
                            </g>
                        </svg>
                    </button>
                    <h4 className="toggle-title" id="descriptionmodule-label">Description</h4>
                    <ul className="ops"></ul>
                </div>
                <div className="mod-content">
                    <div id="description-val" className="field-ignore-highlight">
                        <div className="user-content-block">
                            {this.state.isInEditMode ? this.renderEditView() : this.renderDefaultView()}
                        </div>
                    </div>
                </div>
            </div>
        );
    }
}

class TicketDnDMetaDataComponent extends React.Component {
    constructor(props) {
        super(props);
    }

    render() {
        return (
            <div id="dnd-metadata" className="module toggle-wrap">
                <div id="dnd-metadata_heading" className="mod-header">
                    <button className="aui-button toggle-title" aria-label="Attachments" aria-controls="dnd-metadata"
                            aria-expanded="true" resolved="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14">
                            <g fill="none" fillRule="evenodd">
                                <path
                                    d="M3.29175 4.793c-.389.392-.389 1.027 0 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955c.388-.392.388-1.027 0-1.419-.389-.392-1.018-.392-1.406 0l-2.298 2.317-2.307-2.327c-.194-.195-.449-.293-.703-.293-.255 0-.51.098-.703.293z"
                                    fill="#344563"></path>
                            </g>
                        </svg>
                    </button>
                    <h4 className="toggle-title" id="dnd-metadata-label">Attachments</h4>
                    <ul className="ops"></ul>
                </div>
                <div className="mod-content">
                    <div id="dnd-metadata-webpanel" data-can-attach="false" data-project-type="software"
                         data-upload-limit="10485760" data-thumbnails-allowed="true"></div>
                </div>
            </div>
        );
    }
}

class TicketAttachmentModuleComponent extends React.Component {
    constructor(props) {
        super(props);
    }

    render() {
        return (
            <div id="attachmentmodule" className="module toggle-wrap">
                <div id="attachmentmodule_heading" className="mod-header">
                    <button className="aui-button toggle-title" aria-label="Attachments"
                            aria-controls="attachmentmodule" aria-expanded="true" resolved="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14">
                            <g fill="none" fillRule="evenodd">
                                <path
                                    d="M3.29175 4.793c-.389.392-.389 1.027 0 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955c.388-.392.388-1.027 0-1.419-.389-.392-1.018-.392-1.406 0l-2.298 2.317-2.307-2.327c-.194-.195-.449-.293-.703-.293-.255 0-.51.098-.703.293z"
                                    fill="#344563"></path>
                            </g>
                        </svg>
                    </button>
                    <h4 className="toggle-title" id="attachmentmodule-label">Attachments</h4>
                    <ul className="ops">
                        <li className="drop">
                            <div className="aui-dd-parent">
                                <button className="aui-button aui-button-compact aui-button-subtle js-default-dropdown"
                                        title="Options" aria-label="Attachments panel options" resolved=""
                                        id="AJS_DROPDOWN__4" aria-controls="AJS_DROPDOWN__4_drop" aria-haspopup="true"
                                        aria-expanded="false"><span
                                    className="aui-icon aui-icon-small aui-iconfont-more">Options</span></button>
                                <div className="aui-dropdown-content aui-list">
                                    <ul id="attachment-sorting-options" className="aui-list-section aui-first">
                                        <li className="aui-list-item"><a id="attachment-sort-key-name"
                                                                         href="/browse/JENKINS-54683?attachmentSortBy=fileName#attachmentmodule"
                                                                         className="aui-list-checked aui-checked aui-list-item-link"
                                                                         title="viewissue.subtasks.tab.show.all.name"><span>Sort By Name</span></a>
                                        </li>
                                        <li className="aui-list-item"><a id="attachment-sort-key-date"
                                                                         href="/browse/JENKINS-54683?attachmentSortBy=dateTime#attachmentmodule"
                                                                         className="aui-list-checked aui-list-item-link"
                                                                         title="Sort By Date"><span>Sort By Date</span></a>
                                        </li>
                                    </ul>
                                    <ul id="attachment-sorting-order-options" className="aui-list-section">
                                        <li className="aui-list-item"><a id="attachment-sort-direction-asc"
                                                                         href="/browse/JENKINS-54683?attachmentOrder=asc#attachmentmodule"
                                                                         className="aui-list-checked aui-checked aui-list-item-link"
                                                                         title="Ascending"><span>Ascending</span></a>
                                        </li>
                                        <li className="aui-list-item"><a id="attachment-sort-direction-desc"
                                                                         href="/browse/JENKINS-54683?attachmentOrder=desc#attachmentmodule"
                                                                         className="aui-list-checked aui-list-item-link"
                                                                         title="Descending"><span>Descending</span></a>
                                        </li>
                                    </ul>
                                    <ul id="attachment-view-mode-options" className="aui-list-section">
                                        <li className="aui-list-item"><a id="attachment-view-mode-gallery"
                                                                         href="/browse/JENKINS-54683?attachmentViewMode=gallery#attachmentmodule"
                                                                         className="aui-list-checked aui-checked aui-list-item-link"
                                                                         title="Thumbnails"><span>Thumbnails</span></a>
                                        </li>
                                        <li className="aui-list-item"><a id="attachment-view-mode-list"
                                                                         href="/browse/JENKINS-54683?attachmentViewMode=list#attachmentmodule"
                                                                         className="aui-list-checked aui-list-item-link"
                                                                         title="List"><span>List</span></a></li>
                                    </ul>
                                    <ul id="attachment-manage-options" className="aui-list-section aui-last">
                                        <li className="aui-list-item"><a id="aszip"
                                                                         href="/secure/attachmentzip/195475.zip"
                                                                         className="aui-list-checked aui-list-item-link"
                                                                         title="Download all attachments as a ZIP file"><span>Download All</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div className="mod-content">
                    <ol id="attachment_thumbnails" className="item-attachments" data-sort-key="fileName"
                        data-sort-order="asc">
                        <li className="attachment-content js-file-attachment" draggable="true"
                            data-downloadurl="image/png:image-2018-11-17-13-52-36-103.png:https://issues.jenkins.io/secure/attachment/45196/image-2018-11-17-13-52-36-103.png"
                            data-issue-id="195475" data-attachment-type="image" data-attachment-thumbnail="true"
                            resolved="">
                            <div className="attachment-thumb"><a
                                href="/secure/attachment/45196/image-2018-11-17-13-52-36-103.png"
                                title="image-2018-11-17-13-52-36-103.png - Latest 2018-11-17 19:52 - Rakesh Kande"
                                file-preview-id="45196" file-preview-title="image-2018-11-17-13-52-36-103.png"
                                file-preview-type="image"
                                file-preview-url="https://issues.jenkins.io/secure/thumbnail/45196/_thumb_45196.png"
                                resolved=""><img loading="lazy"
                                                 src="https://issues.jenkins.io/secure/thumbnail/45196/_thumb_45196.png"
                                                 alt="image-2018-11-17-13-52-36-103.png"></img></a></div>
                            <dl>
                                <dt><span className="blender"></span><a
                                    href="/secure/attachment/45196/image-2018-11-17-13-52-36-103.png"
                                    className="attachment-title"
                                    title="image-2018-11-17-13-52-36-103.png - Latest 2018-11-17 19:52 - Rakesh Kande"
                                    file-preview-id="45196" file-preview-title="image-2018-11-17-13-52-36-103.png"
                                    file-preview-type="image"
                                    file-preview-url="https://issues.jenkins.io/secure/thumbnail/45196/_thumb_45196.png"
                                    resolved="">image-2018-11-17-13-52-36-103.png</a></dt>
                                <dd className="attachment-size">118 kB</dd>
                                <dd className="attachment-date">
                                    <time className="livestamp" dateTime="2018-11-17T19:52:36.000Z">2018-11-17 19:52
                                    </time>
                                </dd>
                            </dl>
                        </li>
                    </ol>
                </div>
            </div>
        );
    }
}

class TicketLinkingModuleComponent extends React.Component {
    constructor(props) {
        super(props);
    }

    render() {
        return (
            <div id="linkingmodule" className="module toggle-wrap">
                <div id="linkingmodule_heading" className="mod-header">
                    <button className="aui-button toggle-title" aria-label="Issue Links" aria-controls="linkingmodule"
                            aria-expanded="true" resolved="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14">
                            <g fill="none" fillRule="evenodd">
                                <path
                                    d="M3.29175 4.793c-.389.392-.389 1.027 0 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955c.388-.392.388-1.027 0-1.419-.389-.392-1.018-.392-1.406 0l-2.298 2.317-2.307-2.327c-.194-.195-.449-.293-.703-.293-.255 0-.51.098-.703.293z"
                                    fill="#344563"></path>
                            </g>
                        </svg>
                    </button>
                    <h4 className="toggle-title" id="linkingmodule-label">Issue Links</h4>
                    <ul className="ops"></ul>
                </div>
                <div className="mod-content">
                    <div className="links-container" data-default-link-icon="/images/icons/generic_link_16.png"
                         resolved="">
                        <dl className="links-list ">
                            <dt title="is duplicated by">is duplicated by</dt>
                            <dd id="internal-200536_10000">
                                <div className="link-content">
                                    <p>
                                        <img
                                            src="/secure/viewavatar?size=xsmall&amp;avatarId=14673&amp;avatarType=issuetype"
                                            width="16" height="16"
                                            title="Bug - A problem which impairs or prevents the functions of the product."
                                            alt="Bug - A problem which impairs or prevents the functions of the product."></img>
                                        <span
                                            title="JENKINS-58409: java.util.concurrent.ExecutionException: org.jenkinsci.remoting.protocol.impl.ConnectionRefusalException: Unknown client name">
                           <a href="/browse/JENKINS-58409" data-issue-key="JENKINS-58409"
                              className="issue-link link-title resolution">JENKINS-58409</a>
                           <span className="link-summary">java.util.concurrent.ExecutionException: org.jenkinsci.remoting.protocol.impl.ConnectionRefusalException: Unknown client name</span>
                           </span>
                                    </p>
                                    <ul className="link-snapshot">
                                        <li className="priority"><img src="/images/icons/priorities/critical.svg"
                                                                      width="16" height="16"
                                                                      title="Critical - Crashes, loss of data, severe memory leak."
                                                                      alt="Critical - Crashes, loss of data, severe memory leak."></img>
                                        </li>
                                        <li className="status">
                                            <span
                                                className=" jira-issue-status-lozenge aui-lozenge jira-issue-status-lozenge-green jira-issue-status-lozenge-done aui-lozenge-subtle jira-issue-status-lozenge-max-width-short"
                                                data-tooltip="<span className=&quot;jira-issue-status-tooltip-title&quot;>Closed</span><br><span className=&quot;jira-issue-status-tooltip-desc&quot;>The issue is considered finished, the resolution is correct. Issues which are closed can be reopened.</span>"
                                                original-title="">Closed</span>
                                        </li>
                                    </ul>
                                </div>
                            </dd>
                        </dl>
                        <dl className="links-list ">
                            <dt title="is related to">is related to</dt>
                            <dd id="internal-193618_10010">
                                <div className="link-content">
                                    <p>
                                        <img
                                            src="/secure/viewavatar?size=xsmall&amp;avatarId=14688&amp;avatarType=issuetype"
                                            width="16" height="16" title="Task - A task that needs to be done."
                                            alt="Task - A task that needs to be done."></img>
                                        <span
                                            title="JENKINS-53427: Agent creation failure because of concurrent attempts to schedule a pod ">
                           <a href="/browse/JENKINS-53427" data-issue-key="JENKINS-53427"
                              className="issue-link link-title">JENKINS-53427</a>
                           <span className="link-summary">Agent creation failure because of concurrent attempts to schedule a pod </span>
                           </span>
                                    </p>
                                    <ul className="link-snapshot">
                                        <li className="priority"><img src="/images/icons/priorities/critical.svg"
                                                                      width="16" height="16"
                                                                      title="Critical - Crashes, loss of data, severe memory leak."
                                                                      alt="Critical - Crashes, loss of data, severe memory leak."></img>
                                        </li>
                                        <li className="status">
                                            <span
                                                className=" jira-issue-status-lozenge aui-lozenge jira-issue-status-lozenge-yellow jira-issue-status-lozenge-indeterminate aui-lozenge-subtle jira-issue-status-lozenge-max-width-short"
                                                data-tooltip="<span className=&quot;jira-issue-status-tooltip-title&quot;>Reopened</span><br><span className=&quot;jira-issue-status-tooltip-desc&quot;>This issue was once resolved, but the resolution was deemed incorrect. From here issues are either marked assigned or resolved.</span>"
                                                original-title="">Reopened</span>
                                        </li>
                                    </ul>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        );
    }
}

class TicketCommentComponent extends React.Component {
    constructor(props) {
        super(props);
    }

    render() {

        const style1 = {
            height: "auto",
        }
        return (
            <div id="activitymodule" className="module toggle-wrap">
                <div id="activitymodule_heading" className="mod-header">
                    <button className="aui-button toggle-title" aria-label="Activity" aria-controls="activitymodule"
                            aria-expanded="true" resolved="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14">
                            <g fill="none" fillRule="evenodd">
                                <path
                                    d="M3.29175 4.793c-.389.392-.389 1.027 0 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955c.388-.392.388-1.027 0-1.419-.389-.392-1.018-.392-1.406 0l-2.298 2.317-2.307-2.327c-.194-.195-.449-.293-.703-.293-.255 0-.51.098-.703.293z"
                                    fill="#344563"></path>
                            </g>
                        </svg>
                    </button>
                    <h4 className="toggle-title" id="activitymodule-label">Activity</h4>
                    <ul className="ops"></ul>
                </div>
                <div className="mod-content">
                    <div className="tabwrap aui-tabs horizontal-tabs aui-tabs-disabled">
                        <ul id="issue-tabs" className="tabs-menu">
                            <li className="menu-item  active-tab active " id="all-tabpanel" data-id="all-tabpanel"
                                data-key="com.atlassian.jira.plugin.system.issuetabpanels:all-tabpanel" data-label="All"
                                data-href="/browse/JENKINS-54683?page=com.atlassian.jira.plugin.system.issuetabpanels:all-tabpanel">
                                <a tabIndex="0">All</a>
                            </li>
                            <li className="menu-item " id="comment-tabpanel" data-id="comment-tabpanel"
                                data-key="com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel"
                                data-label="Comments"
                                data-href="/browse/JENKINS-54683?page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel">
                                <a id="comment-tabpanel"
                                   href="/browse/JENKINS-54683?page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel"
                                   className="ajax-activity-content">Comments</a>
                            </li>
                            <li className="menu-item " id="changehistory-tabpanel" data-id="changehistory-tabpanel"
                                data-key="com.atlassian.jira.plugin.system.issuetabpanels:changehistory-tabpanel"
                                data-label="History"
                                data-href="/browse/JENKINS-54683?page=com.atlassian.jira.plugin.system.issuetabpanels:changehistory-tabpanel">
                                <a id="changehistory-tabpanel"
                                   href="/browse/JENKINS-54683?page=com.atlassian.jira.plugin.system.issuetabpanels:changehistory-tabpanel"
                                   className="ajax-activity-content">History</a>
                            </li>
                            <li className="menu-item " id="activity-stream-issue-tab"
                                data-id="activity-stream-issue-tab"
                                data-key="com.atlassian.streams.streams-jira-plugin:activity-stream-issue-tab"
                                data-label="Activity"
                                data-href="/browse/JENKINS-54683?page=com.atlassian.streams.streams-jira-plugin:activity-stream-issue-tab">
                                <a id="activity-stream-issue-tab"
                                   href="/browse/JENKINS-54683?page=com.atlassian.streams.streams-jira-plugin:activity-stream-issue-tab"
                                   className="ajax-activity-content">Activity</a>
                            </li>
                        </ul>
                        <div className="sortwrap">
                            <a className="issue-activity-sort-link ajax-activity-content" rel="nofollow"
                               data-tab-sort="" data-order="desc" href="/browse/JENKINS-54683?actionOrder=desc"
                               title="Ascending order - Click to sort in descending order">
                                <span className="aui-icon aui-icon-small aui-iconfont-up">Ascending order - Click to sort in descending order</span>
                            </a>
                        </div>
                        <div className="tabs-pane active-pane"></div>
                    </div>
                    <div className="issuePanelWrapper">
                        <div className="issuePanelProgress"></div>
                        <div className="issuePanelContainer" id="issue_actions_container" style={style1}>
                            <div className="issue-data-block" id="issuecreated-195475">
                                <div className="actionContainer">
                                    <div className="action-details" id="issuecreateddetails-195475">
                                        <a className="user-hover user-avatar" rel="rakeyshkande"
                                           id="issuecreator_195475"
                                           href="/secure/ViewProfile.jspa?name=rakeyshkande"><span
                                            className="aui-avatar aui-avatar-xsmall"><span className="aui-avatar-inner"><img
                                            src="https://www.gravatar.com/avatar/22e4cade82ec1755ed6f81de6a2d092f?d=mm&amp;s=24"
                                            alt="rakeyshkande"></img></span></span> Rakesh Kande</a>
                                        created issue - <span className="date" title="2018-11-17 19:52"><time
                                        className="livestamp"
                                        dateTime="2018-11-17T19:52:39+0000">2018-11-17 19:52</time></span>
                                    </div>
                                </div>
                            </div>
                            <div id="comment-355496"
                                 className="issue-data-block activity-comment twixi-block  expanded">
                                <div className="twixi-wrap verbose actionContainer">
                                    <div className="action-head">
                                        <button aria-label="Collapse comment" title="Collapse comment"
                                                className="twixi icon-default aui-icon aui-icon-small aui-iconfont-expanded"></button>
                                        <div className="action-details">
                                            <a className="user-hover user-avatar" rel="csanchez"
                                               id="commentauthor_355496_verbose"
                                               href="/secure/ViewProfile.jspa?name=csanchez"><span
                                                className="aui-avatar aui-avatar-xsmall"><span
                                                className="aui-avatar-inner"><img
                                                src="https://issues.jenkins.io/secure/useravatar?size=xsmall&amp;avatarId=10292"
                                                alt="csanchez"></img></span></span> Carlos Sanchez</a>
                                            added a comment - <a
                                            href="/browse/JENKINS-54683?focusedCommentId=355496&amp;page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-355496"
                                            className="commentdate_355496_verbose subText comment-created-date-link"><span
                                            className="date user-tz" title="2018-12-07 17:50"><time
                                            className="livestamp"
                                            dateTime="2018-12-07T17:50:12+0000">2018-12-07 17:50</time></span></a>
                                        </div>
                                    </div>
                                    <div className="action-body flooded">
                                        <p>can you provide the master logs?</p>
                                        <p><a href="https://github.com/jenkinsci/kubernetes-plugin/#debugging"
                                              className="external-link" target="_blank"
                                              rel="nofollow noopener">https://github.com/jenkinsci/kubernetes-plugin/#debugging</a>
                                        </p>
                                    </div>
                                    <div className="action-links action-comment-actions">
                                    </div>
                                </div>
                                <div className="twixi-wrap concise actionContainer">
                                    <div className="action-head">
                                        <button aria-label="Expand comment" title="Expand comment"
                                                className="twixi icon-default aui-icon aui-icon-small aui-iconfont-collapsed"></button>
                                        <div className="action-details flooded">
                                            <a className="user-hover user-avatar" rel="csanchez"
                                               id="commentauthor_355496_concise"
                                               href="/secure/ViewProfile.jspa?name=csanchez"><span
                                                className="aui-avatar aui-avatar-xsmall"><span
                                                className="aui-avatar-inner"><img
                                                src="https://issues.jenkins.io/secure/useravatar?size=xsmall&amp;avatarId=10292"
                                                alt="csanchez"></img></span></span> Carlos Sanchez</a>
                                            added a comment - <a
                                            href="/browse/JENKINS-54683?focusedCommentId=355496&amp;page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-355496"
                                            className="commentdate_355496_concise subText comment-created-date-link"><span
                                            className="date user-tz" title="2018-12-07 17:50"><time
                                            className="livestamp"
                                            dateTime="2018-12-07T17:50:12+0000">2018-12-07 17:50</time></span></a> can
                                            you provide the master logs?
                                            https://github.com/jenkinsci/kubernetes-plugin/#debugging
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        );
    }
}


class IssueBodyContent extends React.Component {
    constructor(props) {
        super(props);
    }

    render() {
        return (
            <div className="issue-body-content">
                <div className="aui-group issue-body">

                    <div className="aui-item issue-main-column">
                        <TicketDetailsComponent/>
                        <TicketDescriptionComponent/>
                        <TicketDnDMetaDataComponent/>
                        <TicketAttachmentModuleComponent/>
                        <TicketLinkingModuleComponent/>
                        <TicketCommentComponent/>
                    </div>

                    <div id="viewissuesidebar" className="aui-item issue-side-column">

                        <PeopleModuleComponent/>
                        <TicketDatesComponent/>

                    </div>
                </div>
            </div>
        );
    }
}

class IssueContentComponent extends React.Component {
    constructor(props) {
        super(props);
    }

    render() {
        return (
            <div>
                <IssueHeaderComponent/>
                <IssueBodyContent/>
            </div>
        );
    }
}

ReactDOM.render(<IssueContentComponent/>, document.getElementById('issue-content'));

</script>
{% endblock %}