{% extends "accounts/base.html" %}
{% load static %}
{% block content %}

    <style type="text/css">
        .grabbable {
            cursor: move; /* fallback if grab cursor is unsupported */
            cursor: grab;
            cursor: -moz-grab;
            cursor: -webkit-grab;
        }

        /* (Optional) Apply a "closed-hand" cursor during drag operation. */
        .grabbable:active {
            cursor: grabbing;
            cursor: -moz-grabbing;
            cursor: -webkit-grabbing;
        }

        .file-drop-area {
            position: relative;
            display: flex;
            align-items: center;
            width: 450px;
            max-width: 100%;
            padding: 25px;
            border: 1px dashed rgba(255, 255, 255, 0.4);
            border-radius: 3px;
            transition: 0.2s;
        }

        .file-input {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            cursor: pointer;
            opacity: 0;
        }
    </style>

    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <link type="text/css" rel="stylesheet" href="{% static 'css/ticketPageCss1.css' %}" media="all">
    <link type="text/css" rel="stylesheet" href="{% static 'css/ticketPageCss2.css' %}" media="all">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

    <div class="modal fade bd-example-modal-lg" id="editTicketModal" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true" style="color: black;">
        <div class="modal-dialog" role="document" style="max-width: 1000px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Issue: {{ ticket.internalkey }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="project-add-details" role="tabpanel">
                                <dl class="row">
                                    <dd class="col-sm-12">
                                        <label style="font-size: 85%; color: #6c757d;">Summary</label>
                                        <input class="form-control col" type="text" placeholder="Summary" name="summary"
                                               value="{{ ticket.summary }}"
                                               required>
                                    </dd>
                                    <dd class="col-sm-12">
                                        <label style="font-size: 85%; color: #6c757d;">Issue type</label>
                                        <select id="ticketIssueType" data-show-content="true"
                                                class="form-control" name="ticketIssueType">
                                            {% for jp in ticketIssueTypes %}
                                                {% if jp.code == ticket.issueType.code %}
                                                    <option data-content="<img src='{{ jp.icon }}' width='20' height='20'>&nbsp; {{ jp.internalKey }}"
                                                            selected="selected"
                                                            value="{{ jp.id }}">{{ jp.internalKey }}</option>
                                                {% else %}
                                                    <option data-content="<img src='{{ jp.icon }}' width='20' height='20'>&nbsp; {{ jp.internalKey }}"
                                                            value="{{ jp.id }}">{{ jp.internalKey }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </dd>
                                </dl>
                                <hr>
                                <dl class="row">

                                    <dd class="col-sm-12">
                                        <label style="font-size: 85%; color: #6c757d;">Priority</label>
                                        <select id="ticketPriorities" data-show-content="true"
                                                class="form-control" name="priority">
                                            {% for jp in ticketPriorities %}
                                                {% if jp.code == ticket.priority.code %}
                                                    <option data-content="<img src='{{ jp.icon }}' width='20' height='20'>&nbsp; {{ jp.internalKey }}"
                                                            selected="selected"
                                                            value="{{ jp.id }}">{{ jp.internalKey }}</option>
                                                {% else %}
                                                    <option data-content="<img src='{{ jp.icon }}' width='20' height='20'>&nbsp; {{ jp.internalKey }}"
                                                            value="{{ jp.id }}">{{ jp.internalKey }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </dd>
                                    <dd class="col-sm-12">
                                        <label style="font-size: 85%; color: #6c757d;">Components</label>
                                        <select class="form-control select2bs4" multiple="multiple" name="components"
                                                style="width: 100%">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </dd>
                                    <dd class="col-sm-12">
                                        <label style="font-size: 85%; color: #6c757d;">Labels</label>
                                        <select class="form-control select2bs4" multiple="multiple" name="labels"
                                                id="ticket-labels"
                                                style="width: 100%">
                                            {% for bl in ticket.board.boardLabels.all %}
                                                <option value="{{ bl.id }}">{{ bl.internalKey }}</option>
                                            {% endfor %}
                                        </select>
                                    </dd>
                                    <dd class="col-sm-12">
                                        <label style="font-size: 85%; color: #6c757d;">Story Points</label>
                                        <input class="form-control col" type="number" placeholder="Story Points"
                                               name="storyPoints" value="{{ ticket.storyPoints }}">
                                    </dd>
                                    <dd class="col-sm-12">
                                        <label style="font-size: 85%; color: #6c757d;">Fix Version</label>
                                        <input class="form-control col" type="text" placeholder="Fix Version"
                                               name="fixVersion" value="{{ ticket.fixVersion }}">
                                    </dd>
                                    <dd class="col-sm-12">
                                        <label style="font-size: 85%; color: #6c757d;">Attachment</label>
                                        <div class="file-drop-area border justify-content-center" style="width: 100%;">
                                            <span class="choose-file-button">Choose files </span>
                                            <span class="file-message">	&nbsp; or drag and drop files here</span>
                                            <input class="file-input" name="attachments" type="file" multiple>
                                        </div>
                                    </dd>
                                    <dd class="col-sm-12">
                                        <label style="font-size: 85%; color: #6c757d;">Description</label>
                                        <textarea class="form-control col" rows="5" name="description"
                                                  required>{{ ticket.description }}</textarea>
                                    </dd>
                                </dl>
                                <hr>
                                <dl class="row">
                                    <dd class="col-sm-12">
                                        <label style="font-size: 85%; color: #6c757d;">Assignee</label>
                                        <select id="assignee" data-show-content="true" class="form-control"
                                                name="assignee">
                                            {% for p in allProfiles %}
                                                {% if p.user == ticket.assignee %}
                                                    <option data-content="<img src='{{ p.profilePicture.url }}' width='20' height='20'>&nbsp; {{ p.user.get_full_name }}"
                                                            selected="selected"
                                                            value="{{ p.user.id }}">{{ p.user.get_full_name }}</option>
                                                {% else %}
                                                    <option data-content="<img src='{{ p.profilePicture.url }}' width='20' height='20'>&nbsp; {{ p.user.get_full_name }}"
                                                            value="{{ p.user.id }}">{{ p.user.get_full_name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input class="btn btn-primary" type="submit" style="background-color: #0052cc" value="Update">
                        <button class="btn btn-secondary" type="reset" data-dismiss="modal">Cancel</button>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="issue-container">
        <div id="issue-content" class="issue-edit-form">
            <header id="stalker" class="issue-header js-stalker">
                <div class="issue-header-content">
                    <div class="aui-page-header">
                        <div class="aui-page-header-inner">
                            <div class="aui-page-header-image">
                                <span id="10172" class="aui-avatar aui-avatar-large aui-avatar-project">
                                    <span class="aui-avatar-inner">
                                        <img id="project-avatar"
                                             alt="Uploaded image for project: '{{ ticket.project.internalKey }}'"
                                             src="{{ ticket.project.icon.url }}">
                                    </span>
                                </span>
                            </div>
                            <div class="aui-page-header-main">
                                <ol class="aui-nav aui-nav-breadcrumbs" resolved="">
                                    <li>
                                        <a id="project-name-val"
                                           href="{% url 'jira:project-issues' ticket.project.code %}"
                                           class="">{{ ticket.project.internalKey }}</a>
                                    </li>
                                    <li>
                                        <a class="issue-link" data-issue-key="{{ ticket.getTicketUrl }}"
                                           href="{{ ticket.getTicketUrl }}" id="key-val"
                                           rel="215653">{{ ticket.internalKey }}</a>
                                    </li>
                                </ol>
                                <h1 id="summary-val">{{ ticket.summary }} </h1>
                            </div>
                        </div>
                        <button type="button" class="btn" data-toggle="modal" style="background-color: #f5f6f8"
                                data-target="#editTicketModal">Edit
                        </button>
                    </div>
                </div>
            </header>

            <div class="issue-body-content">
                <div class="aui-group issue-body">
                    <div class="aui-item issue-main-column">
                        <div id="details-module" class="module toggle-wrap">
                            <div id="details-module_heading" class="mod-header">
                                <button class="aui-button toggle-title" aria-label="Details"
                                        aria-controls="details-module" aria-expanded="true" resolved="">
                                    <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
                                </button>
                                <h4 class="toggle-title" id="details-module-label">Details</h4>
                                <ul class="ops"></ul>
                            </div>
                            <div class="mod-content">
                                <ul id="issuedetails" class="property-list two-cols">
                                    <li class="item">
                                        <div class="wrap">
                                            <strong class="name" title="Type">
                                                <label for="issuetype">Type:</label>
                                            </strong>
                                            <span id="type-val" class="value">
                                                <img alt="" height="16" src="{{ ticket.issueType.icon }}"
                                                     title="{{ ticket.issueType.internalKey }}"
                                                     width="16"> {{ ticket.issueType.internalKey }}
                                            </span>
                                        </div>
                                    </li>
                                    <li class="item item-right">
                                        <div class="wrap">
                                            <strong class="name" title="Status">Status:</strong>
                                            <span id="status-val" class="value">
                                                <span class=" jira-issue-status-lozenge aui-lozenge jira-issue-status-lozenge-yellow jira-issue-status-lozenge-indeterminate jira-issue-status-lozenge-max-width-medium"
                                                      style="background-color: {{ ticket.column.colour }}; color: white;">
                                                    {{ ticket.column.internalKey }}
                                                </span>
                                            </span>
                                        </div>
                                    </li>
                                    <li class="item new">
                                        <div class="wrap">
                                            <strong class="name" title="Priority">
                                                <label for="priority-field">Priority:</label>
                                            </strong>
                                            <span id="priority-val" class="value">
                                                <img alt="" height="16" src="{{ ticket.priority.icon }}"
                                                     title="{{ ticket.priority.internalLey }}"
                                                     width="16"> {{ ticket.priority.internalKey }}
                                            </span>
                                        </div>
                                    </li>
                                    <!-- TODO -->
                                    <li class="item item-right">
                                        <div class="wrap">
                                            <strong class="name" title="Resolution">Resolution:</strong>
                                            <span id="resolution-val"
                                                  class="value {{ ticket.resolution.internalKey }}"> {{ ticket.resolution.internalKey }} </span>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="wrap">
                                            <strong class="name" title="Component/s">
                                                <label for="components">Component/s:</label>
                                            </strong>
                                            <span id="components-val" class="value">
                                              <span class="shorten" id="components-field" resolved=""
                                                    style="height: auto;">
                                                  <!-- TODO -->
                                                  <a href="/issues/?jql=project+%3D+JENKINS+AND+component+%3D+core"
                                                     title="core Jenkins core">{{ ticket.component.internalKey }}</a>
                                              </span>
                                          </span>
                                        </div>
                                    </li>

                                    <li class="item item-right">
                                        <div class="wrap">
                                            <strong class="name" title="StoryPoint">Story Point:</strong>
                                            <span id="storyPoint-val"
                                                  class="value {{ ticket.storyPoints }}"> {{ ticket.storyPoints }} </span>
                                        </div>
                                    </li>

                                    <li class="item">
                                        <div class="wrap" id="wrap-labels">
                                            <strong class="name" title="Labels"> <label
                                                    for="labels-textarea">Labels:</label> </strong>
                                            <div class="labels-wrap value">
                                                {% for label in ticket.label.all %}
                                                    <a href="/issues/?jql=labels+%3D+regression" class="aui-lozenge"
                                                       style="background-color: #DFE1E5; color: black;"
                                                       title="{{ label.internalKey }}">
                                                        {{ label.internalKey }}
                                                    </a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </li>

                                    <li class="item item-right">
                                        <div class="wrap">
                                            <strong class="name" title="fixVersion">Fix version:</strong>
                                            <span id="fixVersion-val"
                                                  class="value {{ ticket.fixVersion }}"> {{ ticket.fixVersion }} </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="descriptionModule" class="module toggle-wrap">
                            <div id="descriptionModule_heading" class="mod-header">
                                <button class="aui-button toggle-title" aria-label="Description"
                                        aria-controls="descriptionModule" aria-expanded="true" resolved="">
                                    <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
                                </button>
                                <h4 class="toggle-title" id="descriptionmodule-label">Description</h4>
                                <ul class="ops"></ul>
                            </div>
                            <div class="mod-content">
                                <div id="description-val" class="field-ignore-highlight">
                                    <div class="user-content-block">
                                        {{ ticket.description|linebreaksbr }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="dnd-metadata" class="module toggle-wrap">
                            <div id="dnd-metadata_heading" class="mod-header">
                                <button class="aui-button toggle-title" aria-label="Attachments"
                                        aria-controls="dnd-metadata" aria-expanded="true" resolved="">
                                    <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
                                </button>
                                <h4 class="toggle-title" id="dnd-metadata-label">Attachments</h4>
                                <ul class="ops"></ul>
                            </div>
                            <div class="mod-content">
                                <div id="dnd-metadata-webpanel" data-can-attach="false" data-project-type="software"
                                     data-upload-limit="10485760" data-thumbnails-allowed="true"></div>
                            </div>
                        </div>
                        <div id="attachmentmodule" class="module toggle-wrap">
                            <div id="attachmentmodule_heading" class="mod-header">
                                <button class="aui-button toggle-title" aria-label="Attachments"
                                        aria-controls="attachmentmodule" aria-expanded="true" resolved="">
                                    <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
                                </button>
                                <h4 class="toggle-title" id="attachmentmodule-label">Attachments</h4>
                                <ul class="ops">
                                    <li class="drop">
                                        <div class="aui-dd-parent">
                                            <button class="aui-button aui-button-compact aui-button-subtle js-default-dropdown"
                                                    title="Options" aria-label="Attachments panel options" resolved=""
                                                    id="AJS_DROPDOWN__4" aria-controls="AJS_DROPDOWN__4_drop"
                                                    aria-haspopup="true" aria-expanded="false"><span
                                                    class="aui-icon aui-icon-small aui-iconfont-more">Options</span>
                                            </button>
                                            <div class="aui-dropdown-content aui-list">
                                                <ul id="attachment-sorting-options" class="aui-list-section aui-first">
                                                    <li class="aui-list-item"><a id="attachment-sort-key-name"
                                                                                 href="/browse/JENKINS-68799?attachmentSortBy=fileName#attachmentmodule"
                                                                                 class="aui-list-checked aui-checked aui-list-item-link"
                                                                                 title="viewissue.subtasks.tab.show.all.name"><span>Sort By Name</span></a>
                                                    </li>
                                                    <li class="aui-list-item"><a id="attachment-sort-key-date"
                                                                                 href="/browse/JENKINS-68799?attachmentSortBy=dateTime#attachmentmodule"
                                                                                 class="aui-list-checked aui-list-item-link"
                                                                                 title="Sort By Date"><span>Sort By Date</span></a>
                                                    </li>
                                                </ul>
                                                <ul id="attachment-sorting-order-options" class="aui-list-section">
                                                    <li class="aui-list-item"><a id="attachment-sort-direction-asc"
                                                                                 href="/browse/JENKINS-68799?attachmentOrder=asc#attachmentmodule"
                                                                                 class="aui-list-checked aui-checked aui-list-item-link"
                                                                                 title="Ascending"><span>Ascending</span></a>
                                                    </li>
                                                    <li class="aui-list-item"><a id="attachment-sort-direction-desc"
                                                                                 href="/browse/JENKINS-68799?attachmentOrder=desc#attachmentmodule"
                                                                                 class="aui-list-checked aui-list-item-link"
                                                                                 title="Descending"><span>Descending</span></a>
                                                    </li>
                                                </ul>
                                                <ul id="attachment-view-mode-options" class="aui-list-section">
                                                    <li class="aui-list-item"><a id="attachment-view-mode-gallery"
                                                                                 href="/browse/JENKINS-68799?attachmentViewMode=gallery#attachmentmodule"
                                                                                 class="aui-list-checked aui-checked aui-list-item-link"
                                                                                 title="Thumbnails"><span>Thumbnails</span></a>
                                                    </li>
                                                    <li class="aui-list-item"><a id="attachment-view-mode-list"
                                                                                 href="/browse/JENKINS-68799?attachmentViewMode=list#attachmentmodule"
                                                                                 class="aui-list-checked aui-list-item-link"
                                                                                 title="List"><span>List</span></a></li>
                                                </ul>
                                                <ul id="attachment-manage-options" class="aui-list-section aui-last">
                                                    <li class="aui-list-item"><a id="aszip"
                                                                                 href="/secure/attachmentzip/215653.zip"
                                                                                 class="aui-list-checked aui-list-item-link"
                                                                                 title="Download all attachments as a ZIP file"><span>Download All</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="mod-content">
                                <ol id="attachment_thumbnails" class="item-attachments" data-sort-key="fileName"
                                    data-sort-order="asc">
                                    <!-- TODO: Implement carousel and ordering -->
                                    {% for attachment in ticket.ticketAttachments.all %}
                                        <li class="attachment-content js-file-attachment" draggable="true"
                                            data-downloadurl="image/png:image-2022-06-21-21-22-35-447.png:https://issues.jenkins.io/secure/attachment/58242/image-2022-06-21-21-22-35-447.png"
                                            data-issue-id="{{ attachment.id }}" data-attachment-type="image"
                                            data-attachment-thumbnail="true">
                                            <div class="attachment-thumb">
                                                <a href="/secure/attachment/58242/image-2022-06-21-21-22-35-447.png"
                                                   title="image-2022-06-21-21-22-35-447.png - Latest 2022-06-21 19:22 - Bartosz Nowak"
                                                   file-preview-id="{{ attachment.id }}"
                                                   file-preview-title="image-2022-06-21-21-22-35-447.png"
                                                   file-preview-type="image"
                                                   file-preview-url="https://issues.jenkins.io/secure/thumbnail/58242/_thumb_58242.png"
                                                   resolved="">
                                                    <img loading="lazy"
                                                         src="{{ attachment.attachment.url }}"
                                                         alt="image-2022-06-21-21-22-35-447.png">
                                                </a>
                                            </div>
                                            <dl>
                                                <dt>
                                                    <span class="blender"></span>
                                                    <a
                                                            href="/secure/attachment/58242/image-2022-06-21-21-22-35-447.png"
                                                            class="attachment-title"
                                                            title="image-2022-06-21-21-22-35-447.png - Latest 2022-06-21 19:22 - Bartosz Nowak"
                                                            file-preview-id="58242"
                                                            file-preview-title="image-2022-06-21-21-22-35-447.png"
                                                            file-preview-type="image"
                                                            file-preview-url="https://issues.jenkins.io/secure/thumbnail/58242/_thumb_58242.png"
                                                            resolved="">{{ attachment.internalKey }}</a></dt>
                                                <!-- TODO: Fix file size -->
                                                <dd class="attachment-size">{{ attachment.attachment.size }} kB</dd>
                                                <dd class="attachment-date">
                                                    <time className="livestamp"
                                                          dateTime="{{ attachment.createdDttm }}">{{ attachment.createdDttm|date:'Y-m-d H:i' }}
                                                    </time>
                                                </dd>
                                            </dl>
                                        </li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                        <div id="linkingmodule" class="module toggle-wrap">


                        </div>
                        <div id="activitymodule" class="module toggle-wrap">
                            <div id="activitymodule_heading" class="mod-header">
                                <button class="aui-button toggle-title" aria-label="Activity"
                                        aria-controls="activitymodule" aria-expanded="true" resolved="">
                                    <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
                                </button>
                                <h4 class="toggle-title" id="activitymodule-label">Comments</h4>
                                <ul class="ops"></ul>
                            </div>
                            <div class="mod-content">
                                <div id="div-id-ticket-master-comment"></div>
                            </div>
                        </div>
                    </div>
                    <div id="viewissuesidebar" class="aui-item issue-side-column">
                        <div id="peoplemodule" class="module toggle-wrap">
                            <div id="peoplemodule_heading" class="mod-header">
                                <button class="aui-button toggle-title" aria-label="People" aria-controls="peoplemodule"
                                        aria-expanded="true" resolved="">
                                    <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
                                </button>
                                <h4 class="toggle-title" id="peoplemodule-label">People</h4>
                                <ul class="ops"></ul>
                            </div>
                            <div class="mod-content">
                                <div class="item-details people-details" id="peopledetails">
                                    <dl>
                                        <dt title="Assignee">
                                            <label for="assignee-field">Assignee:</label>
                                        </dt>
                                        <dd>
                                            {% if ticket.assignee.profile.profilePicture %}
                                                <span id="assignee-val" class="view-issue-field">
                                                    <span class="aui-avatar aui-avatar-small">
                                                        <span class="aui-avatar-inner">
                                                            <img src="{{ ticket.assignee.profile.profilePicture.url }}"
                                                                 alt="{{ ticket.assignee.get_full_name }}">
                                                        </span>
                                                    </span>
                                                {{ ticket.assignee.get_full_name }}
                                                </span>
                                            {% else %}
                                                <span id="assignee-val" class="view-issue-field">
                                                    <span class="aui-avatar aui-avatar-small">
                                                        <span class="aui-avatar-inner">
                                                            <img src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png"
                                                                 alt="Unassigned">
                                                        </span>
                                                    </span>
                                                    Unassigned
                                                </span>
                                            {% endif %}
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt title="Reporter">
                                            <label for="reporter-field">Reporter:</label>
                                        </dt>
                                        <dd>
                                            <span id="reporter-val" class="view-issue-field">
                                                <span class="user-hover" id="issue_summary_reporter_dumam"
                                                      rel="{{ ticket.reporter.get_full_name }}">
                                                    <span class="aui-avatar aui-avatar-small">
                                                        <span class="aui-avatar-inner">
                                                            <img src="{{ ticket.reporter.profile.profilePicture.url }}"
                                                                 alt="{{ ticket.reporter.get_full_name }}">
                                                        </span>
                                                    </span>
                                                    {{ ticket.reporter.get_full_name }}
                                                </span>
                                            </span>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="item-details">
                                    <dl>
                                        <dt title="Votes">Votes:</dt>
                                        <dd>
                                            <aui-badge id="vote-data" class="">0</aui-badge>
                                            <span id="vote-label"
                                                  title="You have to be logged in to vote for an issue.">Vote for this issue</span>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt title="Watchers">Watchers:</dt>
                                        <dd>
                                            <aui-badge id="watcher-data" class="">2</aui-badge>
                                            <span id="watch-label" title="You have to be logged in to watch an issue.">Start watching this issue</span>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div id="datesmodule" class="module toggle-wrap">
                            <div id="datesmodule_heading" class="mod-header">
                                <button class="aui-button toggle-title" aria-label="Dates" aria-controls="datesmodule"
                                        aria-expanded="true" resolved="">
                                    <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
                                </button>
                                <h4 class="toggle-title" id="datesmodule-label">Dates</h4>
                                <ul class="ops"></ul>
                            </div>
                            <div class="mod-content">
                                <div class="item-details">
                                    <dl class="dates">
                                        <dt>
                                            Created:
                                        </dt>
                                        <dd class="date user-tz" title="{{ ticket.createdDttm }}">
                                            <span data-name="Created" id="created-val" data-fieldtype="datetime">
                                                <time class="livestamp" datetime="{{ ticket.createdDttm }}">
                                                    {{ ticket.createdDttm }}
                                                </time>
                                            </span>
                                        </dd>
                                    </dl>
                                    <dl class="dates">
                                        <dt>
                                            Updated:
                                        </dt>
                                        <dd class="date user-tz" title="{{ ticket.modifiedDttm }}">
                                            <span data-name="Updated" id="updated-val" data-fieldtype="datetime">
                                                <time class="livestamp" datetime="{{ ticket.modifiedDttm }}">
                                                    {{ ticket.modifiedDttm }}
                                                </time>
                                            </span>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $('.select2bs4').select2({});

        var BOARD_LABELS = [];

        {% for bl in ticket.label.all%}
            BOARD_LABELS.push('{{ bl.id }}')
        {% endfor %}

        $('#ticket-labels').select2().val(BOARD_LABELS).trigger("change");

        $(function () {
            $('#tickets-list-container').sortable(
                {
                    stop: function (e, ui) {
                        const newOrder = $.map($('#tickets-list-container > div'), div => div.id);
                        console.log(newOrder)

                        $.ajax(
                            {
                                url: "{% url 'jira:ticketBulkOrderChangeApiEventVersion1Component' %}",
                                data:
                                    {
                                        'newOrder': newOrder,
                                    },
                                type: 'PUT',
                                dataType: 'json',
                            }
                        );
                    }
                }
            );
        });
    </script>
    <script type="text/babel">

        class TicketBar extends React.Component {
            constructor(props) {
                super(props);

                this.state = {
                    assigneeIcon: this.props.ticket.assignee.icon ? this.props.ticket.assignee.icon : "https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png",
                    assigneeName: this.props.ticket.assignee.fullName ? this.props.ticket.assignee.fullName : "Unassigned"
                }
            }

            render() {
                const style1 = {
                    height: "10px"
                }
                const style2 = {
                    marginTop: "-13px",
                    marginLeft: "-10px"
                }

                const style3 = {
                    marginTop: "-12px",
                    marginLeft: "-15px"
                }

                return (
                    <div className="card grabbable" id={this.props.ticket.id}>
                        <div className="card-body" style={style1}>
                            <div className="row">
                                <div className="col-auto" style={style2}>
                                    <img src={this.props.ticket.issueType.icon} width="20" height="20"
                                         data-toggle="tooltip"
                                         data-placement="top" title={this.props.ticket.issueType.internalKey}></img>
                                </div>
                                <div className="col-auto" style={style3}>
                                    <a href={this.props.ticket.url}>{this.props.ticket.internalKey}</a>
                                </div>
                                <div className="col" style={style3}>
                                    <span>{this.props.ticket.summary}</span>
                                </div>
                                <div className="col-auto" style={style2}>
                                    <img src={this.props.ticket.priority.icon} width="20" height="20"
                                         data-toggle="tooltip"
                                         data-placement="top" title={this.props.ticket.priority.internalKey}></img>
                                </div>
                                <div className="col-auto" style={style2}>
                                    <img src={this.state.assigneeIcon} width="25" height="25"
                                         data-toggle="tooltip" data-placement="top"
                                         title={this.state.assigneeName}></img>
                                </div>
                            </div>
                        </div>
                    </div>
                )
            }
        }

        class LinkingModuleBody extends React.Component {
            constructor(props) {
                super(props);
                this.state = {
                    issueType: null,
                    summary: null,
                }
            }

            renderNormalMode = () => {
                return <div></div>
            }

            createNewTicket = () => {
                fetch('{% url 'jira:ticketObjectForEpicTicketApiEventVersion1Component' %}', {
                    method: 'POST',
                    headers: {
                        'Content-type': 'application/json',
                    },
                    body: JSON.stringify({
                        'ticketId': {{ ticket.id }},
                        'ticketSummary': this.refs.summaryInput.value,
                        'issueType': this.refs.issueTypeInput.value,
                    })
                }).then((response) => {
                    this.props.fetchEpicTasks()
                    this.props.switchCreateMode()
                })
            }

            createSubTask = () => {
                fetch('{% url 'jira:subTaskTicketObjectForTicketApiEventVersion1Component' %}', {
                    method: 'POST',
                    headers: {
                        'Content-type': 'application/json',
                    },
                    body: JSON.stringify({
                        'ticketId': {{ ticket.id }},
                        'ticketSummary': this.refs.summaryInput.value,
                    })
                }).then((response) => {
                    this.props.fetchSubTasks()
                    this.props.switchCreateMode()
                })
            }

            renderNewTicketMode = () => {
                const style1 = {
                    marginRight: "25px"
                }
                if (this.props.isEpic) {
                    return (
                        <div id="new-ticket-creator">
                            <div className="row">
                                <div className="col-4">
                                    <select id="issueType" data-show-content="true" className="form-control"
                                            ref="issueTypeInput">
                                        {% for ji in ticketIssueTypes %}
                                            {% if ji.code == "STORY" %}
                                                <option
                                                    data-content="<img src='{% static ji.icon %}' width='20' height='20'>&nbsp; {{ ji }}"
                                                    defaultValue="{{ ji.code }}"
                                                    selected="selected">{{ ji.internalKey }}</option>
                                            {% else %}
                                                <option
                                                    data-content="<img src='{% static ji.icon %}' width='20' height='20'>&nbsp; {{ ji }}"
                                                    defaultValue="{{ ji.code }}">{{ ji.internalKey }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div className="col-8">
                                    <input className="form-control pull-right" id="new-ticket-name" type="text"
                                           ref="summaryInput"
                                           placeholder="What needs to be done?"></input>
                                </div>
                            </div>
                            <br></br>
                            <div>
                                <button type="button" className="btn btn-primary pull-right"
                                        onClick={this.createNewTicket}>Create
                                </button>
                                <button type="button" className="btn btn-light pull-right" style={style1}
                                        onClick={this.props.switchCreateMode}>Cancel
                                </button>
                            </div>
                        </div>
                    )
                } else {
                    return (
                        <div id="subtask-tickets-container">
                            <div id="subtask-tickets-creator">
                                <input className="form-control" id="new-sub-task-name" type="text" ref="summaryInput"
                                       placeholder="What needs to be done in this sub task?"></input>
                                <br></br>
                                <button type="button" className="btn btn-primary pull-right"
                                        onClick={this.createSubTask}>Create
                                </button>
                                <button type="button" className="btn btn-light pull-right" style={style1}
                                        onClick={this.props.switchCreateMode}>Cancel
                                </button>
                            </div>
                        </div>
                    )
                }
            }

            render() {
                return (
                    <div id="tickets-list-container">
                        {this.props.isEpic ? this.props.epicTickets.map((ticket) => <TicketBar key={ticket.id}
                                                                                               ticket={ticket}/>) : this.props.subTaskTickets.map((ticket) =>
                            <TicketBar key={ticket.id} ticket={ticket}/>)}
                        {this.props.inCreateMode ? this.renderNewTicketMode() : this.renderNormalMode()}
                    </div>
                )
            }
        }


        class LinkingModuleHead extends React.Component {
            constructor(props) {
                super(props);

                this.state = {
                    heading: this.props.isEpic ? "Issues in the epic" : "Subtasks"
                }
            }

            render() {

                const style1 = {
                    fontSize: "24px",
                    cursor: "pointer"
                }
                return (
                    <div id="linkingmodule_heading" className="mod-header">
                        <button className="aui-button toggle-title" aria-label="Issue Links"
                                aria-controls="linkingmodule" aria-expanded="true" resolved="">
                            <span className="accicon">
                                <i className="fas fa-angle-down rotate-icon"></i>
                            </span>
                        </button>
                        <div className="row">
                            <div className="col">
                                <p className="font-weight-bold">{this.state.heading}</p>
                            </div>
                            <div className="col-auto">
                                <i className="fa fa-plus-square float-right"
                                   style={style1} onClick={this.props.switchCreateMode}
                                ></i>
                            </div>
                        </div>
                    </div>
                );
            }
        }

        class LinkingModuleComponent extends React.Component {
            constructor(props) {
                super(props);
                this.state = {
                    isEpic: '{{ ticket.issueType.code }}' === 'EPIC',
                    inCreateMode: false,
                    epicTickets: eval('{{ epicTickets|safe }}'),
                    subTaskTickets: eval('{{ subTaskTickets|safe }}')
                }

                this.switchCreateMode = this.switchCreateMode.bind(this)
                this.fetchEpicTasks = this.fetchEpicTasks.bind(this)
                this.fetchSubTasks = this.fetchSubTasks.bind(this)
            }

            fetchEpicTasks() {
                fetch('{% url 'jira:ticketsForEpicTicketApiEventVersion1Component' ticketId=ticket.id %}')
                    .then(response => response.json())
                    .then(data => this.setState({
                        epicTickets: data.data.tickets
                    }))
            }

            fetchSubTasks() {
                fetch('{% url 'jira:subTaskTicketsForTicketApiEventVersion1Component' ticketId=ticket.id %}')
                    .then(response => response.json())
                    .then(data => this.setState({
                        subTaskTickets: data.data.tickets
                    }))
            }

            switchCreateMode = () => {
                this.setState({
                    inCreateMode: !this.state.inCreateMode
                })
            }

            render() {
                return (
                    <div>
                        <LinkingModuleHead isEpic={this.state.isEpic} inCreateMode={this.state.inCreateMode}
                                           switchCreateMode={this.switchCreateMode}/>
                        <br></br>
                        <LinkingModuleBody isEpic={this.state.isEpic} inCreateMode={this.state.inCreateMode}
                                           switchCreateMode={this.switchCreateMode} epicTickets={this.state.epicTickets}
                                           fetchEpicTasks={this.fetchEpicTasks} fetchSubTasks={this.fetchSubTasks}
                                           subTaskTickets={this.state.subTaskTickets}/>
                    </div>
                );
            }
        }

        class CommentComponent extends React.Component {
            constructor(props) {
                super(props);

                this.state = {
                    icon: this.props.comment.creator.icon ? this.props.comment.creator.icon : "https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png",
                    edited: this.props.comment.edited ? "(edited)" : "",
                }
            }

            render() {
                const style2 = {
                    maxWidth: "4%"
                }
                return (
                    <div className="row">
                        <div className="col-1" style={style2}>
                            <span className="aui-avatar aui-avatar-small">
                                <span className="aui-avatar-inner">
                                    <img alt="Unassigned"
                                         src={this.state.icon}>
                                    </img>
                                </span>
                            </span>
                        </div>
                        <div className="col-11">
                            <div className="row">
                                {this.props.comment.creator.firstName} {this.props.comment.creator.lastName} {this.props.comment.createdDttm} {this.state.edited}
                            </div>
                            <div className="row">
                                {this.props.comment.comment}
                            </div>
                        </div>
                    </div>
                )
            }
        }

        class TicketCommentComponent extends React.Component {
            constructor(props) {
                super(props);
                this.state = {
                    ticketComments: eval('{{ ticketComments|safe }}'),
                }
            }

            render() {
                return (
                    <div>
                        {this.state.ticketComments.map((comment) => <CommentComponent key={comment.id}
                                                                                      comment={comment}/>)}
                    </div>
                )
            }
        }

        ReactDOM.render(<LinkingModuleComponent/>, document.getElementById('linkingmodule'));
        ReactDOM.render(<TicketCommentComponent/>, document.getElementById('div-id-ticket-master-comment'));
    </script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}