{% extends "core/base.html" %}
{% load static %}
{% block content %}
    <div class="d-flex justify-content-center mt-5">
        <div class="card idCardNarrowComponent">
            <div class="card-body">
                <h4 class="heading-h2 text-center">Error</h4>
                <div class="text-muted text-center small">Something went wrong, please re-request the link.
                </div>
                <hr>
                <a href="{% url 'core:index-view' %}">
                    <button type="submit" class="btn btn-primary btn-block">Home</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
