{% extends "core/base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
{% load templateTags %}
{% block content %}
    <style>
        .column-status-style {
            background-color: rgba(0, 123, 255, 0.1);
            border: 2px dotted rgba(0, 123, 255, 0.6);
            border-radius: 0.5rem;
            padding: 1.5rem;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.6/Sortable.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/avatars-icons.css' %}"/>
    <div class="container-fluid d-flex justify-content-center mt-5" style="color: black;">
        <div class="card" id="idCardWideComponent">
            <legend>
                <h2 class="heading-h2 text-center">{{ board.name }} Backlog</h2>
            </legend>
            <div class="row">
                <br>
                <div class="card" style="width: 105%; background-color: #e7eaee">
                    <div class="card-body w-100" style="padding-left: 2%; padding-right: 2%;">
                        <small class="card-title"><strong>In Progress</strong></small>
                        <br><br>
                        <ul class="list-group list-group-flush ticket-group-container in-progress-ticket-container">
                            {% for column in inProgressColumns %}
                                {% for columnStatus in column.columnStatus.all %}
                                    <span class="column-status-elm" draggable="false"
                                          identifier="{{ columnStatus.id }}">
                                            <p class="card-text column-status-name-element text-center"
                                               style="display: none;">
                                                {{ columnStatus.name }}
                                            </p>
                                        {% for ticket in columnStatus.columnStatusTickets.all %}
                                            {% if  columnStatus.column.status != 'DONE' or columnStatus.column.status == 'DONE' and ticket.modifiedDateTime.date >= twoWeeksAgo %}
                                                {% ticketHorizontalBarComponent ticket %}
                                            {% endif %}
                                        {% endfor %}
                                        </span>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <br>
                <div class="card" style="width: 105%; background-color: #e7eaee">
                    <div class="card-body w-100" style="padding-left: 2%; padding-right: 2%;">
                        <small class="card-title"><strong>Backlog</strong></small>
                        <br><br>
                        <ul class="list-group list-group-flush ticket-group-container backlog-ticket-container">
                            {% for column in backlogColumns %}
                                {% for columnStatus in column.columnStatus.all %}
                                    <span class="column-status-elm" draggable="false"
                                          identifier="{{ columnStatus.id }}">
                                            <p class="card-text column-status-name-element text-center"
                                               style="display: none;">
                                                {{ columnStatus.name }}
                                            </p>
                                        {% for ticket in columnStatus.columnStatusTickets.all %}
                                            {% ticketHorizontalBarComponent ticket %}
                                        {% endfor %}
                                        </span>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="application/javascript">
        $(document).ready(function () {
            document.querySelectorAll('.column-status-elm').forEach(function (el) {
                new Sortable(el, {
                    group: {
                        name: 'shared',
                        pull: true,
                        put: true
                    },
                    animation: 150,
                    draggable: 'li',
                    sort: true,
                    onMove: function (evt) {
                        document.querySelectorAll('.column-status-elm').forEach(el => {
                            el.classList.add('card', 'column-status-style');
                        });

                        document.querySelectorAll('.column-status-name-element').forEach(el => {
                            el.style.display = 'block';
                        });

                        // below hides other tickets when changing ticket's column status.
                        const selectedTicket = evt.dragged.getAttribute('identifier');
                        document.querySelectorAll('.ticket-object-component').forEach(el => {
                            if (el.getAttribute('identifier') !== selectedTicket)
                                el.style.display = 'none';
                        });
                    },
                    onEnd: function (evt) {
                        document.querySelectorAll('.column-status-elm').forEach(el => {
                            el.classList.remove('card', 'column-status-style');
                        });

                        document.querySelectorAll('.ticket-object-component').forEach(el => {
                            el.style.display = 'block';
                        });

                        document.querySelectorAll('.column-status-name-element').forEach(el => {
                            el.style.display = 'none';
                        });

                        const fromColumn = evt.from.getAttribute('identifier');
                        const toColumn = evt.to.getAttribute('identifier');
                        if (fromColumn === toColumn)
                            return;

                        const ctx = {
                            'ticket-ids': [evt.item.getAttribute('identifier')],
                            'column-status-id': evt.to.getAttribute('identifier'),
                        };

                        fetch('{% url 'core:ticketColumStatusApiVersion1' %}', {
                            method: 'PUT',
                            headers: {
                                'Content-type': 'application/json',
                                'X-CSRFToken': getCookie('csrftoken')
                            },
                            body: JSON.stringify(ctx)
                        }).then((response) => response.json())
                            .then((json) => {
                                console.log(json);
                            })
                    }
                });
            });
        });
    </script>
{% endblock %}
