{% extends "core/base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
{% load templateTags %}
{% block content %}
    <div class="container d-flex justify-content-center mt-5 mb-5" style="color: black;">
        <div class="card idCardWideComponent">
            <legend>
                <h2 class="heading-h2 text-center">Boards</h2>
                <button type="button" class="btn btn-sm float-right mr-2" id="add-board-btn">Add Board</button>
            </legend>
            <form method="post" class="p-4" id="form-id-new-board"
                  style="display: {% if form.errors %}block{% else %}none{% endif %}">
                {% csrf_token %}
                {% for field in form %}
                    {% renderFormFields field %}
                    {% for error in field.errors %}
                        <p class="text-center" style="color: red;"><small>{{ error }}</small></p>
                    {% endfor %}
                    <br>
                {% endfor %}

                <div class="text-right">
                    <input type="button" class="btn btn-sm btn-cancel" id="close-board-btn" value="Cancel">
                    <input type="submit" class="btn btn-sm btn-submit" value="Submit">
                </div>
            </form>

            <div class="form-row align-items-center mt-4 flex-nowrap">
                <div class="col-2">
                    <input type="text" name="query" class="form-control form-control-sm" placeholder="Search"
                           value="{{ request.GET.query }}">
                </div>
                <div class="col d-flex justify-content-between" id="filter-list"></div>
                <div class="col-auto ml-auto d-flex align-items-center float-right" id="filter-toggle-container">
                    <button type="button" class="btn btn-sm btn-submit">
                        Search
                    </button>
                </div>
            </div>

            <table id="boardsTable" class="table table-sm table-bordered table-hover" style="width: 100%">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Admins</th>
                    <th>Members</th>
                    <th>Type</th>
                    <th>Visibility</th>
                    <th>Project</th>
                </tr>
                </thead>
                <tbody>
                {% for board in boards %}
                    <tr>
                        <td>
                            <a href="{% url 'core:board-view' url=board.url %}">{{ board.name }}</a>
                        </td>
                        <td>
                            {% renderSingleOrGroupUserAvatars board.admins.all %}
                        </td>
                        <td>
                            {% renderSingleOrGroupUserAvatars board.members.all %}
                        </td>
                        <td>
                            <span class="badge badge-{% if board.type == 'KANBAN' %}primary{% else %}secondary{% endif %}">
                                {{ board.get_type_display }}
                            </span>
                        </td>
                        <td>
                            <span class="badge badge-{% if board.isPrivate %}danger{% else %}success{% endif %}">
                                {% if board.isPrivate %}Private{% else %}Public{% endif %}
                            </span>
                        </td>
                        <td>
                            <a href="{% url 'core:project-view' url=board.project.url %}">{{ board.project.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% paginationComponent request boards %}
        </div>
    </div>

    <script src="{% static 'js/multi-filter-controller.js' %}"></script>
    <script type="application/javascript">
        function initialiseBoardForm() {
            const newBoardBtn = document.getElementById('add-board-btn');
            const closeBoardBtn = document.getElementById('close-board-btn');
            const newBoardForm = document.getElementById('form-id-new-board');

            newBoardBtn.addEventListener('click', function () {
                newBoardForm.style.display = (newBoardForm.style.display === 'none' || newBoardForm.style.display === '') ? 'block' : 'none';
            });

            closeBoardBtn.addEventListener('click', function () {
                newBoardForm.style.display = 'none';
            });

        }

        function initialiseDataTable() {
            $("#boardsTable").DataTable({
                responsive: true,
                autoWidth: true,
                paging: false,
                searching: false,
                ordering: true,
                info: false,
                scrollX: true,
            });
        }

        function initialiseSelect2() {
            document.querySelectorAll('.select2bs4').forEach(selectElement => {
                $(selectElement).select2();
            });
        }

        function runSearch(filter) {
            const query = document.querySelector('[name="query"]').value.trim();
            const params = new URLSearchParams();
            if (query) params.append('query', query);

            const selections = filter.getSelections();
            Object.keys(selections).forEach(k => params.append(k, selections[k].join(',')));
            window.location.href = `${'{% url "core:boards-view" %}'}?${params.toString()}`;
        }

        document.addEventListener('DOMContentLoaded', function () {
            initialiseBoardForm();
            initialiseDataTable();
            initialiseSelect2();

            const filter = new MultiFilterController({
                filterListEl: document.getElementById('filter-list'),
                filterToggleContainerEl: document.getElementById('filter-toggle-container'),
                filters: [
                    {
                        name: 'type',
                        urlParam: 'type',
                        data: [{key: 'KANBAN', value: 'Kanban'}, {key: 'SCRUM', value: 'Scrum'}]
                    },
                    {
                        name: 'visibility',
                        urlParam: 'visibility',
                        data: [{key: 'PUBLIC', value: 'Public'}, {key: 'PRIVATE', value: 'Private'}]
                    },
                    {
                        name: 'project',
                        urlParam: 'project',
                        fetchUrl: '{% url "core:projectListApiVersion1" %}'
                    }
                ]
            });

            document.querySelector('#filter-toggle-container .btn-submit').addEventListener('click', () => {
                runSearch(filter);
            });

            document.querySelector('input[name="query"]').addEventListener('keydown', function (event) {
                if (event.key === 'Enter') {
                    runSearch(filter);
                }
            });

        });
    </script>
{% endblock %}
