{% extends "core/base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
{% load templateTags %}
{% block content %}
    <style>
        .form-control.status-name {
            background-color: #f0f0f0;
            border: none;
            outline: none;
        }

        .form-control.status-name:focus {
            border: 2px solid #007bff;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.6/Sortable.min.js" crossorigin="anonymous"></script>
    <div class="container-fluid d-flex justify-content-center mt-5" style="color: black;">
        <div class="card" id="idCardWideComponent">
            <legend>
                <h2 class="heading-h2 text-center">Board - Columns</h2>
                <button type="button" class="btn btn-sm float-right btn-submit" id="save-board-btn">Save Board</button>
                <button type="button" class="btn btn-sm float-right mr-2" id="add-status-btn">Add Status</button>
                <button type="button" class="btn btn-sm float-right mr-2" id="add-column-btn">Add Column</button>
            </legend>
            <form method="post" class="p-4" id="form-id-new-column-form"
                  style="display: {% if columnForm.errors %}block{% else %}none{% endif %}">
                {% csrf_token %}
                {% for field in columnForm %}
                    {% renderFormFields field %}
                    {% for error in field.errors %}
                        <p class="text-center" style="color: red;"><small>{{ error }}</small></p>
                    {% endfor %}
                    <br>
                {% endfor %}

                <div class="text-right">
                    <input type="button" class="btn btn-sm btn-cancel" id="close-column-btn" value="Cancel">
                    <input type="submit" class="btn btn-sm btn-submit" value="Submit">
                    <input type="hidden" name="new-column">
                </div>
            </form>
            <form method="post" class="p-4" id="form-id-new-status-form"
                  style="display: {% if columnStatusForm.errors %}block{% else %}none{% endif %}">
                {% csrf_token %}
                {% for field in columnStatusForm %}
                    {% renderFormFields field %}
                    {% for error in field.errors %}
                        <p class="text-center" style="color: red;"><small>{{ error }}</small></p>
                    {% endfor %}
                    <br>
                {% endfor %}

                <div class="text-right">
                    <input type="button" class="btn btn-sm btn-cancel" id="close-status-btn" value="Cancel">
                    <input type="submit" class="btn btn-sm btn-submit" value="Submit">
                    <input type="hidden" name="new-status">
                </div>
            </form>
            <div class="row" style="background-color: #e7eaee" id="div-id-board-columns">
                {% for column in board.boardColumns.all %}
                    <div class="col board-column-instance" id="div-id-board-column-{{ column.id }}"
                         identifier="{{ column.id }}"
                         draggable="true">
                        <br>
                        <div class="card" style="width: 105%">
                            <div class="card-body">
                                <h5 class="card-title text-uppercase">
                                    <input class="form-control form-control-sm column-name" type="text"
                                           value="{{ column.name }}" style="background-color: #ffffff; border: none;"
                                           onfocus="this.style.border='2px solid #007bff'"
                                           onblur="this.style.border='none'">
                                </h5>
                                <div class="w-100"
                                     style="height: 10px; background-color: {{ column.getColour }};"></div>
                                <br>
                                <div class="status-list">
                                    {% for status in column.columnStatus.all %}
                                        <div class="card mb-3 status-instance" id="status-{{ status.id }}"
                                             identifier="{{ status.id }}" draggable="true">
                                            <div class="card-body">
                                                <input class="form-control form-control-sm status-name"
                                                       type="text"
                                                       value="{{ status.name }}"
                                                       style="background-color: #ffffff; border: none;"
                                                       onfocus="this.style.border='2px solid #007bff'"
                                                       onblur="this.style.border='none'">
                                                <span class="badge badge-pill badge-primary">{{ status.columnStatusTickets.count }} Issues</span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script type="application/javascript">
        const addColumnBtn = document.getElementById('add-column-btn');
        const addStatusBtn = document.getElementById('add-status-btn');

        const closeColumnBtn = document.getElementById('close-column-btn');
        const closeStatusBtn = document.getElementById('close-status-btn');

        const newColumnForm = document.getElementById('form-id-new-column-form');
        const newStatusForm = document.getElementById('form-id-new-status-form');

        addColumnBtn.addEventListener('click', function () {
            if (newColumnForm.style.display === 'none') {
                newColumnForm.style.display = 'block';
                newStatusForm.style.display = 'none';
            } else {
                newColumnForm.style.display = 'none';
            }
        });

        addStatusBtn.addEventListener('click', function () {
            if (newStatusForm.style.display === 'none') {
                newStatusForm.style.display = 'block';
                newColumnForm.style.display = 'none';
            } else {
                newStatusForm.style.display = 'none';
            }
        });

        closeColumnBtn.addEventListener('click', function () {
            newColumnForm.style.display = 'none';
        });

        closeStatusBtn.addEventListener('click', function () {
            newStatusForm.style.display = 'none';
        });

        const saveBoardBtn = document.getElementById('save-board-btn');
        saveBoardBtn.addEventListener('click', function () {
            const boardColumnsList = document.getElementById('div-id-board-columns');
            let ctx = [];
            boardColumnsList.querySelectorAll('.board-column-instance').forEach((boardColumn, orderNo) => {
                const columnId = boardColumn.getAttribute('identifier');
                const columnName = boardColumn.querySelector('.column-name').value;

                const statusList = boardColumn.querySelector('.status-list');
                let statusData = [];
                statusList.querySelectorAll('.status-instance').forEach((columnStatus, orderNo) => {
                    const columnStatusId = columnStatus.getAttribute('identifier');
                    const statusName = columnStatus.querySelector('.status-name').value;
                    statusData.push({
                        'column-status-id': columnStatusId,
                        'column-status-name': statusName,
                        'order-no': orderNo + 1,
                    })
                })

                ctx.push({
                    'column-id': columnId,
                    'column-name': columnName,
                    'status-data': statusData,
                    'order-no': orderNo + 1,
                })
            });

            fetch('{% url 'core:boardColumnAndStatusApiVersion1' %}', {
                method: 'PUT',
                headers: {
                    'Content-type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify(ctx)
            }).then((response) => response.json())
                .then((json) => {
                    console.log(json);
                })
        });

        $(document).ready(function () {
            $('.select2bs4').select2();
            new Sortable(document.getElementById('div-id-board-columns'), {
                animation: 150,
                handle: '.card-title',
                draggable: '.col',
                onEnd: function (evt) {
                }
            });
            document.querySelectorAll('.status-list').forEach(function (el) {
                new Sortable(el, {
                    group: 'shared-status-cards',
                    animation: 150,
                    ghostClass: 'sortable-ghost',
                    onEnd: function (evt) {
                    }
                });
            });
        });
    </script>
{% endblock %}
