{% extends "core/base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
{% load templateTags %}
{% block content %}
    <div class="container d-flex justify-content-center mt-5" style="color: black;">
        <div class="card" id="idCardNarrowComponent">
            <legend>
                <h2 class="heading-h2 text-center">Login</h2>
            </legend>
            <form method="post" class="p-4">
                {% csrf_token %}
                {% for field in form %}
                    {% renderFormFields field %}
                    {% for error in field.errors %}
                        <p class="text-center" style="color: red;"><small>{{ error }}</small></p>
                    {% endfor %}
                    <br>
                {% endfor %}

                <div class="text-right">
                    <input type="reset" class="btn btn-sm btn-reset" value="Reset">
                    <input type="submit" class="btn btn-sm btn-submit" value="Submit">
                </div>
            </form>
            <div class="text-muted text-center">
                Forgot your password? <a href="{% url 'core:forgot-password-view' %}">Reset Here</a>
            </div>
        </div>
    </div>
{% endblock %}
