{% extends "core/base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
{% load templateTags %}
{% block content %}
    <div class="container-fluid justify-content-center mt-5" style="color: black;">
        <div class="card idCardWideComponent">
            <legend>
                <h2 class="heading-h2 text-center">Tickets</h2>
            </legend>
            <form method="get">
                <div class="row">
                    <div class="col">
                        <input class="form-control form-control-sm" type="text" id="search-input"
                               placeholder="Search tickets" value="{{ request.GET.query }}">
                    </div>
                    <div class="col">
                        <select class="form-control form-control-sm" id="project-list"></select>
                    </div>
                    <div class="col">
                        <select class="form-control form-control-sm" id="type-list"></select>
                    </div>
                    <div class="col">
                        <select class="form-control form-control-sm" id="priority-list"></select>
                    </div>
                    <div class="col">
                        <select class="form-control form-control-sm" id="assignee-list"></select>
                    </div>
                    <div class="col">
                        <select class="form-control form-control-sm" id="reporter-list"></select>
                    </div>
                    <div class="col-md-auto">
                        <button type="button" class="btn btn-sm float-right btn-submit" id="search-tickets-btn">
                            Search
                        </button>
                    </div>
                </div>
            </form>
            <div class="p-2"></div>
            <table id="ticketsTable" class="table table-sm table-bordered table-hover" style="color: black;">
                <thead>
                <tr>
                    <th>T</th>
                    <th>Key</th>
                    <th>Summary</th>
                    <th>Assignee</th>
                    <th>Reporter</th>
                    <th>P</th>
                    <th>Status</th>
                    <th>Created date</th>
                    <th>Updated Date</th>
                </tr>
                </thead>
                <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <td>
                            <img src="{{ ticket.ticketTypeIcon }}" width="20px"
                                 title={{ ticket.get_type_display }} class="img-rounded" loading="lazy"
                                 style="margin-left: 10px"/>
                            <span style="display: none;">{{ ticket.get_type_display }}</span>
                        </td>
                        <td>{{ ticket.url }}</td>
                        <td>
                            <a href="{{ ticket.getUrl }}">{{ ticket.summary }}</a>
                        </td>
                        <td>
                            {% renderSingleOrGroupUserAvatars ticket.assignee %}
                        </td>
                        <td>
                            {% renderSingleOrGroupUserAvatars ticket.reporter %}
                        </td>
                        <td>
                            <img src="{{ ticket.ticketPriorityIcon }}" width="20px"
                                 title={{ ticket.get_priority_display }} class="img-rounded" loading="lazy"
                                 style="margin-left: 10px"/>
                            <span style="display: none;">{{ ticket.get_priority_display }}</span>
                        </td>
                        <td>
                            <h6>
                                <span class="badge"
                                      style="background-color: {{ ticket.columnStatus.column.getColour }}; color: white;">
                                    {{ ticket.columnStatus.name }}
                                </span>
                            </h6>
                        </td>
                        <td>{{ ticket.createdDateTime|date:"d M Y" }}</td>
                        <td>{{ ticket.modifiedDateTime|date:"d M Y" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script type="application/javascript">
        function initialiseDataTable() {
            const ticketsTable = document.getElementById('ticketsTable');
            new DataTable(ticketsTable, {
                responsive: true,
                autoWidth: false,
                paging: true,
                searching: true,
                ordering: true,
                info: false,
                pageLength: 18,
            });
            document.getElementById('ticketsTable_length').remove();
        }

        function getNonEmptyOptionsCount(dropdownElement) {
            const options = dropdownElement.options;
            let nonEmptyCount = 0;
            for (let i = 0; i < options.length; i++) {
                if (options[i].value !== "") {
                    nonEmptyCount++;
                }
            }
            return nonEmptyCount;
        }

        function initialiseAndSetProjectListDropdown() {
            const projectListDropdown = document.getElementById('project-list');
            projectListDropdown.addEventListener('click', function () {
                const optionCount = getNonEmptyOptionsCount(projectListDropdown);
                if (optionCount !== 0)
                    return;

                fetch('{% url 'core:projectListApiVersion1' %}', {
                    method: 'GET',
                }).then((response) => response.json())
                    .then((response) => {
                        response.forEach(o => {
                            const option = document.createElement('option');
                            option.value = o.code;
                            option.textContent = o.name;
                            projectListDropdown.appendChild(option);
                        });
                    });
            });
        }

        function initialiseAndSetTypeListDropdown() {
            const typeListDropdown = document.getElementById('type-list');
            typeListDropdown.addEventListener('click', function () {
                const optionCount = getNonEmptyOptionsCount(typeListDropdown);
                if (optionCount !== 0)
                    return;

                fetch('{% url 'core:ticketTypeListApiVersion1' %}', {
                    method: 'GET',
                }).then((response) => response.json())
                    .then((response) => {
                        response.forEach(o => {
                            const option = document.createElement('option');
                            option.value = o.code;
                            option.textContent = o.label;
                            typeListDropdown.appendChild(option);
                        });
                    });
            });
        }

        function initialiseAndSetPriorityListDropdown() {
            const priorityListDropdown = document.getElementById('priority-list');
            priorityListDropdown.addEventListener('click', function () {
                const optionCount = getNonEmptyOptionsCount(priorityListDropdown);
                if (optionCount !== 0)
                    return;

                fetch('{% url 'core:ticketPriorityListApiVersion1' %}', {
                    method: 'GET',
                }).then((response) => response.json())
                    .then((response) => {
                        response.forEach(o => {
                            const option = document.createElement('option');
                            option.value = o.code;
                            option.textContent = o.label;
                            priorityListDropdown.appendChild(option);
                        });
                    });
            });
        }

        function initialiseAndSetBothAssigneeAndReporterListDropdown() {
            const assigneeListDropdown = document.getElementById('assignee-list');
            const reporterListDropdown = document.getElementById('reporter-list');

            function populateDropdown(dropdown, data) {
                data.forEach(o => {
                    const option = document.createElement('option');
                    option.value = o.id;
                    option.textContent = o.first_name + " " + o.last_name;
                    dropdown.appendChild(option);
                });
            }

            let userListFetched = false;
            let userListData = [];

            function fetchUserList() {
                return fetch('{% url 'core:userListApiVersion1' %}', {
                    method: 'GET',
                }).then((response) => response.json())
                    .then((response) => {
                        userListData = response;
                        userListFetched = true;
                        populateDropdown(assigneeListDropdown, userListData);
                        populateDropdown(reporterListDropdown, userListData);
                    });
            }

            function handleDropdownClick() {
                const assigneeListOptionCount = getNonEmptyOptionsCount(assigneeListDropdown);
                const reporterListOptionCount = getNonEmptyOptionsCount(reporterListDropdown);
                if (!userListFetched) {
                    fetchUserList();
                } else {
                    if (assigneeListOptionCount === 0) {
                        populateDropdown(assigneeListDropdown, userListData);
                    }

                    if (reporterListOptionCount === 0) {
                        populateDropdown(reporterListDropdown, userListData);
                    }
                }
            }

            assigneeListDropdown.addEventListener('click', handleDropdownClick);
            reporterListDropdown.addEventListener('click', handleDropdownClick);
        }

        function initialiseAndHandleTicketSearchForm() {
            document.getElementById('search-tickets-btn').addEventListener('click', function () {
                /*
                let url = new URL(window.location.href);

                const projectList = document.getElementById('project-list');
                const typeList = document.getElementById('type-list');
                const priorityList = document.getElementById('priority-list');
                const assigneeList = document.getElementById('assignee-list');
                const reporterList = document.getElementById('reporter-list');

                const selectedProjects = Array.from(projectList.selectedOptions).map(option => option.value);
                const selectedTypes = Array.from(typeList.selectedOptions).map(option => option.value);
                const selectedPriorities = Array.from(priorityList.selectedOptions).map(option => option.value);
                const selectedAssignees = Array.from(assigneeList.selectedOptions).map(option => option.value);
                const selectedReporters = Array.from(reporterList.selectedOptions).map(option => option.value);

                if (selectedProjects.length > 0) {
                    url.searchParams.set('projects', selectedProjects.join(','));
                }

                if (selectedTypes.length > 0) {
                    url.searchParams.set('types', selectedTypes.join(','));
                }

                if (selectedPriorities.length > 0) {
                    url.searchParams.set('priorities', selectedPriorities.join(','));
                }

                if (selectedAssignees.length > 0) {
                    url.searchParams.set('assignees', selectedAssignees.join(','));
                }

                if (selectedReporters.length > 0) {
                    url.searchParams.set('reporters', selectedReporters.join(','));
                }

                // window.location.href = url.href;
                 */
            });
        }

        document.addEventListener('DOMContentLoaded', function () {
            initialiseDataTable();
        });
    </script>
{% endblock %}
